[2015-09-15 21:00] jcfr opened #1 "Standard python package layout"
@fedorov Assuming the package won't depend on Slicer, I would suggest to organize it a standard python package.

See https://github.com/pypa/sampleproject and https://packaging.python.org/en/latest/distributing/

[2015-09-26 18:14] fedorov opened #3 "Migrate documentation for individual functions from the HeterogeneityCAD wiki"
As described in the comments to #2, a lot of functions are thoroughly documented on this page: http://www.slicer.org/slicerWiki/index.php/Documentation/Nightly/Modules/HeterogeneityCAD. These descriptions should be added to the code as docstrings.

[2015-10-22 19:57] fedorov opened #6 "Revise communication of feature computation results back to the caller"
Currently, result of feature computation is communicated as a flat dictionary of shortFeatureName:value pairs: https://github.com/Radiomics/pyradiomics/blob/master/radiomics/base.py#L42-L45

It will probably be better if instead we map feature name to a structure that includes not only the value of the feature, but also the inputs and parameters used to get to this number. This helps with data pro

[2015-12-18 17:06] fedorov opened #14 "Laplacian smoothing filter options"
ITK filter has SetNormalizeAcrossScale = false by default. Make sure this is corrected to True if needed when LoG is integrated into the new classes.

http://www.itk.org/Doxygen/html/classitk_1_1LaplacianRecursiveGaussianImageFilter.html#a35e2271327e14dc69b8e8371839b9883

[2015-12-18 17:28] fedorov opened #15 "Establish mapping between Matlab features and pyradiomics features"
Also revise the names to make them as readable as possible

[2015-12-18 17:29] fedorov opened #16 "Add bin (and other?) parameters to the constructor"
Default bin width should be 25

Related issue pointed out by JC: http://pythontips.com/2013/08/04/args-and-kwargs-in-python-explained/

[2015-12-18 17:30] fedorov opened #17 "Add LoG to preprocessing"

[2015-12-23 18:44] vnarayan13 opened #18 "Add checks to ensure image and label correspondence"
Add checks (in base class?):
1) image and label have similar (within tolerance) base pixel spacing
2) image and label have similar origins (does this vary with dimension?)
3) image and label have similar 3-space orientation (space directions in nrrd header?)
4) image and label have similar dimensions (not necessary, but need to somehow check registration)

[2015-12-24 16:05] #1 closed, assigned to fedorov

[2015-12-30 14:51] #16 closed, assigned to fedorov

[2016-01-15 21:16] fedorov opened #26 "Initial testing framework setup"
Nicole, this is just a placeholder to put all testing-related issues and keep track of status.

One idea I've just had (in addition to the other things we discussed before) is to also include tests that confirm that the development practices are followed. For example, we can have a test that confirms that docstrings are not empty for all feature getters.

[2016-01-31 16:23] #17 closed, assigned to fedorov

[2016-02-04 20:22] #26 closed, assigned to naucoin

[2016-02-04 20:29] fedorov opened #34 "Investigate the use of parameterization to simplify testing"
nose-parameterized plugin information: https://pypi.python.org/pypi/nose-parameterized/
looks like exactly what we need: http://stackoverflow.com/questions/30874795/use-class-method-in-nose-parameterize-expand-call
please compare with the capabilities of nose2 that seems to include parameterization natively, and whether it is better to switch to nose2 instead of using the parameterization plugin:

[2016-02-04 20:29] fedorov opened #35 "Add feature tests that include LoG"
add corresponding checks to the test utils/classes

[2016-03-31 19:20] #34 closed, assigned to naucoin

[2016-04-06 14:19] fedorov opened #44 "Add requirements.txt with the versioned dependencies"

[2016-04-06 14:36] jcfr opened #45 "Improve testing output"
@naucoin  If the expected vs current output of a test is more than one value, you could display the diff between two files doing something like this: https://github.com/kripken/emscripten/blob/07b87426f898d6e9c677db291d9088c839197291/tests/runner.py#L460

[2016-04-26 17:25] naucoin opened #48 "Adding TCGA testing data"
@vnarayan13 has access to 100 patient images and mask files plus Matlab processing output.
Where should this be hosted for testing?
We also need the information to link image file, mask file, Matlab results (patient ID?)

This will be used to test the feature ranking, please add some details here about how that will be generated and tested from this data set.

[2016-04-26 17:28] vnarayan13 opened #49 "Stabilize dynamic binning for Wavelet transform output"
Recompute bin edges and binwidth to maintain consistent bin count for all normalized stationary wavelet transform outputs.

[2016-05-04 14:44] fedorov opened #53 "Investigate integration of formulas into docstrings"
also see

https://pythonhosted.org/an_example_pypi_project/sphinx.html

[2016-05-26 18:57] naucoin opened #56 "Resolve calculation mismatches between Matlab and python code"
Collect information about failing tests.
Calculate features on more TCGA data sets and compare Matlab vs python results.

[2016-06-03 16:44] jcfr opened #60 "Cloning the repository takes some time"
An idea: Before doing a public release and involving a broader community, I would suggest to look for alternative approach to store the binary data.

[code]

May be they could be stored on data.radiomics.io ? Or in a repo named Radiomics/pyradiomics-data ? ...

[2016-06-08 14:16] JoostJM opened #61 "pyradiomics tests always use default settings"
In `test_features` circleci tests all specified features (standard set now only firstorder).
However, when the feature calculation classes are intitialized, no arguments are passed.
Therefore, it will always use the standard settings.
Currently:

`self.binWidth = 25`
`self.resampledPixelSpacing = None # no resampling`
`self.interpolator = sitk.sitkBSpline`
`self.padDistance = 5 # no padding`
`self

[2016-06-08 15:31] JoostJM opened #62 "`imageoperations.interpolateImage` not called"
In `radiomics.base` settings are provide to resample an image.
The actual resampling is then implemented in `imageoperations.interpolateImage`.
However, this function is never called in the code.
It may be that this is applied in some API that is not included in the repository, but I can't find any reference in any of the radiomicsfeatureclasses or in any testclasses.

[2016-07-06 20:54] #53 closed, assigned to fedorov

[2016-07-20 14:30] fedorov opened #81 "Update baselines for first order Uniformity and Entropy"
These should be taken to be the values currently generated by the pyradiomics code implementation. The discrepancy is most likely due to the differences in the binning approach implementation, according to @JoostJM. Consensus was reached in the group that it is not worthwhile to investigate this, but use the pyradiomics implementation.

[2016-07-26 20:36] #81 closed, assigned to naucoin

[2016-07-27 15:05] #61 closed, assigned to naucoin

[2016-07-28 11:10] JoostJM opened #87 "Empty matrix handling"
During testing of #63 testCase breast1 caused an empty glcm matrix for several angles.
How should the code handle this? Currently this empty matrix introduces some NaN-values due to 0-division in normalisation (`P_glcm` is divided by the sum, which is 0 in case of an empty matrix). This is causing all calculated feature values to also return NaN.
Possible solutions would be
- Leave it as it is. Th

[2016-08-03 14:33] fedorov opened #89 "Refactor image resampling out of the base class"
resampling option should be removed from the base class, and instead exposed as a separate preprocessing step, consistently to how LoG and wavelet operations are applied.

[2016-08-05 14:41] #89 closed, assigned to naucoin

[2016-08-25 15:09] JoostJM opened #90 "Perform padding on sitkImage instead of array"
As discussed yesterday, cropping the volume and adding padding should be done on the sitkImage, so as to be able to perform it outside the feature classes and keep information on location of tumor correct.

[2016-08-26 09:23] #62 closed, assigned to fedorov

[2016-08-29 16:37] #35 closed, assigned to naucoin

[2016-08-31 14:35] fedorov opened #96 "Document the process of implementing feature classes and individual features"
issues to cover:
- inherit from base class
- follow conventions for naming feature getters
- adding tests
- adding documentation

[2016-08-31 14:43] fedorov opened #97 "Clear dashboard from failing tests"
https://circleci.com/gh/Radiomics/pyradiomics/66

Most of the failures can be resolved by adding baselines (features added by @JoostJM).

The only feature that is failing and is also implemented in matlab is test_scenario_brain2_glcm_SumSquares.

[2016-09-07 15:13] #97 closed, assigned to nobody

[2016-09-07 15:17] JoostJM opened #100 "Add documentation on feature class at start of class"
Issues to cover:
- Explanation of feature class
- Calculation of data matrix (if applicable)
- Small matrix example
- Possible custom settings (none necessary for currently implemented feature classes)
- References (Article / Wiki / Other URLs)

[2016-09-08 18:10] #56 closed, assigned to naucoin

[2016-09-08 18:10] #15 closed, assigned to naucoin

[2016-09-08 18:10] #3 closed, assigned to naucoin

[2016-09-08 19:02] fedorov opened #101 "Add appveyor and travisci testing"
One example is in https://github.com/qiicr/dcmqi

[2016-09-08 19:03] fedorov opened #102 "Installation instructions"
We need instructions how to install the package, and basic usage example - following helloRadiomics or something simpler.

While adding documentation, please investigate how those pages can be integrated with the sphinx documentation auto-generated from docstrings, so we have all of the documentation in one place and together with the code.

[2016-09-08 19:05] fedorov opened #103 "Debugging wavelet and LoG operations"
It would be helpful to compare the outputs of LoG and wavelet operations (we are not testing those currently) with those implemented in Matlab. At this point, we don't test those at all, and it makes sense to visually compare the outputs before doing the tests.

[2016-09-09 14:18] fedorov opened #104 "Make progress bar optional"
progress bar causes issues while running the code in batch mode

[2016-09-09 14:40] pieper opened #105 "update setup.py with proper attribution and contact info"
@hugoaerts what do you want to have as the contact email?  maybe a mailing list?

[2016-09-09 14:52] fedorov opened #106 "Computation time performance profiling of feature calculation"
Some information that gives user the idea about the relative computation time could be helpful

[2016-09-21 14:16] jcfr opened #110 "Add flake8 and/or pylint check"
Doing so will ensure consistency of the code.

Example: https://github.com/scikit-build/scikit-build/blob/master/.flake8

[2016-09-21 14:17] jcfr opened #111 "Add documentation generation based on sphinx/rst"
A possible example: https://github.com/scikit-build/scikit-build/tree/master/docs

[2016-09-21 14:18] #111 closed, assigned to nobody

[2016-09-26 15:53] JoostJM opened #117 "Use simple ITK labelShapeStatisticsFilter for computation of Shape features"
See also @fedorov's comment in #115.
`SimpleITK.LabelShapeStatisticsImageFilter` exposes most of our shape features (and some we want to add in the future). This would simplify this feature class.

Nearly all features currently in shape.py are based upon volume and surface area and could therefore be calculated if necessary.

Additionally, I think we need to think about the implementation of shape

[2016-09-28 14:28] fedorov opened #118 "Shift value in firstorder"
There is a constant shift of 2000. At the very least, it should be a class constant. But I suggest we parameterize it (it will be irrelevant for MR images, for example), and also revise where it is actually needed (in many instances, intensity values are squared, so this becomes irrelevant).

[2016-09-28 14:59] fedorov opened #119 "Padding size when filtering is applied"
In the situations when, for example, we apply LoG, padding should be added to make sure filtering is possible, and pad size should be calculated as a function of kernel size.

[2016-09-29 19:58] fedorov opened #122 "Confirm all feature classes are being tested"
Currently, testing is not enabled for all of the feature classes due to some of the formulas being debugged. Whenever the implementation is finalized, make sure all feature classes are tested, and close this issue then.

[2016-10-05 14:32] fedorov opened #124 "Command line tool for features/signature computation"
As discussed with Hugo, it will be helpful to have a command-line tool accompanied by a configuration file to select features to be calculated. Given config file, image, and mask, it would output features in a JSON or another format.

[2016-10-11 09:44] JoostJM opened #125 "2D maximum diameters"
Thibaud Coroller asked me whether it was possible to add the maximum diameters in 2D, for correlation with those measured manually by radiologists.
I implemented these, but I'd rather wait with the PR until current issues with `shape` are resolved.

During development I did discover some differences with matlab. These are due to a bug in the matlab code. When the volume is small, matlab calculates

[2016-10-20 07:15] #125 closed, assigned to nobody

[2016-10-20 07:25] #119 closed, assigned to nobody

[2016-10-20 07:27] #122 closed, assigned to nobody

[2016-10-20 07:29] #118 closed, assigned to nobody

[2016-10-20 07:35] #90 closed, assigned to nobody

[2016-10-20 07:36] #87 closed, assigned to nobody

[2016-10-20 07:48] #14 closed, assigned to nobody

[2016-11-02 14:12] JoostJM opened #143 "Provide version information in output"
Pyradiomics / dependencies versions should be passed as part of the output. Probably not logging but maybe as part of the feature table?

[2016-11-04 12:48] blezek opened #151 "Add padding to cropToTumorMask"
For small masks, the result of `cropToTumorMask` can be too small for many of the feature calculations, causing exceptions.  Could `cropToTumorMask` have a `pad` parameter?  My hack looks like this:

[code]

[2016-11-04 20:01] #117 closed, assigned to nobody

[2016-11-04 20:03] #105 closed, assigned to pieper, hugoaerts

[2016-11-04 20:03] #102 closed, assigned to naucoin

[2016-11-09 22:26] #45 closed, assigned to jcfr

[2016-11-10 17:36] JoostJM opened #156 "Degrees of freedom for skewness and kurtosis"
Currently, the standard deviation of the pyradiomics package is calculated with 1 degree of freedom (i.e. the sum of squares is multiplied by 1 / (N-1))
Standard deviation is also used in skewness and kurtosis, to the power of 3 and 4, respectively.
However, in the current version of the package, a standard deviation with 0 degrees of freedom is used (i.e. the sum of squares is multiplied by 1 / (

[2016-11-11 22:15] #104 closed, assigned to nobody

[2016-11-12 12:48] #151 closed, assigned to nobody

[2016-11-23 15:48] #156 closed, assigned to nobody

[2016-11-24 03:36] #124 closed, assigned to nobody

[2016-11-25 17:01] #143 closed, assigned to nobody

[2016-11-25 20:24] JoostJM opened #168 "Versioning at install"
Currently, versioning is added to the folder name of the package when it is installed in site-packages. However, this causes it to create new folders for every new commit that is installed. With pip distributions, it regularly uninstalls older versions of a package before installing the new version.

Will this also happen when pyradiomics is published? Is there another way to specify that the vers

[2017-01-04 16:15] fedorov commented on #101
for the reference - an example of setup of python on appveyor: https://github.com/astropy/conda-builder-affiliated/blob/master/appveyor.yml

[2017-01-04 16:16] #44 closed

[2017-01-04 16:16] #6 closed

[2017-01-04 16:17] fedorov commented on #48
I believe there is no longer a need for this

[2017-01-04 16:17] #48 closed

[2017-01-04 16:19] fedorov commented on #103
As discussed during the release process, we no longer compare pyradiomics results with those from matlab implementation.

[2017-01-04 16:19] #103 closed

[2017-01-10 16:13] haarburger opened #178 "Python 3 compatibility"
Do you see any potential issues for adding python 3 compatibility? As far as I see the dependencies, making pyradiomics compatible with both python 2 and 3 shouldn't be very difficult...

[2017-01-10 20:37] JoostJM opened #179 "Create artificial test cases"
Some extreme cases of certain textures can still cause bugs in the pyradiomics code, but won't be triggered during contiguous testing because the current test cases do not present such a case. Adding certain artificial test cases may address this (for example, a test case containing a flat region).

[2017-01-10 20:38] JoostJM commented on #179
#176

[2017-01-10 20:39] JoostJM commented on #179
Testcases to create:

 - [ ] Flat Region
 - [ ] 2D segmentation, 3D volume
 - [ ] 2D segmentation, 2D volume

[2017-01-11 18:13] JoostJM commented on #178
@Radiomics/developers

[2017-01-11 23:12] JoostJM commented on #178
At the moment I don't see any special issues, but we haven't tested it. Is there a special reason you want to have this?

[2017-01-11 23:13] fedorov commented on #178
http://python3porting.com/

[2017-01-12 08:46] haarburger commented on #178
All my codebase is written in Python 3, so if I want to use your package for a project it is easier to have it in Python 3 as well. I'd be happy to contribute to the project.

[2017-01-12 14:11] JoostJM commented on #100
Last references added by #181

[2017-01-12 14:43] fedorov commented on #178
@haarburger as one of the initial steps, it might make sense to look at whether the dependencies of pyradiomics are compatible with Python 3.

Your contributions are welcomed!

[2017-01-12 15:39] JoostJM commented on #96
Might this be a good idea to add this as an extra heading in the sphinx documentation (e.g. a "developers" section)?

[2017-01-12 15:44] JoostJM commented on #110
@jcfr Can you specify your own convention for flake8? Can you use the editorconfig file for this?

[2017-01-18 16:27] jcfr commented on #168
If a new version of the package is published (e.g 2.0), previous version will be uninstalled.

Do you have a step-by-step scenario allowing to reproduce this ?

[2017-01-25 15:16] JoostJM commented on #179
https://github.com/QTIM-Lab/qtim_tools/blob/master/documentation/iPython_Tutorials/Feature_Extraction_Tutorial.ipynb

[2017-02-06 07:50] #100 closed

[2017-02-09 11:00] kmader opened #189 "Build around Pandas / DataFrames instead of CSVWriter"
The library would be a lot more flexible if it were built around Pandas and DataFrames since they are better suited for looking at collections of data. They also allow for many more export options like json, html, csv, and have better support for types inside columns extendable to figures and arrays

![image](https://cloud.githubusercontent.com/assets/116120/22780515/4c6e8d6c-eebf-11e6-955a-50ef04

[2017-02-13 21:00] #110 closed

[2017-02-13 21:00] jcfr commented on #101
Fixed by https://github.com/Radiomics/pyradiomics/commit/f7a7307aa0a4b6ced5624638151d2bf0c3c82c69

[2017-02-13 21:00] #101 closed

[2017-02-13 21:02] jcfr commented on #110
For references, at the time of 339ca73, the flake8 exceptions are:

[code]

See https://github.com/Radiomics/pyradiomics/blob/master/.flake8

[2017-02-15 01:37] jcfr commented on #178
Closing this issue.

As of https://github.com/Radiomics/pyradiomics/commit/84dc7274f4c217be3512af8a17c70bd992fc23bd, Python3 support has been merged.

[2017-02-15 01:37] #178 closed

[2017-02-15 01:38] jcfr commented on #178
Tests are running for Python2.7, Python3.4 and Python 3.5

[2017-02-16 00:11] jcfr opened #201 "Protection of master branch to avoid inadvertent overwrite"
Here are the settings I just enabled:

![screenshot from 2017-02-15 19-09-54](https://cloud.githubusercontent.com/assets/219043/23001298/9d385d5c-f3b2-11e6-9593-a9f027b7835f.png)

Cc: @Radiomics/developers

[2017-02-16 17:59] fedorov opened #203 "Separation of functionality in pyradiomics and pyradiomicsbatch command line tools"
@Radiomics/developers: is there a good reason to have these two as opposed of having a single pyradiomics command line tool that would support operation for both single input and directory?

Among other things, having a single processing script might help make things more straightforward with Docker deployment.

[2017-02-17 13:20] haarburger opened #204 "calling sitk function with int argument does not work with Python 3"
@jcfr When using Python 3.5, resampling as implemented in [imageoperations.py#L187](https://github.com/Radiomics/pyradiomics/blob/cc788414606f23b1bbd5c6327035ffb9c7bcadc3/radiomics/imageoperations.py#L187) does not work.

[sitk.ResampleImageFilter](https://itk.org/SimpleITKDoxygen/html/classitk_1_1simple_1_1ResampleImageFilter.html#a54442931f33522ca0f7b9a234dc0dba6) accepts uint32_t arguments. In

[2017-02-17 14:31] JoostJM commented on #204
@haarburger, thanks for the heads up! This conversion was giving us trouble before (and fixed it by casting to 'int', but apparently doesn't work for python 3). We'll look into it to make it python 3 compatible. If you find a solution in the meantime, we'd welcome your contribution.

[2017-02-17 14:35] JoostJM commented on #203
@fedorov, I made 2 scripts at first because they represent two types of pyradiomics usage, with the difference mainly being in how the input and output is provided. I think it shouldn't be much of a problem to create 1 script. Main issue would be how to handle the fact that in `pyradiomics`, there are two separate input files required (representing one combination) and in `pyradiomicsbatch`, only

[2017-02-17 14:37] JoostJM commented on #189
@kmader, thanks for the suggestion! We've discussed this with the team and we'll start looking how to best implement this into PyRadiomics.

[2017-02-17 14:40] JoostJM commented on #168
@jcfr, If I install using setup.py, it creates a new folder in site-packages, without first uninstalling the previous version. I don't know how the install from python wheels will work though.

[2017-02-17 14:41] JoostJM commented on #106
Resolved by #202

[2017-02-17 14:41] #106 closed

[2017-02-17 14:44] fedorov commented on #203
We could just have different command line flags, but perhaps you want to simplify by allowing usage when no options are needed. Alternatively, we could make the script automatically detect whether the input is a directory or file. I don't have strong preference, just wanted to discuss this.

[2017-02-17 14:50] haarburger commented on #204
`np.array([1, 2, 3], dtype='int').tolist()` does the trick. I'll create a PR shortly.

[2017-02-17 14:52] JoostJM commented on #203
@fedorov, currently input files are positional arguments, without output file optional (and parameterized) in `pyradiomics` and positional and required in `pyradiomicsbatch`. As to automatically detecting folders, this would not work, as the input for the batch is also a file, not a directory. We could check for extensions, with the extension .csv pointing to batch processing and otherwise to sing

[2017-02-17 22:40] jcfr commented on #204
@blowekamp Would it make sense to improve the wrapping layer to directly understand numpy array as parameter ?

[2017-02-17 23:00] blowekamp commented on #204
The swig wrapping layer does under stand numpy array.  It does not implicitly convert numpy signed integer types to unsigned array types.

[2017-02-18 08:48] haarburger commented on #204
@blowekamp Actually, `np.array([1, 2, 3], dtype='uint32')` was the first thing I tried, but it doesn't work.

[2017-02-18 09:44] JoostJM commented on #204
@haarburger, did you also try 'uint'?

[2017-02-18 12:16] haarburger commented on #204
Yes, doesn't work either.

[2017-02-18 12:47] blowekamp commented on #204
I will have to look into the further. Can you please create a [SimpleITK Issue](https://github.com/SimpleITK/SimpleITK/issues), and include the SimpleITK version, OS, Python Distribute, etc.. where the problem has occurred?

Have you checked if SimpleITK 1.0rc1 has the same issue?

[2017-02-19 00:44] haarburger commented on #204
@blowekamp the problem also occurs with 1.0rc1. I created a SimpleITK issue.

[2017-02-20 22:09] segig opened #208 "six is missing from the import in the "Interactive Use" section of the usage page"
Hi everyone,

six is missing from the import in the "Interactive Use" section of the [Usage](http://pyradiomics.readthedocs.io/en/latest/usage.html) page.

Cheers,

Sébastien

[2017-02-21 07:59] JoostJM commented on #208
@segig, thanks for the headsup! Will be addressed in #207

[2017-02-21 08:18] JoostJM commented on #204
Addressed in #205

[2017-02-21 08:18] #204 closed

[2017-02-22 14:59] jcfr commented on #201
Now @Radiomics/developers are aware of the new settings. I am closing this issue.

[2017-02-22 14:59] #201 closed

[2017-02-22 15:47] fedorov commented on #203
As discussed at the meeting, this is postponed for further discussion and for another release.

[2017-02-22 15:49] fedorov commented on #203
Todo for myself - rebase after v1.1.0 is out

[2017-02-28 05:09] alannavial commented on #203
Could you please provide an example input file for the pyradiomicsbatch command?  The formatting for the batch file is confusing.  It makes sense that you need to provide a path to the image and mask along with a patientID to identify the separate files.  However I don't understand what you are supposed to put for sequence name (image identifier) and 3) reader (segmentation identifier).

"The inpu

[2017-02-28 10:45] JoostJM commented on #203
@alannavial, This is due to the fact that a patient ID alone is not enough. A patient can have more sequences (images, e.g. multiparametric MRI, multiple phase CT) and each image can have multiple segmentations (different structures, different readers). To ensure each extraction has a unique identifier, it is comprised of patient-sequence-segmentation. These are the first three elements of each li

[2017-02-28 21:28] alannavial commented on #203
Hi @JoostJM, thank you for clearing that up.  My main confusion was, what you meant by the terms reader and sequences.  I think it would be best to provide examples of what would go in these fields to make it clearer.  As it is, I'm still unsure by what would go in the reader (segmentation identifier) field.

Also as an additional question, have you looked into adapting your toolbox to read DICOM-

[2017-02-28 21:35] JoostJM commented on #203
@alannavial, simplest example for reader: the filename of the mask.

As to your additional question, we are currently looking into this, but have no support currently. It is possible to build an [extension](https://github.com/Radiomics/slicerradiomics) for 3D slicer which enables use of pyradiomics via the slicer interface. This could potentially be combined with other slicer modules which can rea

[2017-03-01 16:29] JoostJM commented on #208
Resolved by #207

[2017-03-01 16:29] #208 closed

[2017-03-07 13:26] devareddy opened #217 "ImportError: No module named radiomics"
While am trying to run example under bin directory from Jupyter & command prompt am experiencing
"ImportError: No module named radiomics".
Any help in fixing this is appreciated.

Thanks in advance
-Reddy

[2017-03-07 13:30] JoostJM commented on #217
@devareddy, did you install the package using `python setup.py install`?
Additionally, if you have 2 versions of python installed, you need to be careful on which version python is installed and which python version jupyter is running.

[2017-03-07 13:37] devareddy commented on #217
Thanks JoostJM.
Yes i did install using python setup.py install.
Last two lines after running above command:
"Using /usr/local/lib/python2.7/dist-packages"
"Finished processing dependencies for pyradiomics==1.1.0.post5.dev0+g79a84e9"
Am running Jupyter using Python 2.
Am i missing some thing?

[2017-03-07 13:42] JoostJM commented on #217
@devareddy, Did you start jupyter/cmd before you installed the package? If that is the case, you'll need to restart cmd/jupyter (for jupyter, also restart the cmd window), as the install updates the python easy-install path (which python uses to find the package).

If you want to manually check if pyradiomics is installed, go to your python directory, and go to the Lib/site-packages folders. There

[2017-03-07 15:34] devareddy commented on #217
@JoostJM, Thanks for the help.Am able run the example for command line but not from jupyter .
But it is giving an error while running > python helloRadiomics.py
**Error loading C extensions, switching to python calculation:
Traceback (most recent call last):
 File "/home/user/radiomics/pyradiomics/radiomics/__init__.py", line 140, in <module>
    from radiomics import _cmatrices as cMatrices
Impor

[2017-03-07 16:18] JoostJM commented on #217
@devareddy This means that PyRadiomics is loading, but has trouble finding the C compiled extensions.
It is a bug we come across more often, and is caused by the fact that as jupyter is running from within the bin folder with python 2.7, it finds the source code radiomics folder, and not the installed folder. For the python files, this makes no difference. However, the C extensions are only presen

[2017-03-07 17:16] devareddy commented on #217
@JoostJM, Thanks for the help.Am able run the example for command line but not from jupyter .
But it is giving an error while running > python helloRadiomics.py
**Error loading C extensions, switching to python calculation:
Traceback (most recent call last):
 File "/home/user/radiomics/pyradiomics/radiomics/__init__.py", line 140, in <module>
    from radiomics import _cmatrices as cMatrices
Impor

[2017-03-07 17:19] devareddy commented on #217
@JoostJM , Perfect and Thanks a lot.
 Am able to run samples.
Thanks once again.
-Reddy

[2017-03-08 08:11] #217 closed

[2017-03-16 10:11] JoostJM commented on #96
resolved by #216

[2017-03-16 10:11] #96 closed

[2017-03-22 10:07] JoostJM commented on #18
In #223, I added some checks (including thoses suggested here). The checks described here are applied by SimpleITK when the bounding box is calculated using the `LabelStatisticsImageFilter`, with tolerance specified in the `ProcessObject`.

In addition to these checks, also checks some size constraints (can't extract features from a single voxel).

2 points with these checks:

1. checks will fail

[2017-03-22 10:08] JoostJM commented on #18
What would be possible is to use the same `LabelStatisticsImageFilter` during resampling (also requires the bounding box). This would do the geometry check also before resampling...

[2017-03-26 20:20] GengboLiu opened #226 "itk::ERROR: LabelStatisticsImageFilter(0x7fcabf404910): Inputs do not occupy the same physical space"
I established the pyradiomics environment on my mac. And it is able to run the sample code PyRadiomics Example.ipynb. However, after I changed the input data into my PET and segmentation file both in nrrd format, I got the error as follow:

RuntimeError: Exception thrown in SimpleITK LabelStatisticsImageFilter_Execute: /scratch/dashboards/SimpleITK-OSX10.6-x86_64-pkg/SimpleITK-build/ITK-prefix/inc

[2017-03-26 21:00] JoostJM commented on #226
This is a known error due to the small tolerance set by SimpleITK by default. See the [FAQ Section](http://pyradiomics.readthedocs.io/en/latest/faq.html) of the online documentation. You can find more details on this error under question " *When I try to extract features, I get an error stating that image and mask do not occupy the same space* ".

[2017-03-26 21:04] JoostJM commented on #226
For resampling the mask to the image coordinate space, as is mentioned as an alternative in the FAQ, an example is provided in `bin\resampleMask.py`

[2017-03-27 01:16] GengboLiu commented on #226
Thank you very much for the contribution

[2017-03-27 06:53] #226 closed

[2017-03-27 06:54] JoostJM commented on #18
resolved by #223

[2017-03-27 06:54] #18 closed

[2017-03-29 14:14] JoostJM opened #230 "Remove non-core dependencies"
To keep number of requirements down, remove dependencies that are not needed for (regular) use of core functions.

*  [x] Move nose dependencies to requirements-dev
*  [ ] Move Sphinx dependencies to requirements-docs
*  [x] Remove dependency of tqdm

[2017-03-29 14:22] jcfr commented on #230
For now, I think having them in `requirements-dev.txt` is good enough. I may revisit things while working on the Slicer radiomics  integration.

[2017-03-29 14:26] jcfr commented on #230
For progress reporting, I also like the idea of context manager.
See http://pocco-click.readthedocs.io/en/latest/utils.html#showing-progress-bars and https://github.com/girder/girder/blob/834cf29acc3538b38ba24e6e7203852924110843/clients/python/girder_client/__init__.py#L823

[2017-03-29 15:42] JoostJM commented on #230
The problem is not so much that tqdm does not work as we expect, just that it is yet another dependency, but one that is nearly never used (only used in full-python mode for 2 of the 5 feeature classes)

[2017-03-29 15:54] JoostJM commented on #189
@kmader, I've added an example of how you can use pandas to process the result of PyRadiomics in PR #228 . It is not needed for data handling inside PyRadiomics and the returned result from the feature extractor can easily be converted to a pandas Series, thereby removing the need to rewrite a lot of source code and have pandas as an additional dependency.

In PR #225 pandas is used much more exte

[2017-03-29 16:42] JoostJM commented on #230
Removal of `tqdm` dependency addressed by #232

[2017-03-29 16:46] JoostJM commented on #230
I looked at your code, really nice! I will see how to adapt this to PyRadiomics. In the mean time I opened a PR which now exposes a kind of quick-and-dirty fix.

[2017-03-30 10:08] JoostJM commented on #230
@jcfr, I took your example with a dummy progress reporter in girder and adapted it to PyRadiomics. I tested it with both `tqdm` (can be used directly) and `click` (used in a simple wrapper class). I also pass the iterable (gray levels) to the progress bar instead of a length and calls to `update`, because this was more similar between `tqdm` and `click`.

[2017-04-10 15:37] GengboLiu opened #237 "the GLCM matrix created by LLL filter coiflet wavelet is too big"
When I was trying to extract GLCM wavelet feature, the memory run out at LLL filter coiflet wavelet on some patients. But the code work for other patients. I think that because the mask size is different, the patient with big size mask may need more space to store GLCM. I am wondering if there are any suggestions to deal with this situation.

[2017-04-11 13:09] JoostJM commented on #237
@GengboLiu, can you send the traceback of the error?
What kind of hardware are you using?

When the wavelet is calculated, all derivatives are made before features are calculated (7 images per level + 1 approximation). Aside from that, the GLCM will have size numGraylevels ^ 2 x number of angels (13 in 3D). As LLL is the approximation, the number of gray levels will be similar to those for the ori

[2017-04-12 07:16] devareddy opened #239 "Error while running PyRadiomics Example.ipynb for a new .nrrd label file created from Slicer tool"
While i am trying to generate radiomic features from a lung tumor created from Slicer tool in the form of label .nrrd , am seeing the below error.
RuntimeError: Exception thrown in SimpleITK LabelShapeStatisticsImageFilter_GetBoundingBox: /tmp/SimpleITK-build/ITK-prefix/include/ITK-4.10/itkLabelMap.hxx:152:
itk::ERROR: LabelMap(0x3761f30): No label object with label 1.

Interestingly,  am able to

[2017-04-12 08:14] JoaoSantinha commented on #239
Hi does your label contain the value 1? pyradiomics by default will analyse the labels with value 1. If that is not your case maybe you can relabel it or change the label value.

Example of where the label 1 is used - http://pyradiomics.readthedocs.io/en/latest/_modules/radiomics/imageoperations.html#cropToTumorMask

Hope it helps ;)

Joao

[2017-04-12 11:17] devareddy commented on #239
Dear Joao,

Thanks for the reply.
Jut verified,featureextarctor.py has label value by default as 1.
I am still wondering why am i getting this error.
Same helloRadiomics.py is working for the examples shipped with software.
Surprisingly,  helloRadiomics.py is not working for the new label .nrrd file i generated using Slicer.
Am i missing something?
Your help is highly appreciated.

-D

[2017-04-12 13:37] fedorov commented on #239
@devareddy not sure why this would be.

Can you please describe how you create the label, and how you save it?

When you say you can generate features in HeterogenetyCAD in Slicer - can you generate features using SlicerRadiomics module (see https://github.com/radiomics/SlicerRadiomics)? HeterogeneityCAD runs in Slicer, so there is no intermediate step saving the label, perhaps something goes wron

[2017-04-12 14:05] jcfr opened #240 "docker: Self describing image"
I suggest that we update the docker images with metadata allowing to know which CLIs are bundled with it.

An idea would be to add:

[code]

and bundle a `cli_list.json` and a `cli_list.py`

The `cli_list.json` has a simple syntax:

[code]
Then, running the container using:

[code]

will list all display the json file.

And running:

[code]
will allow to execute `batchprocessing` cli.

[code]

wil

[2017-04-12 21:49] pieper commented on #240
LGTM

[2017-04-12 22:04] fedorov commented on #240
JC, where is this syntax formalized?

Is there an example that implements similar functionality using python+ctk_cli? I recall I asked a question related to this in https://github.com/Slicer/Slicer/pull/497, but it looks like that integration never happened.

I would like to see working examples before doing this for pyradiomics.

[2017-04-12 23:27] potis opened #241 "Adding a RESTful api to pyradiomics"
Hi all,

is adding a RESTful api to pyradiomics of interest?
I have created a demo repo
https://github.com/Mayo-QIN/pyradiomics_grunt
You can try it by:
`
docker pull mayoqin/pyradiomics_grunt
`
run
`
docker run -d -p 9001:9901 mayoqin/pyradiomics_grunt
`

Visit localhost 9001

Please let me know if you would like to include something like this to your project.

[2017-04-17 05:24] devareddy commented on #239
@fedorov
I  created  a segmentation as label map using Slicer Editor module and saved it as .nrrd file.
The same file is fed to Pyradiomics as input, giving me an error mentioned above.

-D

[2017-04-17 10:14] JoostJM commented on #239
@devareddy, It is true that the `featureextractor.py` uses label '1' as it's default, but is that also the value of the label in your segmentation labelmap. The error you're experiencing states that there is no segmentation with the value you provided in `label` for your loaded labelmap. Most likely, the segmentation is there, but has been assigned a different value. You can find out which label v

[2017-04-18 14:28] GengboLiu commented on #237
Thank you very much for the advise. It is able to run now. The time it takes beyond my prospection. The LLL filter just take more time than other filters. Therefore it takes more time to run. My hardware is Macbook i7 processor and 16 GB memory.

[2017-04-20 04:02] HIN0209 opened #242 "2D-feature extraction"
In FAQs/"What modalities does PyRadiomics support?", 2D-feature extraction was explained as follows:
3D or slice: Although PyRadiomics supports single slice (2D) feature extraction, the input is still required to have 3 dimensions (where in case of 2D, a dimension may be of size 1).
http://pyradiomics.readthedocs.io/en/latest/faq.html

Could someone describe more clearly what needs to be done? I p

[2017-04-20 12:33] Frank51 opened #243 "About the nrrd image"
I would like to watch the brain1_image directly instead of scan its data, such as watching what is the truly shape of this tumor. Could you please tell me what should I do?   thx !

[2017-04-20 13:22] HIN0209 commented on #243
Fiji can visualize a nrrd image.
https://fiji.sc/

[2017-04-20 13:44] fedorov commented on #242
@HIN0209 it should "just work" automatically. When your input is a 2d image, it should be read as a 3d image with the 3rd dimension size 1.

[2017-04-20 13:53] fedorov commented on #243
@Frank51 can you try to explain a bit more what you are trying to do?

If you ask about visualization of the shape of the tumor, we recommend 3D Slicer http://download.slicer.org.

As an example, to visualize brain1_image and brain1_label from the sample dataset distributed with pyradiomics, install Slicer, open "Add data" dialog (menu "File > Add data"), select image and label, click OK.

![image

[2017-04-20 14:07] HIN0209 commented on #242
Thank you for the reply. So far, it did not work.

Here are how I did.
(1) convert a tif image to the nrrd format by slicer
(2) The dimension of the nrrd mask file was confirmed as (580,420,1)
(as suggested here. https://groups.google.com/forum/#!topic/pyradiomics/ThUaJz9Mzto)
(3) "pyradiomics Path/to/inputFile Path/to/maskFile" caused the following error: pyradiomics:error:unrecognized arguments:

[2017-04-20 14:07] JoostJM commented on #242
@HIN0209, @fedorov, I think that if you load a .jpg of a .tiff image with `SimpleITK.ReadImage()`, it will create a truly 2D image object (i.e. only 2 dimensions). PyRadiomics does not accept this.
You can check the number and size of the dimensions by calling `GetSize()` on the image object (which is returned by `SimpleITK.ReadImage()`).

@fedorov, do you know of a SimpleITK Image filter to expan

[2017-04-20 14:10] JoostJM commented on #242
@HIN0209, what does the "pyradiomics --help" show as output? specifically the "usage" part. It appears to be a problem in the argument parsing.

[2017-04-20 14:15] HIN0209 commented on #242
Thanks.
pyradiomics --help returned the following:
Usage: pyradiomics image mask [Options]

[2017-04-20 14:17] JoostJM commented on #242
Does the script work when using in combination with a testcase and mask (contained in the "data" directory)?

[2017-04-20 14:21] HIN0209 commented on #242
It works completely fine with the combination of brain1_image and brain1_label in the provided data folder.

[2017-04-20 14:24] JoostJM commented on #242
@HIN0209 try enclosing the path in quotes

[2017-04-20 14:37] HIN0209 commented on #242
Yes, I put my own files separated from where pyradiomics was located. Then, I moved my own image and mask files to the pyradiomics/data folder, the following was shown.

C:\Users\NAME>pyradiomics C:\pyradiomics\data\10_1.nrrd C:\pyradiomics\data\10_1_mask.nrrd
FEATURE EXTRACTION FAILED
Traceback (most recent call last):
  File "c:\users\NAME\anaconda3\lib\site-packages\pyradiomics-0+unknown-py3.5-

[2017-04-20 14:46] fedorov commented on #242
@JoostJM I found the answer!

[code]

[2017-04-20 14:47] HIN0209 commented on #242
I checked the dimension of the test image and was (580,420,120), different from (580,420,1) in the mask. It could be due to slicer, so I try the image3d option and see how it works.

[2017-04-20 15:18] JoostJM commented on #242
@HIN0209 Indeed, the difference in shape is the cause of your error here. Maybe try @fedorov's approach?

[2017-04-20 15:20] fedorov commented on #242
@HIN0209 if you generate your mask in Slicer, why don't you try using SlicerRadiomics extension? It should help take care of this kind of issues. Have you tried it?

How did you create and save mask in Slicer?

[2017-04-20 15:38] HIN0209 commented on #242
Thank you both for great advises!

With Slicer, I loaded a (580,420) tif file.
In the “add data into the scene”, Description is “Volume” (default). Hit OK.
In “Save scene and unsaved data”, change the file format to NRRD (.nrrd) and save.

[2017-04-21 00:49] Frank51 commented on #243
Hi Fedorov:

Thank you for your warming reply. It is really helpful for me. And your
answer is a excellent solution to my problem.

Furthermore, I am wondering is there another nrrd type image of lung ?
Because the lung image in the 'data' folder is not quite clear, I would
like to test some pyradiomics outcome data of a lung. If it is available,
could you please send me a new nrrd image of lung?（

[2017-04-21 02:24] fedorov commented on #243
There are several publicly available collections that have lung CT data on TCIA: http://www.cancerimagingarchive.net/ (see Location column).

You download them from TCIA using their tools, or you can use 3D Slicer TCIABrowser extension to load data from those collections into 3D Slicer: https://www.slicer.org/wiki/Documentation/Nightly/Extensions/TCIABrowser.

[2017-04-21 11:39] pieper opened #244 "cmatrices lib path"
I did a fresh install of [the current version](https://github.com/Radiomics/pyradiomics/commit/0dd46a7bb5f401018f0e6b094afe7926dab026b2) on a linux VM (Amazon Linux AMI release 2016.09) following the installation instructions.

Then importing to python gives this error:

[code]

As a workaround, this allows me to import:

`sys.path.append('/home/pieper/pyradiomics/build/lib.linux-x86_64-2.7/radiom

[2017-04-21 11:59] JoostJM commented on #244
@pieper, what is `radiomics.__path__`? It is possible/likely that this points to your repository (i.e. it's running in development mode). If so, first run `python setup.py develop` to make sure the C extensions are also available in source code.

I thought I included this in the FAQ, but apparently not, I'll correct this in a future PR.

[2017-04-21 13:05] pieper commented on #244
[code]

Thanks @JoostJM , running `sudo python setup.py develop` resolves the issue.

I created a pull request to update the docs.  Can you confirm the wording is appropriate and merge?

[2017-04-21 14:36] Frank51 commented on #243
[image: 内嵌图片 3]

This is the 3D slicer's working page.

[image: 内嵌图片 1]

In the section import/export segments. I can not see"Operation: Import". I
am wondering where can I find it?

[image: 内嵌图片 2]

In Representations I have created "Closed surface", but I can not find
'fractional labelmap'.

So I still can not see the 3d rendering of the tumor. I am wondering what
mistake I have done. Could plea

[2017-04-21 16:59] fedorov commented on #243
am wondering where can I find it?

See screenshot below. Make sure you use a recent Nightly release of 3D Slicer. Do NOT use Stable release!

![image](https://cloud.githubusercontent.com/assets/313942/25288165/3cd3c90c-2692-11e7-97d6-5ce0799dabdb.png)

[2017-04-22 00:44] Frank51 commented on #243
Thanks!  I have solved the problem!😁

2017-04-22 0:59 GMT+08:00 Andrey Fedorov <notifications@github.com>:

--
陈运前
Yunqian Chen，
School of Physics，Sun Yat-sen University，
Guangzhou， China

[2017-04-24 01:40] fedorov commented on #243
Great, thanks for letting us know!

Was it solved by upgrading Slicer to a more recent version?

[2017-04-24 01:44] fedorov commented on #242
If you are loading a single (580,420)  TIFF file, but its dimensions show up as (580,420,120), this probably means you loaded 120 slices. In the "Add data" dialog check "Single file" checkbox in options to make sure only one file is loaded.
![image](https://cloud.githubusercontent.com/assets/313942/25319635/f9e349dc-286d-11e7-91f5-1a850b18a09a.png)

[2017-04-24 01:46] Frank51 commented on #243
Yes, after using the recent Nightly release of 3D Slicer, the 3d rendering of the tumor was showed.

[2017-04-24 01:47] fedorov commented on #243
Thanks a lot for confirming!

[2017-04-24 01:47] #243 closed

[2017-04-24 05:23] HIN0209 commented on #242
Thank you! I did not notice the Slicer option. It worked just fine.
Also, "sitk.JoinSeries()" works to me (Win10).

Installation of SlicerRadiomics extension is a little bit too much, with so many processes to build from source, such that I can stick with the above two options.

[2017-04-25 12:24] blowekamp opened #247 "SimpleITK fully on PyPi"
I just wanted to let this project know that all the available binaries are available on PyPI now. So simply `pip install` will work, or even just using a requirements.txt file works.

Hope this works easier for you and your users.

[2017-04-25 14:12] JoostJM commented on #244
Resolved by #245 and #233

[2017-04-25 14:12] #244 closed

[2017-04-25 14:15] JoostJM commented on #230
Addressed by #231

[2017-04-25 14:15] #230 closed

[2017-04-25 14:18] fedorov commented on #242
Very soon we will integrate SlcierRadiomics as a packaged extension, so you will be able to install it without having to build anything. Stay tuned!

[2017-04-25 16:56] jcfr commented on #247
Well done 👍

Did you get special exemption to update large distribution on PyPI ?

[2017-04-25 18:08] blowekamp commented on #247
The largest wheel is only 38MB now. Previously the MacOSX wheels were about ~80MB, but that was for the universal "intel" architectures. Pip has since learned that the "x86_64" is compatible with a "intel" python runtimes. So the OS X Wheels are now only 35MB, and comfortably fit on PyPI.

[2017-04-25 19:33] jcfr commented on #247
Thanks for detailed explanation 👍

[2017-04-25 20:41] blowekamp commented on #247
O yeah, so why did I leave this comment? Because it looks like the `installation.rst` file should be updated to remove the old SimpleITK work arounds.

[2017-04-26 08:33] #247 closed

[2017-04-26 14:51] jcfr opened #250 "Port testing from circleci-matrix to Circle 2.0"
With the transition to Circle 2.0, testing on all version of python is now ignored:
https://github.com/Radiomics/pyradiomics/blob/master/.circleci-matrix.yml

[2017-04-26 15:01] #189 closed

[2017-05-02 15:27] fedorov opened #251 "checkMask will always fail if mask and image geometry do not match"
checkMask essentially expects that image and mask geometry will match by calling Execute here: https://github.com/Radiomics/pyradiomics/blob/master/radiomics/imageoperations.py#L201

Thanks to Dev Gude for identifying and reporting this issue!

[2017-05-02 15:54] fedorov commented on #251
@Radiomics/developers let's discuss this tomorrow at the call

[2017-05-02 16:07] JoostJM commented on #251
In `featureextractor.py`, checkMask is called after the image is loaded (includes any resampling): https://github.com/Radiomics/pyradiomics/blob/master/radiomics/featureextractor.py#L402

It is indeed true that this causes the extraction to fail if image and mask geometry do not match at this point. I programmed it like this to prevent features from being extracted from invalid image/mask combinat

[2017-05-02 16:14] fedorov commented on #251
@JoostJM thanks for the clarifications!

1. I quickly looked over the user manual, and didn't find the place that explains how to enable resampling. Can you point me to that place in text? I think it would be good to link that from the FAQ entry.

2. Would it make more sense to print the error message and suggest that user could try resampling the mask instead of crashing with the exception?

[2017-05-02 16:41] JoostJM commented on #251
@fedorov Good points! I will try to have a PR ready before the meeting tomorrow!

[2017-05-02 16:47] fedorov commented on #251
Great, thanks!

I think it will be very helpful to the user to provide more fine-grained diagnostics to troubleshoot the issue. These 2 will be very common, and very easy to troubleshoot, situations:

1. Problem: origin/spacing/directions differ by small amount. Solution: increase epsilon in the config file (assuming it is exposed) or enable resampling.

2. Problem: FOV is different, but mask FOV

[2017-05-02 16:54] JoostJM commented on #251
@fedorov
@ Problem 1: Yes epsilon's exposed as a global field (part of processobject)
I'll see what I can do, shouldn't be to difficult...

[2017-05-05 14:53] #237 closed

[2017-05-16 07:52] #251 closed

[2017-05-17 15:38] JoostJM opened #256 "Profiling PyRadiomics for very large segmentations"
Profiling PyRadiomics using the brain1 testcase (256x256x25 voxels) with full-mask
- all features
- Original, LoG (sigma 1, 3 and 5), Wavelet (1 level, 8 decompositions)

Main bottlenecks:
- GLSZM 12x calculated matrix: 76.9% of time required (+/- 22 min total, 1.86 min per calculation)
- ShapStatistics image filter (implemented in SimpleITK): 16.7% of time required (+/- 5 min), only applied once

[2017-05-18 22:43] pieper commented on #256
@blezek I mentioned to @Radiomics/developers that you'd run into performance issues trying to run radiomics on whole brains so @JoostJM did some profiling.

[2017-05-18 22:47] pieper commented on #256
From a quick look at the [glszm](https://github.com/Radiomics/pyradiomics/blob/23cb5de8e634102a789a3298192af1f999f1edc8/radiomics/glszm.py) code it looks like there's a lot of room to optimize the implementation.

[2017-05-19 04:16] JoostJM commented on #256
In the c code? Do you have a general idea how to tackle it?

[2017-05-19 04:32] jcfr commented on #256
May be you could look into using threads

That said, using threading libraries with vanilla c-code [may be challenging](https://duckduckgo.com/?q=python+c+api+thread+) to get right.

I think that implementing ITK filters could be helpful (e.g as ITK remote module), you would then be able to leverage the associated cross-platform image processing and threading API. These filters could then be be ex

[2017-05-19 14:21] fedorov commented on #256
@pieper it appears from the profiling that Joost already did that (_calculateCMatrix)[https://github.com/Radiomics/pyradiomics/blob/23cb5de8e634102a789a3298192af1f999f1edc8/radiomics/glszm.py#L143] accounts for 77% of the time (if I interpret the profiling summary correctly):

![image](https://cloud.githubusercontent.com/assets/313942/26251954/ee80da6e-3c7c-11e7-8b57-e42668e6aa6a.png)

[2017-05-19 14:39] pieper commented on #256
I see, you are saying it is probably [this call](https://github.com/Radiomics/pyradiomics/blob/23cb5de8e634102a789a3298192af1f999f1edc8/radiomics/glszm.py#L154) to [this code](https://github.com/Radiomics/pyradiomics/blob/9f3efd98b2a0ab9970293b4ac3e58864c186749c/radiomics/src/cmatrices.c#L47-L148).  Yes, that looks pretty compute intensive.

If this feature is really informative, and large image m

[2017-05-22 09:03] JoostJM commented on #256
@pieper @fedorov, it's indeed [this call](https://github.com/Radiomics/pyradiomics/blob/23cb5de8e634102a789a3298192af1f999f1edc8/radiomics/glszm.py#L154). I'll take a look to see if it can be made more efficient.

If I can, I'd like to avoid implementing multithreading here for 2 reasons
1. This will make the C code a lot more complex
2. When I extract features for multiple patients, I increase pe

[2017-05-22 09:06] JoostJM commented on #256
On a side note, the main reason c GLSZM takes so much time is because it is computationally intensive and is called 12 times (due to the different derived images). The call to SimpleITK's labelshapestatistics image filter is the call that takes the most time for a single call, but is only called once per extraction (as it is part of shape and therefore only calculated on original image type).

[2017-05-22 14:25] JoostJM commented on #256
As to the SimpleITK call taking so much time. This is due to the compute Feret diameter (max 3D diameter).
If you run labelshapestatistics image filter with and without this diameter there is a time difference of 271053 ms vs 21 ms for the full brain1 mask.

[2017-05-24 14:34] fedorov opened #258 "Consider using duecredit for annotating individual features with citations"
https://github.com/duecredit/duecredit

I liked that idea. the power to give a proper credit to the contributors of the individual features will also give another incentive for new contributors.

[2017-05-24 15:03] fedorov commented on #258
@JoostJM @pieper @jcfr let me know if you all like the idea. If yes, I can test this further specifically for pyradiomics, and if things work as I expect, proceed with adding this feature. If no - please just close the issue.

[2017-05-24 15:19] pieper commented on #258
I particularly like this line in their readme:

If we set things up so that the output of our batch commands automatically generate not just a bibliography but also a grant acknowledgement text then I think we'd have something really powerful.  I was kidding about it today on the call, but I do agree with your point @fedorov that collecting this information is very important to meeting NIH expecta

[2017-05-24 16:23] fedorov opened #259 "Handling of mismatched size mask is still not working"
I think the issue is that the resampled mask does not get propagated from here: https://github.com/Radiomics/pyradiomics/blob/master/radiomics/imageoperations.py#L238

`checkMask` returns the bounding box for the resampled mask here: https://github.com/Radiomics/pyradiomics/blob/master/radiomics/featureextractor.py#L326

But `cropToTumorMask` is operating on the original mask before resampling: ht

[2017-05-25 18:09] fedorov commented on #259
@JoostJM I suggest to fix this by having `checkMask` return a tuple of bounding box and an updated mask, if it had to be resampled, and then use that updated mask after the mask check. Do you have objections?

[2017-05-25 20:13] JoostJM commented on #259
No objections, saves me the trouble ;-)

-------- Oorspronkelijk bericht --------
Van: Andrey Fedorov <notifications@github.com>
Datum: 25-05-17 20:09 (GMT+01:00)
Aan: Radiomics/pyradiomics <pyradiomics@noreply.github.com>
Cc: Joost van Griethuysen <j.v.griethuysen@nki.nl>, Mention <mention@noreply.github.com>
Onderwerp: Re: [Radiomics/pyradiomics] Handling of mismatched size mask is still not wor

[2017-05-29 16:19] JoostJM commented on #239
@devareddy, did you manage to fix this error?

[2017-05-29 18:42] #259 closed

[2017-06-07 10:57] JoostJM commented on #239
@devareddy I'm closing this issue. If you have further questions or comments, please feel free to reopen it.

[2017-06-07 10:57] #239 closed

[2017-06-07 10:58] JoostJM commented on #168
Versioning not a problem when installing directly from repository or from wheel. Only when trying to install from zip folder of the repository is the version not taken into account

[2017-06-07 10:58] #168 closed

[2017-06-13 23:49] pieper opened #263 "create examples for processing DICOM data"
**Goal**
Write an example analysis that uses a SlicerRT process TCIA example data with pyradiomics.

**Open Questions**
* Best dataset to use for the example
* Use docker or just native Slicer + SlicerRT + SlicerRadiomics

**Background**
Probably each radiomics analysis will require some custom scripting to accommodate details of the data, but we should help people get started with real data.

Sin

[2017-06-14 17:10] pieper commented on #263
**Summary of discussion on Radiomics hangout**
* Use the [NSCLC-Radiomics example data from TCIA](https://wiki.cancerimagingarchive.net/display/Public/NSCLC-Radiomics)
** DICOM CT and RTSTRUCT
** Able to be redistributed as basis for examples and reproducibility studies
* Develop first script that
** processes the native DICOM with Slicer and SlicerRT
** exports the results as grayscale and labelm

[2017-06-14 17:48] pieper commented on #263
[SlicerRT already provides a converter script](https://subversion.assembla.com/svn/slicerrt/trunk/SlicerRt/src/BatchProcessing/) which should ba able to do the structure set conversion.

[2017-06-15 14:06] pieper commented on #263
This command line successfully converts study from TCIA to nrrd.

/c/Program\ Files/Slicer\ 4.7.0-2017-06-11/Slicer.exe --no-main-window --python-script /c/Users/pieper/AppData/Roaming/NA-MIC/Extensions-26083/SlicerRT/lib/Slicer-4.7/qt-scripted-modules/BatchStructureSetConversion.py --input-folder ./DOI/LUNG1-001 --export-images --output-folder /d/data/nsclc-radiomics/converted

[2017-06-16 13:58] pieper commented on #263
Will work on data conversion script in [this repository ](https://github.com/pieper/Converters) while prototyping.

[2017-06-28 14:43] haarburger opened #266 "Hardcoded label in shape.py"
If I do something like

[code]
I get the following error
[code]

For `label = 1` everything works fine. The label `2` definitely exists since all other features (statistics, glcm, ...) are calculated correctly.

It seems that in in [radiomics.shape.py](https://github.com/Radiomics/pyradiomics/blob/master/radiomics/shape.py#L384), `lssif.GetPrincipalMoments()` is always called with `label=1`.  From

[2017-06-28 15:42] JoostJM commented on #266
Superseded by changes made in #264

[2017-06-28 15:42] #266 closed

[2017-07-04 22:07] HIBhl commented on #263
Why can`t pyradiomics handle DICOM? and why do you choose NRRD format?

[2017-07-05 07:49] JoostJM commented on #263
@HIBhl, we show this example with the NRRD format, because it is the default format used in slicer. PyRadiomics also accepts for example NIFTII format.

The reason we do not support DICOM in PyRadiomics directly, is because it involves parsing the headers to determine the correct order of the files and to read them into one volume object. To program this would be a lot of double work, as it is alr

[2017-07-05 14:59] JoostJM opened #268 "Switch PyRadiomics License"
To have a more clear, but still open license, switch from the 3D slicer license to an open license.

No copyleft license, as this is incompatible with the Slicer license (as needed in SlicerRadiomics).

Alternatives:
- [Apache License 2.0](http://www.tldrlegal.com/license/apache-license-2.0-(apache-2.0))
- [MIT License](https://tldrlegal.com/license/mit-license)

cc @Radiomics/developers

[2017-07-05 15:08] JoostJM commented on #268
Also consider adding disclaimer specifying PyRadiomics is not intended for clinical use
 (e.g. print statement in the `__init__.py`)

[2017-07-05 15:12] fedorov commented on #268
Differences between the two alternatives, quoted from https://www.quora.com/Whats-the-different-between-Apache-v2-0-and-MIT-license:

![image](https://user-images.githubusercontent.com/313942/27871158-d7ca4934-6172-11e7-9aca-4cae480596a3.png)

[2017-07-05 15:30] JoostJM commented on #268
@haarburger, @jbvimort, @jaasantinha, @blezek, @vnarayan13.
I mentioned you here because you are also listed as contributors on PyRadiomics.

[2017-07-05 18:14] blezek commented on #268
+1 for MIT License.  Simple so people don't need to think about it.

[2017-07-05 18:30] fedorov commented on #268
Another option is [3-clause BSD](https://opensource.org/licenses/BSD-3-Clause), it is also used quite often in the research software. Very close to MIT, but the difference is this part:

[2017-07-05 18:58] fedorov commented on #268
Some relevant discussions

* https://lists.opensource.org/pipermail/license-discuss/2008-July/015898.html
* license for XNAT: https://lists.opensource.org/pipermail/license-discuss/2011-April/016997.html (it looks like in the end XNAT people were convinced to go with the 2-clause BSD: https://www.xnat.org/download/)

Few more data points for the popular open source projects that came to my mind:
*

[2017-07-06 14:51] vnarayan13 commented on #268
Hi guys, I am fine with the MIT License.

On Wed, Jul 5, 2017 at 2:58 PM, Andrey Fedorov <notifications@github.com>
wrote:

[2017-07-06 15:12] JoaoSantinha commented on #268
Hi everyone, I would go for MIT.
Cheers,
Joao

On Thu, Jul 6, 2017 at 3:51 PM, Vivek Narayan <notifications@github.com>
wrote:

[2017-07-06 16:53] fedorov commented on #263
@pieper FYI might be useful: https://github.com/icometrix/dicom2nifti

I am investigating its functionality, will update this issue with my experience. I just think it is an overkill to use Slicer for loading image volumes, it would be nice to have a light standalone easy to use library just for this purpose.

[2017-07-06 17:29] fedorov commented on #263
Seems to work for the basic CT series conversion I tried. Graceful handling of missing slices:

![image](https://user-images.githubusercontent.com/313942/27924389-1d0bd724-624f-11e7-93c5-2f95f97c05e2.png)

[2017-07-06 19:46] fedorov opened #269 "Convert LIDC-IDRI analysis results to DICOM representation"
Given the dataset analyzed and presented in the supplement to the Cancer Research paper (still under review?), develop scripts and generate a DICOM representation of nodule segmentations as DICOM Segmentation image object, and extracted radiomics features, as a DICOM TID1500 Structured Report. The actual conversion will be done using [dcmqi](https://github.com/qiicr/dcmqi).

[2017-07-06 20:28] fedorov commented on #269
@JoostJM whatever process you (or someone else, I don't know who processed it) used to prepare the reconstructions of the LIDC-IDRI dataset, it should be fixed.

The reconstructed volume is flipped and has origin at 0:

|loaded from DICOM|loaded from Reconstructions/image.nii.gz|
|--|--|
|![image](https://user-images.githubusercontent.com/313942/27931240-82771566-6267-11e7-9634-ba6e81ee933b.png)|!

[2017-07-06 20:49] fedorov commented on #269
So it looks like [1] it was flipped and then translated by the X and Y of the original origin, plus shifted by 10 mm in the superior direction. Wow. I wonder if the same "approach" was applied to each case. We should do something so this does not happen for the cases that will be processed in the future.

[1] "Looks like" steps:

1. Geometry information for the image loaded from DICOM:

![image](h

[2017-07-06 21:35] pieper commented on #263
@fedorov Yes, something simple is better if it works well.

But can it convert the RT Structure Sets?

[2017-07-06 22:23] fedorov commented on #263
I didn't check. I would be (very pleasantly!) surprised if it does though.

[2017-07-07 06:57] JoostJM commented on #269
@fedorov, to the best of my knowledge, @blezek performed the conversion using https://github.com/blezek/LIDCTooling/tree/on_radiomics.

Although the volumes are flipped and the origin is changed, this should not have affected the calculated features, as the spacing did not change and the features are rotation independent.

[2017-07-07 14:23] fedorov commented on #269
@JoostJM thanks for the pointers! I was not worried about the feature calculation being affected, but about data inconsistency that causes problems for sharing and making sure other people can reuse these results in the context of the original DICOM dataset.

@blezek is this the code that does volume reconstruction and writes out the volume: https://github.com/blezek/LIDCTooling/blob/master/src/ma

[2017-07-07 15:52] blezek commented on #269
@fedorov, ahh, you are looking behind the curtain!  I didn't consider DICOM consistency, more for expediency than anything else.  It would be fairly trivial to add orientation information to the NIFTI, or, better, use some of QIICR tools, eg https://github.com/QIICR/dcmqi

[2017-07-07 16:28] fedorov commented on #269
@blezek I ran into this issue exactly in the process of converting data using some of QIICR tools, eg https://github.com/QIICR/dcmqi ;-) While converting segmentations into DICOM, we look for matching slices of the DICOM image series to establish references. This process is done (at this point) by checking whether the origin of the slice is within a slice of the source DICOM series. At the moment,

[2017-07-07 18:16] pieper commented on #263
@fedorov do have you had good luck with dicom2nifti on various sample
data?  It appears the license is compatible with Slicer and we could
consider using it as another approach for DWI, DCE, or even scalar volumes
if it works well.

On Thu, Jul 6, 2017 at 6:23 PM, Andrey Fedorov <notifications@github.com>
wrote:

[2017-07-07 18:21] fedorov commented on #263
I have not tested extensively. The story is that I heard about it on LinkedIn from Dirk Smeets, and had a specific problem in hand to process the LIDC dataset, so in absence of a lot of alternatives (and not being a fan of `Slicer --python-script`), I gave it a try. I also thought about the possibility to include in Slicer. I dare to hope that perhaps it could replace DWIConvert? The group behind

[2017-07-07 18:24] pieper commented on #263
@ihnorton FYI

[2017-07-07 18:42] ihnorton commented on #263
I can see a strong argument for deprecating both DWIConvert and DWI NRRD. NiFTI "won" for diffusion neuroimaging (which is most of DW imaging, probably).

Only for about 30% of Slicer users.

[2017-07-07 18:46] fedorov commented on #263
I am not in the know to understand the subtlety!

[2017-07-07 18:50] ihnorton commented on #263
Sorry - it doesn't really work for shared library extensions on Windows (68% of Slicer downloads even considering 4.6-nightly only)

[2017-07-07 18:51] pieper commented on #263
I didn't look too closely but I think dicom2nifti is pure python, right?

On Fri, Jul 7, 2017 at 2:50 PM, Isaiah <notifications@github.com> wrote:

[2017-07-07 21:29] HIBhl commented on #263
@JoostJM Thanks, I Still have some confusions. The RT structure files which are DICOM format can be loaded and extracted together with volume files in 3Dslicer, but RT files cant be saved as nrrd format directly and they are saved as .vtm or .seg.vtm in Slicer, which can`t be used in pyradiomics.  Can .vtm be convert to .nrrd? It seems that we can use Slicer directly for volume conversion but not

[2017-07-07 21:43] pieper commented on #263
@HIBhl with the latest Slicer and SlicerRT (the nightly) structure sets will load as Segmentations and you can export them to Labelmaps that can be saved as nrrd.

https://www.slicer.org/wiki/Documentation/Nightly/Modules/Segmentations

Also, regarding the BatchStructureSetConversion.py I have a slightly improved version and while working on that we've found and (Kyle) fixed a couple issues in the

[2017-07-11 13:05] jcfr commented on #268
Moving to an OSI approved license is great. I have no problem with MIT or 3-clause BSD  license. :+1:

[2017-07-12 15:26] JoostJM commented on #269
@fedorov, I'm looking at the tool, but it also uses `instance number` to sort the dicomfiles:
https://github.com/icometrix/dicom2nifti/blob/master/dicom2nifti/convert_generic.py#L41

Still, it does have a function to [validate Slice increment](https://github.com/icometrix/dicom2nifti/blob/master/dicom2nifti/common.py#L439), which can be [enabled optionally](https://github.com/icometrix/dicom2nifti

[2017-07-12 15:39] pieper commented on #269
For reference here's the code in slicer that sorts by image position
patient along the vector perpendicular to the slice plane:

https://github.com/Slicer/Slicer/blob/master/Modules/Scripted/DICOMPlugins/DICOMScalarVolumePlugin.py#L240-L300

On Wed, Jul 12, 2017 at 11:26 AM, Joost van Griethuysen <
notifications@github.com> wrote:

[2017-07-14 13:52] fedorov commented on #269
@JoostJM thank you for pointing this out.

I did not look at the code, and just tested with a dataset that had a missing slice. It correctly reported inconsistent spacing (see https://github.com/Radiomics/pyradiomics/issues/263#issuecomment-313464537), but it appears that this was just one of the checks. I want to spend a bit more time a bit later to investigate to get a better idea about robustne

[2017-07-14 16:12] blezek commented on #269
Converting DICOM to NIFTI to DICOM consistently is rather difficult, non-trivial, and I still sometimes get it wrong after doing it for a decade(s). 😃

@fedorov, How can I help out?  I converted the volumes in the most simple way possible, only preserving spacing, and not orientation, etc.  It was difficult to convert the segmentations from the XML raster representation to DICOM, and took quite a

[2017-07-17 08:27] #268 closed

[2017-07-17 16:57] fedorov opened #275 "Consider using mybinder"
See https://beta.mybinder.org/

[2017-07-17 17:06] fedorov opened #276 "Missing folder causes download problem in FeatureVisualization.ipynb"
![image](https://user-images.githubusercontent.com/313942/28280122-b9d06ee0-6af0-11e7-8839-b94826d64ef5.png)

[2017-07-17 17:08] fedorov commented on #275
Currently building of the binder is failing due to #276

[2017-07-17 17:17] jcfr commented on #275
If I recall, binder is not maintained anymore.

Cc: @thewtex

[2017-07-17 17:19] pieper commented on #275
It's not currently working for me (constant spinning logo and server error
in the browser console).

On Mon, Jul 17, 2017 at 1:17 PM, Jean-Christophe Fillion-Robin <
notifications@github.com> wrote:

[2017-07-17 17:20] jcfr commented on #275
If you check the status, it is down: http://mybinder.org/status

@thewtex should be able to confirm, but if i recall they run out of funding. The model was not sustainable ( to be confirmed)

[2017-07-17 17:24] fedorov commented on #275
See the URL I included in the initial post ;-)

[2017-07-17 17:31] fedorov commented on #275
cc: @yuvipanda

[2017-07-17 17:33] fedorov commented on #275
Working example: https://github.com/minrk/ligo-binder and direct binder url https://beta.mybinder.org/v2/gh/minrk/ligo-binder/master?filepath=index.ipynb

[2017-07-17 17:37] jcfr commented on #275
Indeed, there are mybinder.org and beta.mybinder.org

I just wonder what is backing up beta.mybinder.org.

On Jul 17, 2017 1:24 PM, "Andrey Fedorov" <notifications@github.com> wrote:

[2017-07-17 17:45] pieper commented on #275
@fedorov your original post didn't link to a working example!

[2017-07-17 17:53] fedorov commented on #275
indeed. What I meant to imply in an awkward manner is that I was not referring to http://mybinder.org. https://beta.mybinder.org/ can presumably be used for any repo that has a python notebook, so I was not sure what exactly was not working and timed out from https://beta.mybinder.org/.

[2017-07-17 18:02] yuvipanda commented on #275
Heya! Me and @choldgraf and others from the [Jupyter Project](https://jupyter.org) have started assisting mybinder, and rewrote it to run on top of [JupyterHub](http://github.com/jupyterhub/jupyterhub/). beta.mybinder.org is the newer version, and should be a lot more stable (and we're committed to supporting it, and have structural support to doing so). The long term hope is that we make it reall

[2017-07-17 18:34] pieper commented on #275
Thanks for the info @yuvipanda!  This will be very helpful.

[2017-07-18 17:44] thewtex commented on #275
@yuvipanda That is fantastic to hear! For organizations that do not have the resources to set up their own JupyterHub instance, how many resources are available and how long will they be available for?

[2017-07-19 17:13] choldgraf commented on #275
+1 to what Yuvi said!

To @thewtex's question, Binder is a space that's evolving relatively rapidly right now so it's hard to say exactly what resources etc are available. That said, there's definitely a lot of interest in making the platform as easy as possible to deploy on other servers etc, and also a lot of interest in keeping the public `mybinder.org` service running as a public good. Feel fr

[2017-07-25 20:52] fedorov commented on #269
@blezek sorry for not being clear. I am not saying that DICOM->NIFTI->DICOM is inconsistent. The issue is that the way DICOM->NIFTI conversion was done resulted in a 3D image volume that did not line up with the input DICOM. And so "the terrible hacks" ™ [ensued](https://github.com/fedorov/lidc-idri-conversion/blob/master/seg/seg_converter.py#L102).

Indeed, it is not ready to use, unfortunately.

[2017-07-25 23:17] fedorov opened #278 "FeatureVisualization notebook is incompatible with python 3"
`urllib.urlretrieve` moved to `urllib.request.urlretrieve` in python 3

[2017-07-31 12:17] aydindemircioglu opened #279 "Default sigma values for LoG"
After updating to the latest package, we realized that no LoG filters were extracted, so before we had 1841 (or so) features, and afterwards only 1041. That irritated us slightly, as we expected that enabling all filters and features would result in the 'largest' feature set possible.

But it seems that you have changed this default behaviour, as the getLoGImage class now reads
 sigmaValues = kwar

[2017-07-31 16:22] fedorov commented on #279
Thanks for reporting this, and for the nice words about pyradiomics!

I am not sure why the default behavior was changed. We will update the issue once we have a chance to discuss and find the answer!

[2017-08-01 21:38] thewtex commented on #256
There is [now a Python package](https://blog.kitware.com/fast-n-dimensional-texture-feature-maps/) available, `itk-texturefeatures`, that could be helpful here.

[2017-08-02 14:10] sohrabtowfighi opened #282 "pyradiomicsbatch multiprocessing"
Can an argument be added (eg 'n_jobs=-1' for all cores) to pyradiomicsbatch which uses multiprocessing to distribute the computations across cores?

[2017-08-02 15:12] pieper commented on #282
We've discussed parallelism but generally consider it should be handled at a higher level of abstraction.  For example if you run a big set of jobs on a cluster you would use the job queuing system to manage job allocation.

[2017-08-02 15:15] sohrabtowfighi commented on #282
Isn't that the purpose of pyradiomics**batch**

[2017-08-02 16:11] fedorov commented on #282
The specific meaning of **batch** that we had in mind is to support processing of multiple datasets in one run, not to distribute that processing across computational resources.

[2017-08-03 18:57] fedorov opened #283 "Installation failure on Windows"
As reported by Wei Mu, installation is failing on Windows as shown below:

![image](https://user-images.githubusercontent.com/313942/28938370-e0bea9b8-785b-11e7-9b0e-dba037354c4e.png)

Documentation does not list any special requirements for Windows: http://pyradiomics.readthedocs.io/en/latest/installation.html.

[2017-08-04 09:38] HIBhl commented on #263
@pieper Thank you very much for your suggestions! I have tried the BatchStructureSetConversion.py, it works  in converting the structure files into .nrrd format. But a problem reported is that the size of converted labelmap don`t match the size of volume file, which results in an error in the use of pyradiomics for extracting features.  Are you faced with the same problem before?
the labelmap file

[2017-08-04 13:06] pieper commented on #263
Sounds like you are very close.  There are options in the
SlicerRT/Segmentations code in slicer to set the reference geometry of the
label map, but they aren't in the batch script.  The physical spaces should
be the same (based on the origin) which you can confirm by loading in
Slicer to view.

But probably easiest is to address it in pyradiomics as described here:

http://pyradiomics.readthedocs.

[2017-08-07 22:18] fedorov commented on #269
As discussed with @pieper earlier, https://github.com/rordenlab/dcm2niix might be a more robust alternative for DICOM conversion than dicom2nifti. I will add notes here if I encounter issues after testing.

[2017-08-10 14:19] pieper commented on #256
@JoostJM did you have a look at itk-texturefeatures?  It would be interesting to know how the speed compares and if the feature sets are comparable to what we have now in the pyradiomics c code.

https://github.com/InsightSoftwareConsortium/ITKTextureFeatures/tree/2b4544fe39e0ece9007a0d87c396c8586c6f4df5/example

[2017-08-14 07:13] JoostJM commented on #279
@aydindemircioglu, The default setting for sigma was removed, as this default setting was based on a CT example, whereas pyradiomics is intended for multiple modalities. The warning is documented [here](http://pyradiomics.readthedocs.io/en/latest/radiomics.html#radiomics.imageoperations.getLoGImage), but I can make it a bit more explicit (separate warning box).

In #273, some example settings are

[2017-08-14 07:31] JoostJM commented on #283
The error listed here appears to be an issue with the compiler set-up (so not a problem of the pyradiomics code). The traceback appears to be going through a set of python scripts before ending up in one that looks to me to be an interface to cygwin compiler, but then hits a null reference exception on a version check, so maybe because cygwin is not installed, or that python is unable to find it.

[2017-08-14 07:32] JoostJM commented on #278
@fedorov, thanks for the heads up! I'll look into using `six.moves` to fix this issue.

[2017-08-14 08:23] JoostJM commented on #282
@pieper, the parallelisation we discussed can indeed be applied in a batch (i.e. one patient, one core). We've been working with a specialised script that does this, but it was optimized for our dataset. I'll see if I can adapt one to be more general.

[2017-08-14 13:39] fedorov commented on #283
Note that there are no instructions about compiler set-up in the pyradiomics documentation: http://pyradiomics.readthedocs.io/en/latest/installation.html

![image](https://user-images.githubusercontent.com/313942/29274035-6eab9ea4-80d4-11e7-8d7c-70fe0997bd24.png)

[2017-08-14 14:03] JoostJM commented on #256
@pieper, Just returned from my holiday, but this is certainly interesting.
I did some profiling using PyRadiomics and similar mask as were used by the ITK texture features (implementing a voxel wise calculation). Pyradiomics performance was similar to ITK's performance.
Downside of PyRadiomics is that it only accepts 3D input, whereas ITK is N-dimensional. On the other hand, PyRadiomics acchieves

[2017-08-14 16:14] pieper commented on #256
Thanks for checking @JoostJM -- sounds like we should decide if we want to keep an independent implementation in PyRadiomics or work together with the ITK community to improve itk-texturefeatures.  My knee-jerk reaction is to prefer the community effort whenever possible in the hopes that code maintenance will be more efficient.

[2017-08-14 23:30] aydindemircioglu commented on #279
thanks, as said, we just moved from an old version to the newer one, so we did not see the documentations at first. as long as you document it and even better have examples for the different modalities, its perfect. i'll close the issue then.

again, thanks!

[2017-08-14 23:30] #279 closed

[2017-08-15 11:43] JoostJM commented on #276
If I see it correctly, this error is due to the fact that folder `example_data` may not exist. Python is then unable to create the file and the error is thrown.

[2017-08-15 13:04] JoostJM opened #286 "CircleCI Tests failing"
Currently, CircleCI tests are failing, as it cannot find the python2 environment anymore.

I think this is related to this commit [here](https://github.com/jupyter/docker-stacks/commit/32b3d2bec23bc46fab1ed324f04a0ad7a7c73747), where python 2 support is phased out of jupyter/datascience-notebook

[2017-08-15 13:39] JoostJM commented on #275
Using the branch from #285, I was able to build and launch using MyBinder.
This required some changes to the dockerfile, as 3 notebooks are run as part of the build process, which assume a certain structure of the files and folders.

[2017-08-15 13:43] fedorov commented on #276
You are right, I mis-diagnosed the problem.

[2017-08-15 13:57] JoostJM commented on #275
This is the [link](https://beta.mybinder.org/v2/gh/JoostJM/pyradiomics/fix-urllib-python3-compatibility) to the image.

[2017-08-15 14:20] JoostJM commented on #276
@fedorov, not entirely ;-), the url is also invalid, as the urlretrieve method does not download a valid zipfile. If I remember correctly, it is some sort of server error. Anyway, I don't use the feature visualization notebooks in the docker image, but the pyradiomics notebooks that use the example data already present in the pyradiomics repo.

[2017-08-15 15:53] choldgraf commented on #275
just a quick thought - Binder now supports new features of repo2docker, including the ability to run shell scripts prior to generating the Docker image. So if you'd like to handle pre-build stuff with scripts instead of a Dockerfile, that should be possible now!

[2017-08-16 06:37] JoostJM commented on #276
Feature visualization notebooks have been updated in 8c4313d, 35dbff6 and 8b73d4c, including a fix for the broken download link

[2017-08-16 06:38] #278 closed

[2017-08-16 06:38] #276 closed

[2017-08-16 06:46] JoostJM commented on #286
related issue in jupyter/docker-stacks: [#432](https://github.com/jupyter/docker-stacks/issues/432)

[2017-08-16 09:55] JoostJM commented on #286
Fixed by #287

[2017-08-16 09:55] #286 closed

[2017-08-16 14:10] JoostJM commented on #275
[link](https://beta.mybinder.org/v2/gh/radiomics/pyradiomics/master) to the image build upon radiomics/pyradiomics/master

[2017-08-16 14:53] fedorov opened #289 "Consider packaging datasets in notebooks instead of downloading them"
The size of dataset is ~150M, which is tiny in comparison to the overall docker images size - ~6.4G

[2017-08-22 19:03] saeedalahmari3 opened #293 "Multi-nodules feature extraction"
I got scans (images) of multi-nodules, each image has at least one nodule, it may have 2 or 3 and so on. I would like to get features for every nodule found in a scan. Is there anyway to do it using pyradiomics?

[2017-08-23 06:59] JoostJM commented on #293
Basically, there are 3 scenarios:
1. 1 mask file for each nodule: Extract features by specifying each combination in the input csv file (i.e. same image, different mask, add a column specifying which nodule is represented by the mask file).
2. 1 mask file for all nodules, each nodule different label value: Extract features by specifying the the combination of image and mask multiple times, where y

[2017-09-04 08:36] sulaimanvesal opened #298 "2D Tiff Image"
Dear all,

Thanks for your effort and making such a great repository. As a newbie, I wanted to know whether this package supports 2D images as well? I could not find any example in notebooks folder. I would appreciate if you provide a guide about how to use this package for extraction of features for a 2D image (Tiff Image of breast Cancer).

[2017-09-04 14:30] JoostJM commented on #298
@sulaimanvesal, PyRadiomics expects 3D Grayscale input (2D slices are allowed, as it is a 3D image with 1 of the dimensions of size 1).
[This](https://groups.google.com/forum/#!topic/pyradiomics/QLdD_qEw3PY) topic is of a similar questions, with some pointers and notes, including code to convert 2D to 3D (use with caution though, missing important meta-information).

[2017-09-05 08:40] sulaimanvesal commented on #298
@JoostJM, thank you for the details and the links, I could figure it out through the examples and it works pretty well after adding a new dimension to 2d image. However, I am getting some Nan values for few of parameters like skewness, kurtosis and entropy along the error. I am wondering what would cause these errors.

Here is the output of my simple code:
[code]

[2017-09-05 17:11] JoostJM commented on #298
@sulaimanvesal, as far as I can see, the issue is related to the pixel type.
If you read your image using simpleitk (`im = SimpleITK.ReadImage('path/to/image.tif')`) and print it out (`print(im)`), somewhere at the bottom it should show your pixel type. I think it will be a vector (3 color channels). If this is the case, that is the cause of your error, as PyRadiomics only accepts grayscale images

[2017-09-07 15:44] JoostJM commented on #293
@saeedalahmari3, does this answer your question? If so, then this issue can be closed.

[2017-09-07 16:53] fedorov commented on #275
FYI another free cloud-based notebook hosting platform: https://notebooks.azure.com

Disadvantages:
* need to have a login and an account to run a notebook (since it first has to be cloned)
* no support for Dockerfile for configuration

Advantages:
* new features seem to be added regularly, seems to be actively supported: https://notebooks.azure.com/new
* may be more robust than beta.mybinder, sin

[2017-09-07 17:11] choldgraf commented on #275
FWIW, Binder is actively supported as well ;-)  (this wasn't true 9 months ago but it's a jupyter project now)

Also I'm curious what you mean by "more robust"?

(full disclosure: I'm on the jupyter team and working on the binder project :-) )

[2017-09-07 18:23] fedorov commented on #275
@choldgraf sorry, I didn't mean to offend you! I have a lot of respect to Binder, and it has some significant advantages!

What I meant by "actively supported" is that is has Microsoft and Azure backing it, so there is a clear entity with deep pockets paying for the cloud cycles. I also liked that there is a timeline with updates which seems to be updated quite often. With Binder, documentation se

[2017-09-07 18:27] choldgraf commented on #275
absolutely not offended :-) just trying to figure out where binder isn't meeting expectations so that we can figure out if/how we should try to improve things!

I totally agree about all the issues you just noted - some of them are just because the tech behind Binder is definitely still in a beta state...this stuff didn't exist in its current form > 4 months ago :-)  if there's something in partic

[2017-09-07 18:30] fedorov commented on #275
@choldgraf I think a good start would be to add a link to the documentation / "getting started" / examples to the front page: https://beta.mybinder.org/. It is quite confusing that the front page does not have any pointer to the documentation!

[2017-09-07 19:03] choldgraf commented on #275
that's a good point! I agree that should be posted there...

FWIW, here are the docs we'll iterate on for the beta deployment: http://mybinder.readthedocs.io/en/latest/

[2017-09-12 22:50] huangmozhilv commented on #263
@pieper Thank you for sharing the codes. But some errors raised when running the codes according to the log. And the obtained .nrrd files, input into pyradiomics's featureextractor, resulted in an error of "
  File "/Users/messi/pyradiomics/radiomics/imageoperations.py", line 238, in checkMask
    if "Both images for LabelStatisticsImageFilter don't match type or dimension!" in e.message:

Attribu

[2017-09-12 23:06] JoostJM commented on #263
@huangmozhilv, when storing a label map from slicer, it can be that it stores a cropped version of that labelmap, as all voxels outside the bounding box are 0 anyway, and alignment to the image is handled through origin and direction. However, by default PyRadiomics issues a warning, as it requires the mask and image to be of the same size and direction.

Because labelmaps can be stored as cropped

[2017-09-12 23:07] JoostJM commented on #263
All parameters in pyradiomics, including `correctMask`, are documented [here](http://pyradiomics.readthedocs.io/en/latest/customization.html#feature-extractor-level).

[2017-09-13 00:10] huangmozhilv commented on #263
@JoostJM Thank you for the reply. It did work with your suggestion. However, featurevectors are different between this approach (Method 1) and another two (Method 2 & Method 3). In Method 2, I just imported the DICOM series and RT structure set, then applied module 'radiomics'. In Method 3 , I used Slicer software GUI's module 'segmentations' to export both the image series and labelmap as .nrrd f

[2017-09-13 01:18] huangmozhilv commented on #263
@JoostJM It works well now. Thank you so much.

[2017-09-13 02:05] #256 closed

[2017-09-13 02:25] huangmozhilv commented on #263
DICOM RTSTRUCT can be saved as .nrrd file in Slicer software:
my version: the most recent nightly 4.7.0-2017-09-10 r26368.
prerequisites: install extension 'slicerRT'. Also recommend to install extension 'slicerRadiomics' which works the same as 'pyradiomics' toolkit.
1. module 'welcome to Slicer': load DICOM data;
2. navigate to module 'Segmentations': on the left panel, scroll to 'Export/import

[2017-09-13 03:16] huangmozhilv commented on #263
@JoostJM @pieper I tried to do the conversion with a for-loop, as below:
for i in {1..10}; do /Applications/Slicer.app/Contents/MacOS/Slicer --no-main-window --python-script /Users/messi/Documents/GitHub/SlicerRT-master/BatchProcessing/BatchStructureSetConversion.py --input-folder /Users/messi/Documents/Lung1_dataset/DOI/LUNG1-$(printf '%03d' $i) --export-images --output-folder /Users/messi/Downlo

[2017-09-13 03:35] HIBhl commented on #263
For bathprocessing, try BatchStructureSetConversion.py!
The resample.py could solve the error: "Both images for LabelStatisticsImageFilter don't match type or dimension!". This solution was mentioned by pieper before.(Thanks again!)
You could incoporate resampleMask.py into BatchStructureSetConversion.py to acquire the right nrrd file, whic works in LUNG1 set and all my local patients data(n=147)

[2017-09-27 17:10] michaelschwier opened #303 "Memory Error during Feature Extraction (for many images or large mask)"
When I tried to extract features on many images in a loop using PyRadiomics I ran into a memory error. I was able to reproduce two types of memory errors with a simple script and just one image and mask, repeatedly calling the feature extraction on the same image.

I put the code to reproduce the error [here](https://gist.github.com/michaelschwier/893125cbec9bcb4c6ce43bbf9fa411d9) on gist
You can

[2017-09-27 17:12] fedorov commented on #303
@JoostJM let us know if you have any idea what is going on, or if we should investigate further.

[2017-10-02 09:03] JoostJM commented on #303
@michaelschwier, what kind of hardware are you using? Specifically, how much RAM did you have available when running the script?
I tested your script on my computer (Intel Xeon E3-1241, 16 GB RAM) and had no issues with your large mask (ran 11 iterations, memory fluctuates, max need about 2 GB). I'm also running the small mask script (~600 iterations now, still requires only about 200 MB of RAM),

[2017-10-02 09:18] JoostJM commented on #303
Here are the graphs of memory usage over time for the large (~20 iterations) and small (~200 iterations). I got no memory errors and halted the process.

Large mask
![large mask memory usage](https://user-images.githubusercontent.com/18026947/31071176-590a6390-a763-11e7-91e1-9f7eadc058a5.png)

Small Mask
![small mask memory usage](https://user-images.githubusercontent.com/18026947/31071180-5daadf0

[2017-10-02 13:46] sunhuaiqiang opened #304 "No handlers could be found for logger "pykwalify.core""
this error happens with version 1.2.0.post82+g0a0eb4f

[2017-10-02 15:01] michaelschwier commented on #303
@JoostJM Thank you for your answer and checking on your machine.
My System is Win 10 with 16GB RAM. During all my tests there were always at least 7GB RAM still available. Unfortunately the mprof tool doesn't work for me (Windows) it throws an exception that it cannot access the source code!?

So I did "manual" memory observation by looking at the memory consumption of the process in the Task  Man

[2017-10-02 15:20] pieper commented on #303
We should think about explicitly not supporting 32bit python.  We explicitly don't support 32 bit platforms in Slicer because we had so many memory related errors.

[2017-10-02 17:36] fedorov commented on #303
I would suggest not spend any time on this issue debugging it in 32 bit, and add a note to the user guide that 64 bit python should be used.

[2017-10-02 17:43] michaelschwier commented on #303
Could maybe even add a warning during installation of pyradiomics when detecting 32bit python!?

[2017-10-02 17:44] fedorov commented on #303
Definitely, or even failure.

[2017-10-04 16:22] sulaimanvesal commented on #298
@JoostJM Hi Joost, Sorry for late reply, as I was in the hospital for sometimes. I have looked and I can confirm that the type of my images is grayscale, here a small code and output.

`from radiomics import firstorder, glcm, imageoperations, shape, glrlm, glszm, getTestCase
import SimpleITK as sitk
import six
import sys, os
import numpy as np
import cv2

imagename = 'input/Train_img/0-02.tiff'
ma

[2017-10-06 12:23] JoostJM commented on #304
@sunhuaiqiang, in what mode did you use PyRadiomics? Interactive in python, from the commandline or via the slicerRadiomics plugin in 3D slicer?

I have tried locally, but was unable to reproduce your error.

[2017-10-06 12:24] #293 closed

[2017-10-06 15:30] JoostJM commented on #298
@sulaimanvesal Hmm strange... Are you able to provide me an anonymized image and mask to test?

[2017-10-06 16:00] sulaimanvesal commented on #298
[code]

[2017-10-06 16:06] JoostJM commented on #298
@sulaimanvesal As I suspected, your input image is a `VectorImage` (`VectorLength: 4`), this is causing your error.

Before thinking about fixing this error, you first need to specify for yourself how you want to handle the fact that you have multiple values per pixel. The formulas in PyRadiomics assume 1 value per voxel...

[2017-10-06 16:54] sulaimanvesal commented on #298
@JoostJM I could figure it out, you were right the image was VectorImage, what I just changed the image type like this:

[code]

[code]
This was the output of `first-order class` but for other classes such as GLCM and etc. the code exit without giving an error just this:

`Process finished with exit code -1073741819 (0xC0000005)`

Sorry for asking this silly questions but thank you for your fast r

[2017-10-08 14:12] cxxun opened #308 "python setup.py install :Installtion failure on Windows"
Like this

[code]

[2017-10-09 03:15] sunhuaiqiang commented on #304
I used it in command line on data that can be successfully extracted with
form version of PyRadiomics

On Fri, Oct 6, 2017 at 8:23 PM, Joost van Griethuysen <
notifications@github.com> wrote:

[2017-10-09 08:02] JoostJM commented on #298
@sulaimanvesal No problem! The fact that you don't get an error message is due to the fact that something went wrong in the C-extension (because it is C, it doesn't really have error handling).

Do you have an example TIFF image and mask for me to debug with?

[2017-10-09 08:13] sulaimanvesal commented on #298
@JoostJM I appreciated your help,

Here you can see a sample of TIFF image with mask and even DICOM slice.

[Sampl Image](https://www.dropbox.com/sh/5r0cobypa5k2b6u/AADgnNXAAQr59QYu5m01t896a?dl=0)

[2017-10-09 12:24] JoostJM commented on #298
@sulaimanvesal, I see you have also your image available as DICOM. Is there a reason you try to extract from TIFF images? From DICOM you can also convert to NIFTII or NRRD, which is also grayscale. In fact, you can even provide a single slice DICOM to pyradiomics (DICOM is generally not supported because the entire volume has to be in 1 file).

[2017-10-09 12:42] sulaimanvesal commented on #298
@JoostJM well, that is my problem, because I have the annotation only for one slice as ground truth. I made an algorithm to segment the lesions in an automatic way and I got good segmentation on 2D slices. My next aim was to extract some useful features from the segmented lesions to classify them. Yah well, I will go with DICOM, not TIFF. I hope it works with that :) Thanks alot for your follow up

[2017-10-09 12:52] JoostJM commented on #298
@sulaimanvesal, If you only have 1 slice ground truth (or at least a mask on one slice), inputting the DCM file directly is better (less steps changing the file / cleanest data).

In the meantime, I tested your images, but did not get the error you experienced. What version of PyRadiomics are you using? And what python version (python 2 or 3? 32 of 64 bits?)

What I did notice, is that the spacing

[2017-10-09 14:53] #282 closed

[2017-10-09 15:29] #304 closed

[2017-10-11 13:47] jcfr commented on #308
Can you try to install the module `configparser` first and check if you still have an error ?

[2017-10-11 14:46] #298 closed

[2017-10-12 07:46] salimkanoun opened #314 "Json format error"
Hi there, i'm a new user discovering pyradiomics.
I think I picked up one bug.
For my test I get an error in NGTDM calculation (which I didn't investigate yet).

However, the problem is when I ask the results as JSON format and I got this :
"original_ngtdm_Complexity": 0.0, "original_ngtdm_Contrast": NaN

I have an error when I try to parse this JSON because NaN is a string so it should be **"**Na

[2017-10-12 09:07] JoostJM commented on #314
@salimkanoun In this case, the NaN specifies and out-of-range float value, and is not intended as string. This is indeed not in strict compliance with JSON, but still uses the JavaScript equivalents.

If it is serialized as string, it could still provide difficulties during deserialization. An alternative can be that we add a commandline argument to filter out NaN results.

[2017-10-12 09:13] salimkanoun commented on #314
Dear Joost,

Thank for your answer, your argument sounds good, or maybe filtering it by default and add a message to say that some values have been filtered.

[2017-10-12 13:23] jacapan opened #315 "PET processing"
Hello everyone,

first of all thank you very much for creating pyradiomics. This is an amazing tool!
Has anybody experience with applying Pyradiomics to PET-data?
- Are there any pitfalls to consider?
- Are there any recommendation regarding the params/setting file.

Best

[2017-10-12 13:34] salimkanoun commented on #315
Hi Jacapan,

I'm currently working on PET application with Radiomics.
We are developing a free and Open source PET/CT viewer (http://petctviewer.org) which generate NIFTI segmentation file that are successfully read by pyRadiomics.

For all Radiomics calculation questions, I'm not from pyRadiomics team so I won't answer your questions about pitfalls or params settings.

But if you are looking a wa

[2017-10-12 23:34] clarehchao commented on #315
Hi Jacapan,

I did apply pyradiomics to PET images for cross validation of the toolbox
that i made for my work.

I only explored radiomics features including first order stats, shape and
size, and glcm related features. One thing to note is to set the the bin
width appropriately for calculating glcm texture features. I think the
default was set at 25 but works well with CT images. I used 0.1 for a

[2017-10-15 16:04] chansigit opened #316 "can we load image and mask from memory?"
The demo code loads an image from a file in disk.
Can I load a image matrix variable (e.g. numpy.array) directly?

[2017-10-16 08:14] JoostJM commented on #316
@chansigit, Yes and no. No, you can't load a `numpy.array`, because all image handling between modules in PyRadiomics is done as `SimpleITK.Image`. Only inside the feature classes are they converted to `numpy.array` for calculation. Reason for this is that more information is needed than just the voxel values. It also needs information on spacing, direction and origin.

That being said, you can pa

[2017-10-23 08:26] #314 closed

[2017-11-09 17:31] pieper opened #324 "google analytics for readthedocs?"
From what I can tell we should be able to turn on google analytics for our documentation which would make a nice proxy for usage.  It looks like the analytics script is loaded with the page but we don't include the snippet needed to enable it.

Do we already have an ID to use?

[2017-11-13 14:09] chansigit commented on #316
Thank you, I solved the issue using the following method.
`data = np.array(ni_slice.get_data())
sitk_data    = sitk.GetImageFromArray(data)
sitk_data.SetSpacing((float(data_spacing[0]), float(data_spacing[1]), float(data_spacing[2])))`

[2017-11-13 14:10] #316 closed

[2017-11-28 09:25] salimkanoun opened #325 "Center of mass ?"
Hi there,

In some radiomics publications, some authors tried to quantify tumor distribution in a whole body imaging modality (as PET/CT). (see solidity here https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4699494/)

Even if I think we don't have real consensual measurement for this approach, I wonder if pyRadiomics could provide the center of mass of each ROI as in a x/y/z coordinate (for example in

[2017-11-28 09:58] JoostJM commented on #325
Providing a center of mass shouldn't be too difficult. I'd include it in the `general_info` section though, as for all other feature values only a scalar is returned (and thus easily fed into an analysis pipeline).

As to the x, y, z coordinates of this center of mass, the easiest approach would be to calculate this on the original (non-resampled) mask and return the real-world coordinates. This s

[2017-11-28 10:38] JoostJM commented on #250
updated location of config file:
https://github.com/Radiomics/pyradiomics/blob/master/.circleci/config.yml

[2017-11-28 10:47] salimkanoun commented on #325
Sounds perfect ! I forget about the general info, that is a really good idea.

Thank you so much !

[2017-12-05 14:10] Daniel-Fei opened #326 "How can I set the parameters for heterogeneous-dimension MRIs ?"
Hi!
I'm trying to use the application PyRadiomics to analyze MR images of brain tumors.

The MRIs were obtained using different scanners over several years. I checked a few of these MRI scans, and found that in-plance dimentions were different (such as 512*512, 256*256, ...), and slice thickness were also different (such as 5mm, 7mm, 3mm, ...).

My plan is to segment the tumors using ITK-SNAP, and

[2017-12-08 09:43] JoostJM commented on #326
I posted a [response](https://groups.google.com/forum/#!topic/pyradiomics/dqv4iHkZaBY) on the google groups.

[2017-12-08 09:43] #326 closed

[2017-12-08 09:44] JoostJM commented on #324
No idea, I don't at least. Can you look into this?

[2017-12-08 09:47] JoostJM commented on #269
@fedorov, is it an idea to share a link to the dataset here?

[2017-12-08 13:43] pieper commented on #324
@JoostJM I have a google analytics tracking ID and my readthedocs.org account is "pieper" but I believe you need to add me as an owner or admin to the readthedocs pyradiomics project so that I can access the admin page as described here:

http://docs.readthedocs.io/en/latest/guides/google-analytics.html

Or if you prefer I can just email you the tracking code.

[2017-12-08 15:49] fedorov commented on #324
I thought there is some google analytics asset already set up for the radiomics.io - we should check with @ahmedhosny - I think it would be better if all radiomics.io assets are tracked under the same organization.

[2017-12-08 15:52] fedorov commented on #269
I never finished the conversion, thus the issue is still open...

Do you mean to add the Dropbox folder link that with the segmentation dataset you prepared that we shared for the evaluation?

[2017-12-08 15:55] pieper commented on #324
Good point - actually here is the code from the radiomics.io page source: UA-53741901-12

However is a maintainer on pyradiomics for readthedocs should paste this into the box in the advanced settings page (and maybe add me as a maintainer while you are at it).

@ahmedhosny maybe you can also invite add us all to the corresponding google analytics project.

[2017-12-08 15:59] ahmedhosny commented on #324
yup I have one - it is currently using my personal google analytics account and has been tracking it since early this year.
I did set up a radiomics.io@gmail.com account where the radiomics videos are hosted on [youtube](https://www.youtube.com/channel/UC3ra_-ycAHxvIP7l21J5d0g?&ab_channel=radiomics.io) (yet another credentials we have to keep track of). We can potentially move everything there, un

[2017-12-08 16:04] pieper commented on #324
I think it's fine for it to be "owned" by your gmail account @ahmedhosny since you should be able to add users on a per-ga-account basis.

I wanted to get this set up sooner rather than later as we will want more data when we are working on renewal proposals.

[2017-12-08 16:15] ahmedhosny commented on #324
sounds good, I made a new property in my personal account for pyradiomics docs. The ID is UA-53741901-14

We can move properties (with all history) between gmail accounts in the future if needed.

[2017-12-11 09:30] JoostJM commented on #269
Yes, as this is already converted with segmentations. it's not the full set, but a sizeable start.

[2017-12-11 09:34] JoostJM commented on #324
I added @ahmedhosny's ID to the readthedocs.

[2017-12-11 09:35] JoostJM commented on #269
Alternatively, we could also share this set on the radiomics.io page. @ahmedhosny, @hugoaerts, what do you think of this?

[2017-12-11 16:15] ahmedhosny commented on #324
Confirming the docs property tracking is working! DM me if you need the data. Radiomics.io is doing well - will need to update it soon.
Closing this for now.
![screencapture-analytics-google-analytics-web-1513008798283](https://user-images.githubusercontent.com/8398334/33841011-85007862-de64-11e7-8696-2f804be101d2.png)

[2017-12-11 16:15] #324 closed

[2017-12-14 16:37] ahmedhosny commented on #269
can add it no problem - I have a few other outstanding updates, so I'll do them all together.

[2017-12-22 17:20] fedorov opened #327 "Cannot calculate glcm features with bin width less than 1"
It appears that if the bin width is less than 1, calculation of the features cannot be done. Here's the error as seen in Slicer with the dataset attached:

![image](https://user-images.githubusercontent.com/313942/34306623-29f00a94-e712-11e7-874e-afb0f25e0141.png)

In this particular situation, image intensity value is % concentration, this is a valid use case.

[Archive.zip](https://github.com/Ra

[2017-12-26 17:34] salimkanoun opened #328 "Can we get image and mask filename ?"
Hi there,

In the json output there are the general infos which store several data about the settings used etc (which is really nice).
It also implement mask and image Hash but it doesn't store the original name file of mask and Image used to generate result.

It is possible to add the full path string of original Image/Mask file ? It will be usefull to secure the link data to it's source file.

H

[2017-12-27 18:26] #327 closed

[2018-01-03 15:10] JoostJM commented on #328
Sure, wouldn't take too much effort. I'll add it to the single mode script and not the general info though, as this information is already part of the output when working in batch mode (they are required columns in the input, which is copied to the output).

[2018-01-05 07:23] ghzhao1992 opened #330 "Question for Installation"
![image](https://user-images.githubusercontent.com/33625156/34599295-5c3b83c8-f22c-11e7-9af6-59bebf93e78c.png)

[2018-01-05 09:11] JoostJM commented on #330
@ghzhao1992, It appears to be an error in your setup of your compiler. This is not PyRadiomics specific, but has to do with your setup of python. Because PyRadiomics has C-extensions, it needs a properly configured compiler. Maybe [this](https://stackoverflow.com/questions/41724445/python-pip-on-windows-command-cl-exe-failed) can help?

Do you have Visual Studio installed? Which version? It may be

[2018-01-05 09:43] ghzhao1992 commented on #330
Thank you very much for your reply.
    I installed the visual c++  build tools(2015) to solve the problem " Microsoft Visual C++ 14.0 is required".but now it turns into another situation like this...
   I used the Anaconda which already had a self-contained python(3.5), so why we need to install python here again ?
（I am a rookie~~）

[2018-01-05 15:15] JoostJM commented on #330
Ah yes, it's not so much that you need to re-install python, as that your PATH variable is incorrect. In short, it means that your anaconda python just can *find* the compiler and therefore also not use it.

In you windows system variables, is the compiler directory in your PATH variable?

should be something like "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\bin"

[2018-01-08 19:31] JoostJM opened #331 "TravisCI testing broken"

[2018-01-09 03:41] fedorov commented on #331
resolved by #333

[2018-01-09 03:41] #331 closed

[2018-01-10 22:21] JoostJM opened #335 "Making PyRadiomics available on PyPi"

[2018-01-10 22:29] fedorov opened #336 "Use specific version of the jupyter docker image instead of "latest""
Changes in the base docker image can break the jupyter pyradiomics docker and the circleci testing process without notice.

[2018-01-11 12:34] jcfr commented on #335
👍 I will  work on this next week

[2018-01-22 10:24] linnsog opened #339 "Feature extractions on 2D tiff images"
Is it possible to use extract first order features on 2D tiff images using the built in class?

[2018-01-22 10:49] #339 closed

[2018-01-22 10:53] linnsog commented on #339
The images are already gray scale. Do they need to be converted to nrrd files, and does the mask also need to be in 3d?

[2018-01-22 11:07] JoostJM commented on #339
Yes and yes. Image and Mask must both be 3D (but when converting from 2D, they will have a size of 1 in the 3rd dimension).

You can do this using `SimpleITK.JoinSeries()`, but check that the images are really grayscale (i.e. not a vector for each pixel value, check this by `print(im)`, where `im` is a SimpleITK image object).

Related: what is the origin of your tiff images? If the origin is DICO

[2018-01-22 12:44] linnsog commented on #339
The images are original in tif. We made the mask from numpy.ones(), and
made it the same size as the image (since the whole image is of interest).
Then added a new axis to make it 3d and made a nrrd-file.
We also converted the tif image to 3d with "image3d =
sitk.JoinSeries(image2d)", but we are having problems to make it in to a
nrrd file so we can us it as input in the RadiomicsFirstOrder class.

[2018-01-22 13:51] JoostJM commented on #339
Try this:

[code]

[2018-01-22 13:52] JoostJM commented on #339
If you want to store it as a nrrd, run this as well:

`sitk.WriteImage(im, 'path/to/image.nrrd')`  Don't forget the correct extension, SimpleITK uses this to determine the format.

[2018-01-22 14:37] linnsog commented on #339
Looks like it's working now. Thanks a lot!

2018-01-22 14:51 GMT+01:00 Joost van Griethuysen <notifications@github.com>:

[2018-01-23 10:17] ghzhao1992 opened #340 "Error loading C extensions, switching to python calculation"
![image](https://user-images.githubusercontent.com/33625156/35270187-4a6f1056-0069-11e8-92f0-7cbcd65f2fa9.png)
hello sir/lady：
            I installed the basic package already, but when I run the cell ,it is ...

[2018-01-23 10:25] JoostJM commented on #340
It appears to be unable to load the C-compiled extension. Does the file `_cmatrices.pyd` exist in the folder `E:\annaconda\lib\site-packages\radiomics\__init__.py`?
Did you have any issues during setup of PyRadiomics?

[2018-01-23 10:57] ghzhao1992 commented on #340
![image](https://user-images.githubusercontent.com/33625156/35271611-96219a74-006d-11e8-9b3b-1d24fbb34ab1.png)

firstly,  cd pyradiomics
then,   python -m pip install -r requirements.txt
finally,  python setup.py install
The installation was successful and finally a file was generated which named 'pyradiomics-0+unknown-py3.5-win-amd64.egg'.It has a folder 'radiomics', and in 'radiomics' ,I find th

[2018-01-24 09:28] JoostJM commented on #340
@ghzhao1992, strange.
1) pyradiomics was unable to determine it's version during install. Did you clone the git repository or downloaded the zip file? When pyradiomics is installed from the git repository, the setup script is able to determine the exact version of pyradiomics. This version is also included in the output of calculated features, enabling you to reproduce your extraction, even years

[2018-01-24 09:31] JoostJM opened #341 "Should we include the version of SimpleITK, PyWavelet and Numpy in the output?"
Currently, the precise PyRadiomics version is included in the output as a general_info feature. Should we also include the versions of the 3rd-party packages that are used in feature calculation to enable user to exactly reproduce the extraction?

[2018-01-24 09:31] JoostJM commented on #335
@jcfr, did you manage to look at this issue?

[2018-01-24 09:32] #308 closed

[2018-01-24 12:53] pieper commented on #341
If people are building their own PyRadiomics versions that may be built against different versions of the dependencies, then yes, it would be good to capture the provenance.  It certainly can't hurt.

[2018-01-24 17:25] jcfr commented on #341
While writing the exact version of all dependences is helpful, I think encouraging people to use the containerized (e.g docker) PyRadiomics is a reliable approach enabling reproducible results.

In that case, the metadata of the container could be displayed.

[2018-01-30 11:03] zhenweishi opened #343 "Issue: execute ./example/helloRadiomicsWithSettings.py"
Hi, Developers

I have a problem when I execute ./example/helloRadiomicsWithSettings.py. It seems something wrong with reading params file. Do you have a solution?

Traceback (most recent call last):
  File "helloRadiomicsWithSettings.py", line 99, in <module>
    extractor = featureextractor.RadiomicsFeaturesExtractor(paramsFile)
  File "/home/zhenwei/Documents/pyradiomics-1.3.0/radiomics/feature

[2018-01-30 11:07] JoostJM commented on #343
@zhenweishi, If I'm reading this correct, you're running on either Linux or Mac. It can't find the file because in the path `/home/zhenwei/Documents/pyradiomics-1.3.0/examples/exampleSettings\Params.yaml` there is a `\` just before the end. This is hardcoded as such in `exampleRadiomicsWithSettings.py` and is a path separator in Windows.
To fix this change `\` to `/` in `helloRadiomicsWithSettings

[2018-01-30 12:10] JoostJM commented on #343
Fixed by c7c5d2e

[2018-01-30 12:10] #343 closed

[2018-01-30 12:13] #341 closed

[2018-01-30 12:59] zhenweishi commented on #343
@JoostJM Thanks for your help.

[2018-02-02 08:22] ghzhao1992 commented on #340
Thank you for your detailed answers. the problem is solved!
 As you said, I have a copy of pyradiomics here,named 'pyradiomics-0+unknown-py3.5-win-amd64.egg'.
 it's not the file that generated correctly by the zip file.
Thank you again！

[2018-02-02 09:05] JoostJM commented on #340
If you downloaded the source code from the github as a zip-file and then installed from that zip-file, the version will not be set correctly. This is due to the fact that when building from source, the code expects that source to be a git-repository and extract the version from there. However, the zip-file is not a repository and therefore, does not have the part that will yield the version.

Usin

[2018-02-02 09:05] #340 closed

[2018-02-02 09:59] ghzhao1992 commented on #330
I have re-modified the path, as you said, obviously successful!
thank you！

[2018-02-02 10:17] zhenweishi opened #344 "error: pyradiomics installation on windows 2008 r2"
Dear Developers
#330 #
There is an error when I install pyradiomics  on windows 2008 r2. After I run python setup.py install, error below:

running install
running bdist_egg
running egg_info
creating pyradiomics.egg-info
writing requirements to pyradiomics.egg-info\r
writing pyradiomics.egg-info\PKG-INFO
writing top-level names to pyradiomics.egg-inf
writing dependency_links to pyradiomics.egg-in

[2018-02-14 17:02] JoostJM commented on #203
@fedorov As previously discussed, I'm going to take a second look at the commandline scripts with the goal of having 1 entry point with different subcommands (like the git commandline tools).
Currently I'm thinking about the following. Do you have any additions/comments?

- `pyradiomics` General entry point, only provides some information on the possible tools, maybe an XML description for use in

[2018-02-15 13:16] JoostJM commented on #344
This appears to be a problem during compiling the C Extensions. Do you have a Visual Studio Compiler setup on that machine?

If not, please check out this [FAQ topic](http://pyradiomics.readthedocs.io/en/latest/faq.html#during-setup-python-is-unable-to-compile-the-c-extensions)

[2018-02-15 13:16] #330 closed

[2018-02-15 13:18] #250 closed

[2018-02-15 13:19] JoostJM commented on #269
@ahmedhosny, do you have a status update on this issue?

[2018-02-19 21:23] fedorov commented on #203
Few ideas to consider/discuss:
* instead of using "single/batch/model", maybe better to use "--operation [single|batch|model]"? This would also match better the capabilities of the Slicer CLI XML
* how about instead of adding the "voxel" mode, assume that voxel map is requested when label is not specified, and log warnings for those features that required presence of the label?
* I really like the

[2018-02-19 21:25] fedorov commented on #269
@JoostJM we could also contribute normalized labels back to TCIA. Do you think we should have segmentations of all nodules for completeness, or those that you prepared are sufficient? I am personally not sure what is the benefit of sharing the segmentations on radiomics.io. I am also not sure if you suggested hosting of those on radiomics.io, or just adding a pointer to the Dropbox folder?

[2018-02-20 09:43] JoostJM commented on #203
The main issue I see here is that `--operation` identifies it as an optional argument, whereas it's arguably the most important one. Moreover, the different operating modes also have different commandline requirements. For example: in single mode, you specify the image and mask directly, but in batch mode, you specify a csv file that lists the respective cases.

Also in voxel-based extraction, a l

[2018-02-20 09:45] JoostJM commented on #203
Alternatively, I think I can tweak it around a bit to have similar commandlines for `single` and `batch`: I can make the labelmap argument optional and 'detect' wheter to operate in batch mode by checking if Image argument is a csv file. (will rename to "Input").

[2018-02-20 10:13] JoostJM commented on #269
@fedorov, I'm fine with both sharing the data directly on radiomics.io or just sharing a pointer to the dropbox folder. My main idea here was to make it publicly available also to people we don't directly know.

As to sharing the results back to TCIA, We can surely share the dataset I prepared, but as to converting the other segmentations, that depends a bit on how much work that would be. I don't

[2018-02-20 15:52] fedorov commented on #203
Indeed, I didn't think about those points you raised. I agree with your points.

I suggest we should not optimize the command line parameters to deal with the limitations of Slicer CLI. The main goal should be to simplify the process for the users. Maybe it is indeed better to have separate command line tools and not overload one making it too complicated to understand. Good discussion topic for t

[2018-02-21 16:25] ahmedhosny commented on #269
Great, just send me a link - would those go under "data" or "code"?

[2018-02-22 08:59] JoostJM commented on #269
I'd say "data",@hugoaerts?

@fedorov, I created a share link for the repository, i'll email it to you and @ahmedhosny.

[2018-02-28 21:25] stevenagl12 opened #349 "Using pyradiomics for shape feature extraction?"
I have a bunch of meshes that I would like to extract all of the shape features through pyradiomics from. I do not have image data however. I am wonder how to use the shape.py to extract features from these meshes.

[2018-02-28 22:25] fedorov commented on #349
pyradiomics will only operate on image+voxel label. You can discretize your surface mesh and use the result both as a label and as the input image. Would this be an option for you?

[2018-02-28 22:26] stevenagl12 commented on #349
Yes, how would I go about doing that?

On Wed, Feb 28, 2018 at 5:25 PM, Andrey Fedorov <notifications@github.com>
wrote:

--
Sincerely,

Steven A. Lewis

[2018-02-28 22:34] fedorov commented on #349
You can use [3D Slicer](http://slicer.org) to import the mesh (is it a volumetric or surface mesh?) as a "segment", and then convert segment into labelmap representation.

It may actually be even simpler - you can install Radiomics extension in Slicer, and then it can take the Segment directly as the definition of the label. You still would need to have some image as input, but it can be any image

[2018-02-28 22:36] stevenagl12 commented on #349
I'm not using slicer for any of this. I'm trying to perform the scripting
with python as I have well over 1000 meshes.

On Wed, Feb 28, 2018 at 5:34 PM, Andrey Fedorov <notifications@github.com>
wrote:

--
Sincerely,

Steven A. Lewis

[2018-02-28 22:37] stevenagl12 commented on #349
Is there a python function, or package I can use?

On Wed, Feb 28, 2018 at 5:36 PM, Steven Lewis <salewis@buffalo.edu> wrote:

--
Sincerely,

Steven A. Lewis

[2018-02-28 22:46] fedorov commented on #349
I am sure there are other packages, but I would script using Slicer functionality. I can't recommend any specific other package.

If you want to use Slicer for this conversion, you can look into this function that does conversion for a segment into labelmap representation: https://github.com/Radiomics/SlicerRadiomics/blob/master/SlicerRadiomics/SlicerRadiomics.py#L509. You can write a python scrip

[2018-02-28 22:51] stevenagl12 commented on #349
The problem is, I am bran new to python programming, so I am not sure how
to utilize the slicer script without importing each individual mesh into
slicer and running the module. Is there a way to use this script outside of
slicer?

On Wed, Feb 28, 2018 at 5:46 PM, Andrey Fedorov <notifications@github.com>
wrote:

--
Sincerely,

Steven A. Lewis

[2018-02-28 22:56] fedorov commented on #349
Yes, you can script import, conversion and export, but there is a learning curve, definitely.

How about you start looking over the resources I mentioned above, and also this one: https://www.slicer.org/wiki/Documentation/Nightly/Developers/Python_scripting#Where_can_I_find_example_scripts.3F (referenced from the python scripting FAQ), and see how that goes?

If I were you, I would also just do th

[2018-02-28 23:27] pieper commented on #349
@stevenagl12 I'll second Andrey's suggestion: if you are new to python programming you will be much better off starting with the GUI to implement the end-to-end analysis on a few cases.  Once you can write down the exact steps that give you useful data it will be (mostly) trivial to write a script to implement it for your 1000 cases.  Plus Slicer's user interface will provide a convenient way to d

[2018-03-05 09:42] alimid opened #350 "GLCM only works for images with at leat 256 bins"
I am trying to use GLCM for 3D-images of tumors. If I have at last 256 bins (8-bit image) everything works. If my images have less bins than this (for example 128, or 64 or 16), the GLCM-features only returns the value 0 or 1 for most of my images. Why is this?

[2018-03-05 10:52] JoostJM commented on #350
It is possible your mask shows a flat region. Re-run pyradiomics with a log file and log level set to DEBUG. In the log you can then see how many graylevels are defined for the GLCM.

[2018-03-05 12:30] alimid commented on #350
Thank you JoostJM, with the log and DEBUG, I was able to see what was wrong. I had not changed the settings for binwidth, so the automatic binwidth of 25 made my ROI flat.

[2018-03-05 12:43] #350 closed

[2018-03-06 15:43] CristianIzquierdoLitii commented on #303
Hi,

I've been trying to run some test.py to check radiomics is working but it keep saying that it cannot import featureextractor from radiomics. Is there anyone having the same issue?

Thanks in advance

[2018-03-06 16:55] JoostJM opened #352 "featureextractor not found"
Asked by @CristianIzquierdoLitii in #303

[2018-03-06 16:58] JoostJM commented on #352
I readded this comment here as it is most likely unrelated to #303.

I have some questions related to your issue:
- What system (OS) do you use?
- Which version of python?
- Which version of pyradiomics?
- Did you receive any issue/warnings/errors during installation?
- If you go to the folder where pyradiomics is installed, do you see a file `featureextractor.py` there?

To find the location of t

[2018-03-06 17:49] fedorov opened #354 "Errors and crash with specific dataset"
With the attached dataset, there are several things I cannot explain:
* if I run it with the image and label, I get runtime errors in shape feature calculation (no config file, default parameters). However, if I run it passing label as both the image and label, it works fine. I expected shape feature calculation should not depend on the image content.
[code]
* when the error happens, pyradiomics d

[2018-03-06 19:20] CristianIzquierdoLitii commented on #352
I'm sorry for posting in the wrong thread.

- Mac OS
- 2.7
- The last one. Cloned the git repository today.
- No warnings or issues. It worked perfectly and I checked again and again if there was something not installed.
- Yes, the file is in there. Same happens with firstorder.py

That's why I asked, because it seems like a pretty easy issue, but it doesn't work.

Thanks for asking so fast!!

[2018-03-06 19:22] CristianIzquierdoLitii commented on #352
I already typed the :

import radiomics
print(radiomics.__file__)

and the answer is:

User.../myname.../anaconda2/lib/python2.7/site-package/radiomics/__init__.pyc

[2018-03-07 10:11] JoostJM commented on #354
@fedorov, I received the same error regardless both when I used image and mask and when I used mask alone.

The cause is in a machine-precision error. The segmentation in the dataset represents a 2D segmentation, and therefore the smallest of the 3 eigenvectors should be 0. But because we transform to physical coordinates (taking into account rotation and scaling), this actually computed to ~-7.9e

[2018-03-07 10:20] JoostJM commented on #352
Can you run the following and post the response?

[code]

[2018-03-07 10:24] CristianIzquierdoLitii commented on #352
Yes sure,

Here you are.

 poblenou-136-114:Desktop cristianizquierdo$ python TestRadiomics2.py
Traceback (most recent call last):
  File "TestRadiomics2.py", line 20, in <module>
      import radiomics.featureextractor
ImportError: No module named featureextractor

poblenou-136-114:Desktop cristianizquierdo$

[2018-03-07 10:29] JoostJM commented on #352
I have to say, it's a strange error. It appears that you're able to find the package, but that the package in turn is unable to find the correct module. What is the output of the following? (Lists all the modules it can find in `radiomics`)

[code]

[2018-03-07 10:33] CristianIzquierdoLitii commented on #352
I'm sorry for bothering you.
The output is this:

poblenou-136-114:Desktop cristianizquierdo$ python TestRadiomics2.py
['features.pyc', '__init__.py', 'features.py', '__init__.pyc']

and the list of all the modules in radiomics is:

poblenou-136-114:~ cristianizquierdo$ cd pyradiomics/
poblenou-136-114:pyradiomics cristianizquierdo$ cd radiomics/
poblenou-136-114:radiomics cristianizquierdo$ ls
__

[2018-03-07 10:41] JoostJM commented on #352
No problem.
Ah. I assume the `['features.pyc', 'init.py', 'features.py', '__init__.pyc']` is the output from `print(os.listdir(os.path.dirname(radiomics.__file__)))`? It appears that it is finding some other folder/module called radiomics, which has a totally different structure.

The ls you posted under that is the listing in the source package, which is not found by your python interpreter.

To

[2018-03-07 10:43] #354 closed

[2018-03-07 10:53] CristianIzquierdoLitii commented on #352
Ok, I found the `easy-install.pth`, the folder radiomics in the site-package and I did a ls in that folder and it seems there is no featureextractor.py in there:

`poblenou-136-114:site-packages cristianizquierdo$ cd radiomics
poblenou-136-114:radiomics cristianizquierdo$ ls
__init__.py	__init__.pyc	features.py	features.pyc`

Should I delete this folder? Will it work?

[2018-03-07 11:08] CristianIzquierdoLitii commented on #352
Ok JoostJM

Fixed!!!

Thank you for your help!!!!

[2018-03-07 11:54] #352 closed

[2018-03-08 13:47] tommydino93 opened #358 "3D features"
Hi everyone!
I am about to start a feature extraction on a set of images obtained from cardiac MRI.

Since I will have to deal with 3D volumes (stacks of slices), I wanted to ask:
"are there some of the pyradiomics features that are suitable for these task or should I just apply the 2D feature extraction for each slice and then combine them in some other way?

Thanks a lot in advance.
Tommaso

[2018-03-08 14:47] JoostJM commented on #358
Hello @tommydino93,

You can extract in 3D if you ensure that your voxels are isotropic (same dimension in-plane and out-of-plane). If this is not the case (the usual in MR), you can enable resampling). On the other hand you can also extract 2D. This does not produce a value per-slice, but just does not consider voxels on adjacent slices to be neighbours (only applies for texture, i.e. texture). 2

[2018-03-08 14:59] tommydino93 commented on #358
Ok thank you very much! To keep things simple, I think I will firstly extract 2D features.
Just some other few questions:

1) Can I run (and eventually HOW) pyradiomics programs in PyCharm?
2) Since I am new to GitHub, I also wanted to understand: "which version of the programs should I
    use?"...meaning..."from which of the many folders I extract the correct (most updated) code that I can
   la

[2018-03-09 15:25] JoostJM commented on #358
@tommydino93, yes you can run pyradiomics from PyCharm. Easiest to start with this is to take a look at the examples folder.

As to your second question, what exactly do you mean? Which version of PyRadiomics? In that case, I'd advise to clone the repository and run from the master branch. See [here](https://git-scm.com/book/en/v2/Git-Basics-Getting-a-Git-Repository) for making/cloning a git repos

[2018-03-09 18:09] aydindemircioglu opened #359 "Divison by zero?"
I get a strange message, when enabling all features and image types:

  File "/usr/local/lib/python3.6/dist-packages/radiomics/base.py", line 162, in calculateFeatures
    self.featureValues[feature] = getattr(self, 'get%sFeatureValue' % feature)()
  File "/usr/local/lib/python3.6/dist-packages/radiomics/ngtdm.py", line 238, in getContrastFeatureValue
    contrast = (numpy.sum(p_i[:, None] * p_i[N

[2018-03-09 21:07] blezek commented on #269
@JoostJM, Can you send the link to me as well?  I have a colleague who is interested in the corrected data.

[2018-03-13 09:18] JoostJM commented on #203
Fixed by #347

[2018-03-13 09:18] #203 closed

[2018-03-13 15:14] tommydino93 commented on #358
Thank you again! Before installing Git I wanted to give it a try with PyCharm. I followed the specific [guide](https://www.jetbrains.com/help/pycharm/manage-projects-hosted-on-github.html), created a specific repository. Everything seemed to work fine. I tried the "brain1" example but then I get this error:

**Error loading C extensions, switching to python calculation:
Traceback (most recent call

[2018-03-13 15:39] JoostJM commented on #358
@tommydino93, issue #340 is not exactly the same as your error. In that case, it could not find the correct installation of PyRadiomics and subsequently, it could not load a module which was part of PyRadiomics. Your problem however, is that you are missing a 3rd-party package required by PyRadiomics to run.

There are several dependencies for PyRadiomics to function, and are detailed in [requirem

[2018-03-13 15:55] tommydino93 commented on #358
@JoostJM Thank you, that did solve almost all the errors it gave me. Now I just get:

**C:\Users\tommaso\PycharmProjects\Prova\venv\Scripts\python.exe D:/Getting_Started_PyCharm/Pyradiomics/Trial_Pyradiomics.py
Error loading C extensions, switching to python calculation:
Traceback (most recent call last):
  File "D:\Getting_Started_PyCharm\Pyradiomics\radiomics\__init__.py", line 295, in <module>

[2018-03-13 16:23] tommydino93 commented on #358
@JoostJM, I just tried following this PyCharm [guide](https://www.jetbrains.com/help/pycharm/creating-and-running-setup-py.html), I chose "develop" and a console opens saying:

**running develop
running egg_info
writing Solver.egg-info\PKG-INFO
writing dependency_links to Solver.egg-info\dependency_links.txt
writing top-level names to Solver.egg-info\top_level.txt
reading manifest file 'Solver.egg

[2018-03-13 16:56] JoostJM commented on #358
@tommydino93, what is the content of the radiomics folder? is there a file called `_cmatrices.pyd`?

What is the output of the following:
[code]

[2018-03-13 16:58] JoostJM commented on #358
on a side not, your last comment seemed to have installed something called 'solver', but not PyRadiomics. Do try to run the setup.py directly from the commandline (where you first cd into the root of the repository)

[2018-03-13 18:10] tommydino93 commented on #358
@JoostJM, inside pyradiomics/radiomics there is a sub-folder named src and the cmatrices file is inside that sub-folder but it has a .c extension and not a .pyd one.

Anyway:

import radiomics
print(radiomics.__file__)

gives me once again as output the error:

Error loading C extensions, switching to python calculation:
Traceback (most recent call last):
  File "D:\Getting_Started_PyCharm\Pyradio

[2018-03-14 09:05] JoostJM commented on #358
@tommydino93 The contents of your folder mean that the extensions are not yet compiled and therefore not available when you try to start it.

To compile these you first need to run the setup script, which I usually do outside of PyCharm altogether.

If you execute the following steps, it should work:
1. start a command terminal (on windows: cmd.exe) in your repository. the easiest way to do this i

[2018-03-14 09:08] JoostJM commented on #358
see [this](https://stackoverflow.com/questions/1471994/what-is-setup-py) stack overflow thread for more info on what setup.py is.

[2018-03-14 10:32] tommydino93 commented on #358
Hi @JoostJM!
I arrived to the Pyradiomics directory through the cmd prompt, but then if I run `python setup.py develop` I get the error:

"python is neither recognized as an internal command nor an external command, nor an exe program, nor a batch file.

I tried typing just `setup.py develop` and the prompt gives me this error:

File "D:\Getting_Started_PyCharm\Pyradiomics\setup.py", line 7, in <m

[2018-03-14 10:42] tommydino93 commented on #358
Furthermore, is it mandatory to have Git installed on my PC in order to use GitHub Packages in PyCharm? I am asking you just because I also tried running `setup.py` in PyCharm but on the event log I get these two errors:

1. Can't start Git: C:\Users\tommaso\Downloads\Git-2.16.2-64-bit.exe
			The path to Git executable is probably not valid. Fix it.
2. Install packages failed: Installing packages:

[2018-03-14 10:43] JoostJM commented on #358
This means python is not in your PATH variable. What kind of python interpreter did you install? Anaconda, Python 2.7, Python 3.x?

If you know how to update your PATH variable, add the folder containing python.exe and the scripts folder. In case of regularly installed python: `C:\PythonX.X;C:\PythonX.X\Scripts`. If not reinstall python and ensure you select "add python to PATH"

[2018-03-14 10:45] JoostJM commented on #358
For PyCharm I don't know, but PyRadiomics uses git to determine the version of PyRadiomics during installation, so for pyradiomics it is sort of required yes. It's good practice to have git installed anyway when you're working with GitHub repositories, because it allows you to have and work with local copies of the entire repository.

[2018-03-14 13:12] tommydino93 commented on #358
Thank you very much! I added the python PATH, I downloaded Git and integrated into PyCharm, and now the simple code I wrote there works without any errors. I finally managed to upload the "brain1" images and masks!

Now the real programming begins! I will surely ask you something about the programs too!! Please stick around @JoostJM! :) :)

Thanks again

[2018-03-14 13:35] JoostJM commented on #358
You're welcome! Be sure to check out the [examples](https://github.com/Radiomics/pyradiomics/tree/master/examples) and [notebooks](https://github.com/Radiomics/pyradiomics/tree/master/notebooks) in the repository, the [frequently asked questions](http://pyradiomics.readthedocs.io/en/latest/faq.html) in the documentation and questions from the community both here in the issues and on the [google gr

[2018-03-14 13:35] #358 closed

[2018-03-14 13:36] JoostJM commented on #344
@zhenweishi, did you manage to fix your issue?

[2018-03-14 13:38] JoostJM commented on #328
Fixed by #347

[2018-03-14 13:38] #328 closed

[2018-03-15 10:21] tommydino93 opened #360 "Image extraction, segmentation, resampling, 2D, MRI cardiac images"
Hi everyone!
Since I am about to begin a radiomic study ex novo, I just wanted to ask some questions so as to avoid annoying future problems. We will extract images and masks of interest next week from cardiac MRI with the intent of performing a future binary classification.

1) Should I necessarily extract images in .nrrd format or the .dcm (DICOM) format is fine and easy to convert into .nrrd?

[2018-03-16 01:51] QiChen2014 opened #361 "How can I convert DCM to NRRD with SimpleITK?"
Hi everyone!
I'm trying to use the PyRadiomics to extract features from a serious DICOM images(2D), and I have two questions.
1.  As the document says, PyRadiomics can not process the DCM image directly, so I translate my data from DCM to NRRD by simpleITK, code like this:
`
  reader = sitk.ImageSeriesReader()

    dicomReader = reader.GetGDCMSeriesFileNames(inputPath) #input is the DCM file path

[2018-03-16 01:59] fedorov commented on #361
The approach you use may not result in geometrically ordered slices. You can use existing tools, such as [dcm2niix](https://github.com/rordenlab/dcm2niix) or [plastimatch](http://plastimatch.org/) to convert a DICOM series into a volume. Prior to running the converter, you will need to ensure the input DICOM folder contains just one series, and that series is a scalar volume.

[2018-03-16 06:11] QiChen2014 commented on #361
@fedorov Thank you for your reply. Can PyRadiomics process nii directly?

[2018-03-16 06:43] QiChen2014 commented on #339
@JoostJM I have a similar question , whether the DCM image (2D)  also needs to convert to 3D?

[2018-03-16 10:55] fedorov commented on #361
Yes

[2018-03-16 11:56] JoostJM commented on #339
@QiChen2014 Yes

[2018-03-16 12:29] JoostJM commented on #360
Yes, see also #361

Yes, although other values than 1 are allowed (you'd then need to specify that value in the `label` parameter, though). Importantly, the direction, origin and size must match to the image. If this is not the case, but the region of interest occupies a physical space contained within the image bounds, you can still use it by setting `correctMask` to `True`.

Your third dimension

[2018-03-16 12:32] JoostJM commented on #359
`Nvp` is the number of voxels which have a valid region. If that number is zero, this most likely means that your segmentation consists only of individual voxels here and there. In that case, it is not possible to calculated texture and you should review that case and consider excluding it.

If this case does contain a valid segmentation, could you share an anonymized copy so we can debug?

[2018-03-16 12:32] #349 closed

[2018-03-16 12:36] QiChen2014 commented on #361
OK，I got it. Thanks again!

[2018-03-16 12:36] #361 closed

[2018-03-16 13:20] tommydino93 commented on #360
Thank you very much again @JoostJM! I'll keep in mind the mask origin/direction/size issue.

As for question 4, I will speak with my supervisor (the doctor in charge of the research project) on Monday and we'll try to figure out what makes more sense from a clinical point of view.

I was thinking that by averaging all the sub-regions we could lose the gray level dependencies, and it would also be

[2018-03-18 10:36] aydindemircioglu commented on #359
I will check the segmentation again, and come back to you. (And for sure you are right)
But nonetheless, would a proper error logging like "Unable to compute contrast, is the segmentation correct?" not better than just crashing? Also, as i often compute many features inside a simple, i'd personally like that there is just a warning instead of a crash, but i could clearly catch the error myself.

[2018-03-19 09:11] JoostJM commented on #359
@aydindemircioglu There already is some checking of validity of the mask prior to feature calculation. Moreover, the division by 0 is just causing a warning, not a crash. The error you get is a format error, in that ITK is unable to format the warning message and therefore throws an error. I will look into this further...

[2018-03-19 11:34] aydindemircioglu commented on #359
strange, i had to reinstall my linux OS on one of my computers, there, with python 3.5, i dont get the above error message but just "invalid value encountered in double_scalars". the mask itself it pretty large, around 13000 voxels, and from very first sight (non-radiologist and 8bit compressed image) i'm sure that there is contrast there. its also not loosely connected, as i explicitly throw out

[2018-03-19 12:02] aydindemircioglu commented on #359
@JoostJM
its hard for me to debug properly, but it seems a bit like there is not enough contrast,
thus only 1 bin gets applied, thus(?) there only one s_i coeffient, which is zero.
something along those lines perhaps? the start of the log file is like this, the INVALID line
i added just prior to the offending line, just to see where to look at.
it actually happens multiple times for the image/mask

[2018-03-19 12:32] aydindemircioglu commented on #359
mmh, this seems actually to happen much often than i thought-- i did not see it because to fix my loop i just did check if s_i == 0 if so, i return 0. maybe our images from this study have too low contrast for ngtdm to work?

[2018-03-19 13:37] JoostJM commented on #359
@aydindemircioglu, not necessarily, what kind of values do you get for originial_firstorder_range

The problem is that for texture calculation, you need to discretize your gray values. This is controlled by the `binWidth` parameter, which is by default 25 (aimed at CT). Apparently, your images have less contrast than that, indicating you should change that parameter.

[2018-03-19 13:39] JoostJM commented on #359
As to the warning "Calculating Local Binary Pattern in 2D, but extracting features in 3D. Use with caution!" that is due to the fact that PyRadiomics implements a local binary pattern filter for 2D and 3D separately (different calculation, see documentation). This warning is displayed when your extraction method (2D or 3D) does not comply with the chosen filter. Because you have both filters enabl

[2018-03-19 14:28] aydindemircioglu commented on #359
thanks for all the input.

the range over all images is like this:

 [1]  803  698 1073  694 1253  770 1739  802 1056  751  807  209  470 1026  768
[16]  696  222  863  595  779  753 1117  796  605 1285  471  845  477  884 1119
[31] 1267  989 1068  319  881 1760  423  848  420  910  907 1298  945  722 1267
[46] 1079  568  703  521  570

i just tried binWidth=5, but that doesnt help with the proble

[2018-03-19 16:54] JoostJM commented on #359
@aydindemircioglu I think I discovered the error, take a look at this line from your output:
`INFO:radiomics.featureextractor: Calculating features for lbp-3D-m1 image`
This means it's calculating features on this filter, and as is mentioned in the documentation of that filter, local binary pattern tends to have very small ranges of gray values, so for LBP, it makes sense to use a small binwidth (

[2018-03-20 04:47] shercklo opened #362 "How can I calculate the features with label whose format is "txt""
I use the code based on the "helloFeatureClass.pynb",which is the example of pyradiomics
code:
/*
 from radiomics import firstorder, glcm, imageoperations, shape, glrlm, glszm, getTestCase,featureextractor
from __future__ import print_function
from PIL import Image
import six
import sys, os
import radiomics
import SimpleITK as sitk
import pydicom
import numpy as np
import logging
import radiomics

[2018-03-20 11:08] Icron1 opened #363 "GLCM Sum Variance definition discrepancy"
Hi everyone,

I have noticed a discrepancy in the definition of the GLCM Sum Variance parameter:

- In Haralick's definition paper (http://haralick.org/journals/TexturalFeatures.pdf), in Aerts "Decoding Tumor Phenotype ..." (https://www.nature.com/articles/ncomms5006) Supplementary Data and in some Matlab Toolboxes, the Sum Variance calculation involves the result of **Sum Entropy** ... and is not

[2018-03-20 11:47] QiChen2014 commented on #359
Hi @JoostJM , as you said , I specifed the parameter " LBP3D" in my parameter file like this:
<pre>
imageType:
  LBP3D:
    binWidth: 1.0
</pre>
then I run it and I get this error:
`Key 'LBP3D' was not defined. Path: '/imageType'.: Path: '/'>`
What happend? I'm sure I have updated to the latest edition. Look forward to your reply and thank you for your time.

[2018-03-20 11:49] #363 closed

[2018-03-20 11:50] Icron1 commented on #363
Sorry for this topic. Didn't see the justification in #300

[2018-03-21 09:06] JoostJM commented on #362
@shercklo, Why do you not use the feature extractor class? It is possible to use the feature classes directly, but then a lot of checking and preprocessing is skipped.

Second, as stated in the documentation, images and masks in pyradiomics are processed in the `SimpleITK.Image` format, as this class also contains the transformation matrix to real-world coordinates.

try this

[code]

[2018-03-21 09:24] JoostJM commented on #359
@QiChen2014, This is a bug, I'm fixing it in #364.

[2018-03-21 09:30] tommydino93 commented on #360
Hi @JoostJM!
At the end, as far as myocarditis is concerned, I think we'll just select the widest inflamed region. In the meantime, since I don't have the cardiac images yet, I tried to load in PyCharm a simple brain image and corresponding mask that I downloaded from the local PACS just as a trial.

I have stored, in the same directory (All_Data_nrrd), two files which are: **brain_image.nrrd** an

[2018-03-21 09:35] JoostJM commented on #360
@tommydino93, that function finds the pyradiomics test cases. Try `brain1`.

[2018-03-21 09:48] tommydino93 commented on #360
@JoostJM I managed to run everything with the brain1 example.....but what I need now for MY brain image and for my future cardiac images will be to load images (and masks) from one of my own directories and not from the pyradiomics data test cases.

Which function could I use to do that? I thought that `getTestCase` could be used, just modifying the "dataDirectory" parameter..

[2018-03-21 10:25] JoostJM commented on #360
@tommydino93, The `getTestCase` Function cannot be used for such a case, as it also contains code to download the test data from github when it's not found (which would be quite difficult for your data).

Easiest to use your own data is like this:
[code]

This sets the last two variables to the path of your data, which is similar to what `getTestCase` does for the pyradiomics test data (with the a

[2018-03-21 11:33] tommydino93 commented on #360
Ok, thank you very much! And how about the **settings** (e.g. binWidth, interpolator, resampledPixelSpacing, voxelArrayShift)? Is there a rule of thumb to choose them?

P.S: would it be a problem if I commented in a fork some of the code lines? I am trying to figure it out on my own just following the code (for instance in pyradiomics/radiomics/first order) but coming from Matlab (they spoiled me

[2018-03-21 14:41] JoostJM commented on #360
@tommydino93, for that, check out the example settings in the repository. Besides that the only advice I can give you is to just see what works.

Sure no problem.

[2018-03-22 04:49] shercklo commented on #362
Thanks a lot!
I'll have a try.

[2018-03-22 04:55] shercklo commented on #362
It works! Thank you once again!
I think I shoud have read the docs and examples more carefully :)

[2018-03-22 04:55] shercklo commented on #362
It works! Thank you once again!
I think I shoud have read the docs and examples more carefully :)

[2018-03-22 16:24] aydindemircioglu commented on #359
i wont be able to test until next week, just in case you wonder.

[2018-03-23 07:46] tommydino93 commented on #360
Hi @JoostJM! I managed to run this code for my brain image, following the brain1 example:

[code]

Everything works fine, meaning that the program extracts all numerical first order features. What I wanted to ask you is:

1. Is there a way to check if the `checkMask` function worked properly? For instance, could I visualize (maybe with pyplot) the segmented mask?

2. Same thing for `cropToTumorMas

[2018-03-23 09:07] JoostJM commented on #360
1. The corrected mask is usually `None` (That means no correction applied). The only case where it is not `None` is when it has to be resampled due to image geometry mismatch between image and mask (see also [parameter `correctMask`](http://pyradiomics.readthedocs.io/en/latest/customization.html?highlight=correctMask#enabled-features)). If the checks fail, `(None, None)` is returned.

2. `image,ma

[2018-03-24 07:18] shercklo commented on #362
Oh, I come here again.
I meet another problems. Now I don't want just 2-D Features and want to get  the 3-D Features
The Image Series directory is  'F:\xk\BC_SAMPLE\metastasis\10422801\ST0\A-Mono 40 kev' , the mask Series directory is 'F:\xk\BC_SAMPLE\metastasis\10422801\ROItxt\LN-A-M\', how can I do this withoud 3-d slicer but just pyradiomics?

[2018-03-25 13:40] Icron1 opened #365 "Error in NGTDM documentation"
Hi!

Thanks a lot for Pyradiomics software!

Just a message in order to highlight is a small mistake in the NGTDM documentation.
In the example matrix, it's written:

s3=|3−**14**/5|+|3−18/5|+|3−20/8|+|3−5/3|=**2.63**

Whereas the truth is:

s3=|3−**12**/5|+|3−18/5|+|3−20/8|+|3−5/3|=**3.03**

And so in the corresponding NGTDM.
It's quite nothing but it might be confusing.

Sincerely,
Loïc

[2018-03-26 08:18] JoostJM commented on #362
PyRadiomics default is 3D features. To get 2D features, either give a maskfile with only 1 slice masked, or enable forced-2D extraction by setting `force2D = True`.

[2018-03-28 14:05] guangzhaohui opened #367 "How should I set /examples/exampleSettings/Params.yaml to use all filters？"
Hi everyone!
Since I am about to begin a radiomic study ex novo, I just wanted to extract images with all filters.
Now
How should I set /examples/exampleSettings/Params.yaml？

# Settings to use, possible settings are listed in the documentation (section "Customizing the extraction").
setting:
  binWidth: 25
  label: 1
  interpolator: 'sitkBSpline' # This is an enumerated value, here None is not al

[2018-03-28 15:02] JoostJM commented on #367
There is no way to specify "all filters", but the are all listed in the documentation and you can enable them all by specifying the in your parameter file as follows:

[code]

The name (case-sensitive) of the filter is specified by the function name implementing that filter:
`get<Filter>Image()`, e.g. `getLoGImage` is enabled by specifying `LoG`. All filters are implemented [here](http://pyradiomi

[2018-03-28 15:04] JoostJM commented on #365
Fixed by ea9a6ce6efd2ebfd4229e8070f72eef382c590bd

[2018-03-28 15:04] #365 closed

[2018-03-29 03:57] lisherlock opened #368 "Can the binary image be the mask file?"
Hi!
Recently I use the open-source project called pyradiomics, but now I have a very big problem about the mask image. I really hope you can help me solve it!

The problem is the mask file named maskname in the program. Now I get one mask file which is made by myself. It’s a Binary Image including the ROI. I tried to use it as the mask-file in the program named Helloradiomics, but there’s one log

[2018-03-29 04:07] lisherlock commented on #368
[mask.zip](https://github.com/Radiomics/pyradiomics/files/1858562/mask.zip)
That's the Binary Image mask file that can't work in pyradiomics.

[2018-03-29 08:01] JoostJM commented on #368
@lisherlock, the error is due to the fact in how you defined your ROI. In the file you sent over, there are only values 0 (I assume background) and 255 (I assume your ROI). As 255 is of course not 1, PyRadiomics is unable to find a ROI defined by label '1'. To extract for label 255, you need to specify it to PyRadiomics. You can do this in the parameter file (under `setting`, parameter `label`), o

[2018-03-29 08:03] JoostJM commented on #368
By the way, does your image have the same size and orientation? if not, you might want to set parameter `correctMask` to `True`, this will resample the mask to the image geometry. If you do the, first check that the mask nicely overlaps the image in a visualisation program (e.g. 3D Slicer)

[2018-03-29 08:41] lisherlock commented on #368
Thanks for your letter!

I'm sorry that the file(mask.zip) I uploaded is not the binary image. I just downloaded it then I found it's a grey level pic. Sorry for that！

I found my images have the same size and orientation after checking my image and mask again. It worked after I change the label to 255 by using the mask file I uploaded above!

So do you mean that I can't use the Binary Image as th

[2018-03-29 09:58] JoostJM commented on #368
@lisherlock, the pixels in your mask file can have any value you want, as long as all the voxels defining the ROI have the same value and you specified that value in the `label` parameter. In this way, your mask file is able to hold multiple (non-overlapping) ROIs and you can extract features from each ROI separately by specifying the different label values for each extraction run (you can even cr

[2018-03-29 10:38] lisherlock commented on #368
Thanks a lot!

I know that the binary image maybe can't be the mask-file because there's no software that can convert binary image (.bmp) to the dcm files or the nrrd files. So the best solution maybe is to try to convert the bmp files to grey level dcm files which has no RGB channels.  Thanks again!

By the way, can you recommend me some softwares that could convert many bmp files to dcm or nrrd

[2018-04-05 08:13] JoostJM commented on #360
Spacing in mm

interpolator specifies the method to use to calculate new pixel values (which order of funtion)
To reduce computation time, both for resampling and subsequent feature extraction, only the part of the image that is of interest is resampled. This area is determined by the bounding box of the mask, with an additional padding (specified in `padDistance`) to ensure correct application of

[2018-04-05 14:02] JoostJM commented on #360
Run a simple extraction for your data (e.g. with just firstorder features). PyRadiomics includes the original spacing in the output by default (`general_info_Spacing`)

[2018-04-05 14:31] tommydino93 commented on #360
Yeah, that's what I thought...but I'm not getting them. My code is:

[code]

and as output I get:

[code]

What am I missing?
Thanks again in advance!

[2018-04-05 15:13] JoostJM commented on #360
@tommydino93 You are missing that data because you are implementing the featureclasses directly, which is not advised. Use the `featureextractor` interface, it's a lot easier to use (follow the `helloRadiomics.py` example)

[2018-04-06 08:24] tommydino93 commented on #360
@JoostJM Alright! I've done that, thanks.

It appears that my pixel spacing is now (1.0, 1.0, 1.0) which is weird because in my original .dcm image it was different. I figured that maybe during the conversion from DICOM to nrrd something went wrong. I followed [this](https://www.embodi3d.com/blogs/entry/341-how-to-create-an-nrrd-file-from-a-dicom-medical-imaging-data-set/) guide for the conversion

[2018-04-06 08:39] JoostJM commented on #360
You can try [this](https://github.com/JoostJM/nrrdify), it's a script/package I built for conversion in Python. It will scan the folder and create NRRD (or NIFTII). If there is something wrong with the image, it will give you a warning what is happening.

The spacing (1, 1, 1) is usually a sign that something went wrong during conversion.

[2018-04-06 08:45] JoostJM commented on #360
Alternatively, you can also try to see if Slicer found some issue by checking `advanced` in the DICOM browser and pressing the buttom `Examine`. After you've loaded your volume, you can also check the characteristics of that volume in the `volumes` model.

[2018-04-06 11:47] tommydino93 commented on #360
Thanks again @JoostJM !

I am having problems with PyCharm..maybe you can help me. I think it's a problem of configuration between PyCharm and GitHub. I typed this simple code:

[code]

and I get as error:

[code]

1) Did I call the function properly?
2) Why walk_folder is not recognized? I cloned the GitHub HTTPS in PyCharm as explained [here](https://www.jetbrains.com/help/pycharm/manage-project

[2018-04-06 13:06] JoostJM commented on #360
@tommydino93, You'll have to import the module before you can use it:

[code]

That being said, Nrrdify also has a commandline interface. To use it, it is most easy to install it.
from the root of the package (i.e. the folder containing `setup.py`)

[code]
This will print the help message detailing the usage (with optional configuration). Once it is installed, it should be usable throughout your c

[2018-04-06 13:29] tommydino93 commented on #360
Wow thanks a lot!
I managed to do it both ways. Nevertheless, the .nrrd image created is still a 512x512 microns and not a 260x260 mm as the original DICOM one :(

Could it be a problem just with the opening in ImageJ?

[2018-04-06 13:30] JoostJM commented on #360
@tommydino93, could be. Can you share an anonymised version of your DICOMs and NRRD?

[2018-04-06 14:42] tommydino93 commented on #360
@JoostJM,  I managed to anonymize only the DICOM image (but not the .nrrd) with DicomCleaner. I hope it is sufficient for you to try it out :) Here it's the MEGA link to the image:

https://mega.nz/#!gPhHRayB

Thanks a lot again!

[2018-04-06 14:44] tommydino93 commented on #360
Sorry, that link needs a key! This already has the key:

https://mega.nz/#!gPhHRayB!JTen715bznaNqNxIzNKez_Wutb0M5RIZv1vS0_tg9BQ

[2018-04-06 15:35] JoostJM commented on #360
As far as I can see, it appears to be caused by ITK, as it also shows the incorrect spacing of (1, 1, 1) in ITKsnap. When I looked at the tags, spacing was defined as `[5.0781200E-001\5.0781200E-001]`, it is possible ITK is failing on the `E-001`, but I'm not sure. Also, I noticed the SOP class is secondaryCaptureImageStorage (usually the case for key images), do you have access to the original se

[2018-04-09 06:05] QiChen2014 opened #370 "Could not load required package "skimage", cannot implement filter LBP 2D"
@JoostJM I have tried to install "skimage", then I got this issue:
` Please install the `scikit-image` package (instead of `skimage`)`
I installed the "scikit-image" instead, but I still get the same warning, can you tell me how to solve this problem?
![qq 20180409140122](https://user-images.githubusercontent.com/9483041/38481696-aad212a6-3bfe-11e8-9119-af15d5d628bb.png)
Thanks for your great work

[2018-04-09 06:27] tommydino93 commented on #360
Hi @JoostJM and @fedorov  !
Unfortunately I don't have access to the original images, because images are not exportable from IMPAX (the software they use here as PACS). I had to load the images from IMPAX to Siemens SyngoVia (a dedicated Siemens software for visualizing images) and then I extracted images from there.

Anyway, I will try the "dicom2nifti" way, hoping to solve the issue. I'll keep y

[2018-04-09 06:58] tommydino93 commented on #360
@fedorov , I have been trying this simple code:

import dicom2nifti

[code]

but no images appear in my output directory "Outut_Images_Nifti".

 Could this be because all my dicom images are decompressed? @JoostJM  Could this be the problem also for the other issues I had? I mean...Do I need to extract the images as COMPRESSED rather than UNCOMPRESSED?

thanks a lot guys in advance!

[2018-04-09 08:00] JoostJM commented on #360
@tommydino93, as far as I know, uncompressed or compressed should not matter, if anything, uncompressed should be easier. I also used [this](http://ric.uthscsa.edu/mango/) program, for the example you sent, it is able to correctly read in the DICOM and you can re-save in NIFTII (which is also accepted by PyRadiomics).

[2018-04-09 08:05] JoostJM commented on #370
It is possible it's still finding the first installed version of `skimage`, did you uninstall it?

[2018-04-09 08:12] QiChen2014 commented on #370
yes, when I excute "pip uninstall skimage", then I get "Cannot uninstall requirement skimage, not installed"

[2018-04-09 08:38] QiChen2014 commented on #370
@JoostJM I can import and trace it, like this:

![qq 20180409163406](https://user-images.githubusercontent.com/9483041/38487815-033e5bce-3c14-11e8-90bf-2000cf1b6111.png)
should I delete the skimage package manually and reinstall scikit-image again?

[2018-04-09 09:00] QiChen2014 commented on #370
@JoostJM I found the reason, I haven't install "matplotlib", thank you very much.

[2018-04-09 09:38] tommydino93 commented on #360
@JoostJM , @fedorov ! Thanks a lot for advising me Mango. Actually, I have great news: while doing some trials between Mango and ImageJ, I discovered that ImageJ itself allows to convert DICOM to nrrd and the pixel spacing is preserved!! We can just simply do:

File>Save As>Nrrd

And this works both for the image and for the mask. I don't know why I didn't think about it before.

Anyway, before co

[2018-04-09 10:11] #370 closed

[2018-04-09 10:36] tommydino93 commented on #360
Moreover, must the ROI necessarily have 1 inside of it (and zeros outisde) or is it 255 also accepted?

Thanks agian

[2018-04-09 11:15] JoostJM commented on #360
255 is accepted, but you'll need to specify it in the `label` parameter

[2018-04-09 13:35] tommydino93 commented on #360
Ok thanks a lot, I'll keep that in mind!
In the following mega links, the nrrd image and mask that I've extracted through ImageJ

Image: https://mega.nz/#!oLQVFYZZ!PNs-pOWlnXWM9Dau5kwrwYWnsdys4QZjka8uZxAh7ek
Mask: https://mega.nz/#!wDY0gTDI!88ZEMhDpHNkJZDfYE3o9DoRthtGi6BpxsWIMtKmU-14

In the ImageJ menu: `Image>Show Info` it says (like in the error that PyCharm gave me) that the `space direction `

[2018-04-09 14:33] tommydino93 commented on #360
Thanks a lot @fedorov ! You're right, I should definitely become more agile with the command line interface. It's way faster.

Anyhow, in the end I managed to convert the images from DICOM to nrrd with ImageJ, but, as I was explaining JoostJM in my [previous comment](https://github.com/Radiomics/pyradiomics/issues/360#issuecomment-379693965), now I have a different problem with ITK which is unable

[2018-04-09 14:35] fedorov commented on #360
Can you open the NRRD file in the text editor, and copy paste the header here?

[2018-04-09 14:40] tommydino93 commented on #360
Yes, sure. Here it is:

[header.txt](https://github.com/Radiomics/pyradiomics/files/1890331/header.txt)

[2018-04-09 14:54] fedorov commented on #360
I am not an NRRD expert, but it looks to me like an invalid header. Indeed, it looks inconsistent to have 3 components for the direction vectors, but only 2 vectors, and only 2 dimensions of the image.

Is your dataset volumetric, or is it a single slice? If it is supposed to be volumetric, I would really recommend you go back and try other converters. It maye well be that ImageJ NRRD writing may

[2018-04-09 15:51] JoostJM commented on #360
@tommydino93, @fedorov, I agree that the header looks weird. Additionally, changing the directions to tuples of 2 will mean that PyRadiomics does not accept it (as it only accepts volumetric sets, even if only 1 slice).

I agree with @fedorov that it is best to try to use some different tools, but if you want to manually edit the header, do so according to @fedorov's last post.

[2018-04-09 15:55] fedorov commented on #360
@tommydino93 if you will go back to try other converters, you might also consider converting the 3d dataset. You do not need to have just one image slice if you want to extract features from just that slice. You can just define your label in one slice, but keep the image volumetric, so that if/when you decide to look at the analysis beyond single slice, you do not need to go back and deal with the

[2018-04-10 06:57] tommydino93 commented on #360
Thank you both @JoostJM @fedorov !
For now I think I'll stick with the single slices just because I'm very late with the project.
I am trying to run `dicom2nifti` from command line and I'm having problems calling the help. Sorry guys if this is a very trivial question but I'm a newbie in command line programming. What I've done so far is:

1) I have unzipped from GitHub the dicom2nifti directory t

[2018-04-11 07:24] tommydino93 commented on #360
HI @JoostJM ,
I think I found a work around my problem: I went back to the conversion from DICOM to nrrd with 3D slicer and I noticed, also asking in the 3D slicer forum, that 3D slicer automatically reshapes the pixel spacing to (1,1,1) for all images, which basically solves my problem. I mean....the important thing is that all images have the same pixel spacing right? In this way features extrac

[2018-04-11 13:33] tommydino93 opened #371 "Problem in Feature Extraction after Pulling Changes"
Hi @JoostJM  @fedorov, Sorry to bother you again but this time I'm really desperate!
I was calculating all features, both from the original image and from the Wavelet filtered image and it worked fine.

Since I also wanted to extract features from the 2DLBP image, I simply tried writing: `imageoperations.getLBP2DImage` but the `getLBP2DImage` method wasn't recognized. So I figured that since you h

[2018-04-11 13:45] QiChen2014 commented on #371
@tommydino93 I met the same problem several days ago，then I used an original method to solve it. I delete the hole project on my PC completely, and rebuild it... may be there are other good methods...

[2018-04-11 14:04] BBeuker opened #372 "Feature extractor not calculating features?"
Hi guys,

I have a rather odd problem I hope someone here can solve. When I try to calculate features using the Feature extractor with default settings(almost identical script to the PyRadiomicsExample) I don't get any features.

No error message during calculation, and my log file just stops at
DEBUG:radiomics.imageoperations: Calculating bounding box
[testLog.txt](https://github.com/Radiomics/py

[2018-04-11 14:26] tommydino93 commented on #371
Thanks a lot @QiChen2014 !!

That was drastic, but it actually worked!

[2018-04-11 14:26] #371 closed

[2018-04-11 14:39] BBeuker commented on #372
Just figured it out, the mask was in floats and itk apparently doesn't support this when using the extractor. Mask was integers from the beginning so no idea where this came from.

Casting the image to Uint16 solved it, perhaps this should get a better error message?

[2018-04-11 16:35] QiChen2014 commented on #360
Hi @JoostJM , I come again. Is there a way to check if the image and mask is under the same slice? If it's possible, how can I check it? Thanks a lot!

[2018-04-12 03:02] guangzhaohui commented on #367
How kind are you！ Could you add the other filters here：

[2018-04-12 03:03] guangzhaohui commented on #367
imageType:
  Original: {}  # no custom settings
  LoG: {sigma: (0.5, 1.0, 2.0)}  # custom settings defined in-line
  Wavelet: {}
  LBP3D:
    binWidth: 1.0  # Customized settings defined in tree-structure
  Square:
SquareRoot:
Logarithm:
Exponential:
   Thank you very much!!!

[2018-04-12 07:11] QiChen2014 commented on #360
I have another question: when I debug the code to extract features, I see the boundingBox is
![boundingbox](https://user-images.githubusercontent.com/9483041/38661133-627a3e96-3e62-11e8-9adc-e4babd1aa1d0.png)
but after excute the below code segment, it changed. I'm puzzled, could you tell me what has done inner the program? Look forward to your reply and thank you again.
![chaged](https://user-ima

[2018-04-12 08:44] #372 closed

[2018-04-16 08:30] JoostJM commented on #360
@QiChen2014

This is done automatically by PyRadiomics. If you want to know more, check out [this function (checkmask())](http://pyradiomics.readthedocs.io/en/latest/radiomics.html#radiomics.imageoperations.checkMask)

The difference here is how the bounding box is defined. I use 2 separate functions for that. Internally, the bounding box is handled as a tuple specifying the lower and upper bounds

[2018-04-16 08:46] tommydino93 opened #374 "2D Wavelet Filtering"
Hi again!
I've been trying to apply the Wavelet filtering to my original 2D MRI cardiac image. I have been running the following code:

[code]

and the shape features are calculated correctly. My question regards more the interpretation of these. As a matter of fact, 9 different shape_feature_groups are computed (LLL, LLH, LHL, LHH, HLL, HLH, HHL, HHH, LLL). My questions are:

1) How do I interpre

[2018-04-16 08:54] QiChen2014 commented on #360
I understand, thank you @JoostJM , I am very grateful!

[2018-04-16 13:09] tommydino93 commented on #360
Hi everyone! With the help of @fedorov and @JoostJM, part of the resampling problem was solved in [this](https://discourse.slicer.org/t/from-dicom-to-nrrd-conversion/2555/21) 3D slicer forum question.

Going back to PyRadiomics now: let's say I want a `resampledPixelSpacing = [0.625, 0.625, 0]`
Following the [helloFeatureClass.py](https://github.com/Radiomics/pyradiomics/blob/master/examples/hello

[2018-04-16 13:24] tommydino93 commented on #360
I have answered myself. By looking at the [helloResampling.py](https://github.com/Radiomics/pyradiomics/blob/master/examples/helloResampling.py) it is explained that `resampleImage` already resamples and crops onto bounding box defined by the label!

[2018-04-18 02:53] guangzhaohui commented on #367
LoG: 、Wavelet:  have examples.
How cloud i  run ：
LBP3D:
    binWidth: 1.0 # Customized settings defined in tree-structure
  Square: {}
  SquareRoot: {}
  Logarithm: {}
  Exponential: {}
Could you give examples？
Thank you very much!!!

[2018-04-18 07:56] JoostJM commented on #367
@guangzhaohui, see the example above, or the examples in the repository (`examples/exampleSettings`)
Customized settings defined in the tree structure means that for that specific filter, those settings override the default or global defined settings. (The sigma setting in LoG is can also be set globally)

[2018-04-18 10:11] tommydino93 commented on #374
Hey @JoostJM !
By debugging the `_swt3` and the `getWaveletImage` functions (which I also commented a little bit in a pull request) I think I understood that the problem is with the `axes` variable. Since it is set to `axes = {2, 1, 0}` at the beginning of the function, then the filtering is performed in 3D. I have two alternatives, but I don't know if they are right:

1) I could manually modify t

[2018-04-18 12:53] guangzhaohui commented on #367
yeah，i have soved it! Thank you very much!!!

[2018-04-20 22:55] fedorov opened #376 "pep8speaks integration"
I noticed pydicom is using https://pep8speaks.com/, which is quite nice -- see example in https://github.com/pydicom/pydicom/pull/627#issuecomment-383238169.

@JoostJM should we add it to pyradiomics as well?

[2018-04-20 22:58] jcfr commented on #376
:+1:

For reference:
* https://github.com/NeurodataWithoutBorders/pynwb/blob/dev/.pep8speaks.yml
* https://blog.kitware.com/how-to-improve-software-quality-in-open-source-projects-part-iii-code-coverage-documentation-and-style/

[2018-04-20 22:59] jcfr commented on #376
That said, setting up flake8 as a step within CircleCI is also useful. For example, see https://github.com/NeurodataWithoutBorders/pynwb/blob/f749097718cf344f4c95de7771a1ef523f26762f/.circleci/config.yml#L84-L92

[2018-04-21 09:27] aydindemircioglu commented on #359
i am really sorry, but i have to defer testing to mid may :S
you may want to close it for now, i can reopen it, if the error still persists.

[2018-04-22 17:29] fedorov commented on #376
The advantage of pep8speaks is that it is basically instantaneous, while CircleCI can take some time to schedule.

[2018-04-23 20:31] kdk411 commented on #316
Hello,

I am performing the same thing as @chansigit , but I am getting no outputs at the moment.

my image data is in the shape of [n_slice, x_dim, y_dim, view] where view is the 3 direction views: axial, sagittal, and coronal. And Yes, it is a 2D images in ndarray at the moment.

Below is my code:

[code]

And the output is something like the following:

[code]
And those OrderedDict() are all em

[2018-04-23 20:54] kdk411 opened #377 "extracting 2D ndarray image features"
Hello,

I am trying to extract 2D image features, but I am getting no outputs at the moment.

I also tried to do the same thing as #316 , but for some reason it does not work for me...

my image data is in the shape of [n_slice, x_dim, y_dim, view] where view is the 3 direction views: axial, sagittal, and coronal. And Yes, it is a 2D images in ndarray at the moment.

Below is my code:

[code]

And

[2018-04-23 22:10] kdk411 commented on #377
In fact, I have 3D MRI images in nii files... but I am just trying to extract largest section in 3 views, then compute features.

Maybe,  the better way is to extract/convert 3D nii file into 3 largest section 2D images in the format of sitk... but idk what would be the safest way to do so since idk what RadiomicsFeaturesExtractor looks for in terms of information (pixel spacing is definitely ther

[2018-04-24 11:06] JoostJM commented on #377
@kdk411, i'm not sure your conversion works entirely as you expect. You can test this by inserting `print(sitk_img)` and `print(sitk_mask)`.
Also, you can try to set the spacing prior to `JoinSeries()`, as after this call, the image has 3 dimensions, and you'd need to specify this 3rd dimension.

However, I still recommend to use the original 3D images, as this also takes the slice thickness into

[2018-04-24 17:08] kdk411 commented on #377
@JoostJM
Oh, I did include the thickness in my code, but somehow did not get copied over here properly.

Currently, both the mages and masks are already pre-processed such that they are co-registered and interpolated into 1x1x1 mm. Also the intensities of the images are normalized such that every voxel intensity is subtracted by the mean value of normal region,  then divided by interquartile inten

[2018-04-25 07:57] JoostJM commented on #377
@kdk411, your mask has datatype double, which is not allowed by SimpleITK. Run this:
`mask = sitk.Cast(mask, sitk.sitkInt32)`

Additionally, did you enable logging when running this code? If I'm correct, such an error is logged by PyRadiomics.

[2018-04-25 19:28] kdk411 commented on #377
Awesome! It is working now.

And yes, I should have run the logger to debug.

Just for the future audience who wants to extract 2D features from ndarray files, this is what I did:

[code]

[2018-04-25 19:28] #377 closed

[2018-04-26 22:15] kdk411 opened #378 "Intensity quantization and method?"
Hi,

I looked through issues thread and settings examples, and if I am not mistaken, binwidth is the parameter for intensity quantization. And the default value is 25.

So say, I have pre-processed (like N4 corrected, then normalized by subtracting the mean intensity of normal region, then divided by std, etc) the image intensity such that values range from -4 to 4 in double precision. And I didn'

[2018-04-28 01:41] jcfr commented on #376
Setting up a flake8 job as a part of a CircleCI 2.0 workflow will also report quasi-instantaneous results. For example, in [this project](https://circleci.com/gh/NeurodataWithoutBorders/pynwb/3905) results come back in 23s.

FYI, we are now getting rid of pep8speaks, it is using the less complete tool `pep8` and doesn't accept the same parameter as `flake8`.

[2018-04-28 01:55] fedorov commented on #376
Are you saying it will run this analysis without waiting for the job to start?

[2018-04-30 08:00] JoostJM commented on #378
[This](http://pyradiomics.readthedocs.io/en/latest/radiomics.html#radiomics.imageoperations.binImage) section of the documentation details how the binWidth parameter is used.

tldr: It discretizes the grayvalues into equally spaced bins of <binWidth> grayvalues, number of discreet grayvalues present is then dependent on the range in the ROI.

In your case, binwidth 25 will lead to flat regions for

[2018-04-30 08:03] JoostJM commented on #367
Which version of PyRadiomics are you using?

If you look up your image operations module (`from radiomics import imageoperations; print(imageoperations.__file__)`), are you able to find the getLBP3DImage function?

[2018-04-30 19:10] kdk411 commented on #378
Thank you for your link!

And yes, you have a great point. If I use 25 as my binwidth, then it is probably too big such that every voxel would fall into one bin...

[2018-04-30 20:56] kdk411 commented on #378
Sorry, I thought I was good to go, but I must ask this before moving on.

So I checked my logger and saw the following:

[code]
Now, for this particular patient data, I know that the intensity ranges from -4 to 2, so bin edges make sense. Also, based on what is described under `imageoperations.binImage()`, image intensities are mapped to 1,2,3, .., 7, so GLCM of shape (7,7,4) also makes sense (and

[2018-05-02 02:28] QiChen2014 opened #379 "There are many NaN, 0 and 1 in the feature values"
Hi everyone，I'm trying to extract radiomics features from some 3D CT images. I referred to the example file which named batchprocessing.py to handle our renal cancer images, and got more than 1000 features. But there are many  NaN, 0 and 1 in the feature values. I have checked the voxelNum as the document said,  the minimum value is 575, and the maximum value is 350221.
In addition, I compared the

[2018-05-02 03:29] liyiming5956 opened #380 "Does this method include the image registration, and how should I set the parameter."
First of all, thank you very much for providing us so wonderful algorithm. I have a question about the method.
    When I use this method, I found that the tumor volume I calculated may be wrong in some circumstances. Since the volume of big tumor is less than a small tumor estimated by naked eyes. I wonder that whether this method calculate absolute tumor volume or relative tumor volume.
    If t

[2018-05-02 08:00] JoostJM commented on #379
as to you many NaN, 0 and 1 values, that usually happens in case of a flat region (when the range of gray values inside the roi < binwidth).

binWidth: most firstorder features are not affected by this setting (only entropy and uniformity). binWidth mainly serves the required discretization for texture matrix calculation.

If you see a lot of strange and/or unexpected values, it may help to run Py

[2018-05-02 08:03] JoostJM commented on #380
PyRadiomics does not include any registration algorithm, but does use the real-world values in certain cases, among them, volume. Volume is calculated as the number of voxels * the size a single voxel in mm3.

It is possible that something went wrong in the conversion, causing the spacing to be incorrect. you can verify this by reading the image using SimpleITK and printing the details:  `print(si

[2018-05-02 13:26] QiChen2014 commented on #379
Thank you @JoostJM , I'll try it.

[2018-05-02 15:43] liyiming5956 commented on #380
Thank you very much for your answer.
    I have another question.
    If I have many patients, and I would divide them into training and validation cohorts. Should I divide them into two batches first and then extract radiomic features from each batch, or regard them as one batch and extract radiomic features?
    Because there is a dilemma: If I regard all patients as one  batch, and I choose the

[2018-05-03 07:58] JoostJM commented on #380
@liyiming5956 Normalization is done on a per-volume basis, so you're strategy doesn't matter. Furthermore, splitting in validation and test cohorts is necessary for your analysis, but not for the feature extraction (no matter what model you make, it will be based on the same features, so you need to use the same configuration for extraction in both the training and validation cohort).

[2018-05-03 12:36] guangzhaohui commented on #367
Sorry ！I don't hnow Which version of PyRadiomics
I get this：
D:\PYTHON\Lib\site-packages\pyradiomics-master\pyradiomics-master\radiomics\imageoperations.py

[2018-05-03 13:49] JoostJM commented on #367
You can get the version by running (in cmd): `pyradiomics --version`

[2018-05-03 15:41] tli3 opened #381 "examples in nifti format?"
Hello, I am trying my own PET image with a tumor mask image both in **nifti** format using  PyRadiomics.
When I run the following script in python,
"
...
params = os.path.join(dataDir, "examples", "exampleSettings", "Params.yaml")
extractor = featureextractor.RadiomicsFeaturesExtractor(params)
result = extractor.execute(imageName, maskName)
"
it turns out that result=[] is **empty**.
but I've trie

[2018-05-07 00:59] QiChen2014 commented on #379
Hi @JoostJM , I have a big problem now. I used "batchprocessing.py" to process 473 cases, and 277 of them worked fine, but others failed with "MemoryError". Here is the error information in the log file:
<prep>
INFO:radiomics.batch: (278/473) Processing Patient (Image: D:\Data\data\Renal cancer\zunyi\jingmai\img-mask\1718531\1718531_series1.nrrd, Mask: D:\Data\data\Renal cancer\zunyi\jingmai\img-m

[2018-05-07 08:17] JoostJM commented on #379
What kind of processor architecture do you have? In 32-bits, SimpleITK sometimes has these memory errors, which is why we advise to use PyRadiomics in 64-bits

[2018-05-07 08:31] QiChen2014 commented on #379
It's 64-bits,  windows 10 home edition, 8G RAM

[2018-05-07 08:51] JoostJM commented on #379
Ah wait. I think I know the problem. You don't enable resampling or precrop, meaning that your entire image gets passed to the filter function. Especially in CT, one such image can be quite large. (e.g. ~50 -150 mb's or so). Wavelet filter is then the only filter that computes all of it's derived images immediatly, meaning that at one point, you have the original + 8 derivations in your memory, wh

[2018-05-07 09:27] QiChen2014 commented on #379
Thank you @JoostJM ，I get it now. As you said, I set the parameters like this:
<prep>
imageType:
  Original: {}  # No customized settings for original filter
  Wavelet: {}
  Square: {}
  SquareRoot: {}
  Logarithm: {}
  Exponential: {}
  Gradient: {}
  LBP3D: {}

featureClass:
    shape:
    firstorder:
    glcm:
    glrlm:
    gldm:
    glszm:
    ngtdm:

setting:
    binWidth: 10
    correctMask

[2018-05-07 09:42] JoostJM commented on #379
As you are enabling resampling to [3, 3, 3] you don't have to enable `preCrop: False` (has no effect as resampling is enabled, and performs a similar action).

Also, this results in isotropic voxels, and you can extract features in 3D (set `force2D` to `False`). This is only needed when there are isotropic voxels in-plane, but have a different size out-of-plane.

[2018-05-07 10:13] QiChen2014 commented on #379
Thanks very much for your help! I really appreciate it.

[2018-05-07 10:13] #379 closed

[2018-05-07 21:04] kdk411 commented on #378
does anyone have any thoughts on this matter? I am still confused on this issue and hopefully someone can at least throw 2 cents on this...

[2018-05-07 21:11] fedorov commented on #378
@kdk411 sorry for lack of response on this one.

In my view (and I don't have anywhere close as much expertise as @JoostJM on this matter!), you are indeed asking a philosophical question, since I do not think there is unequivocal evidence to suggest that one approach should always be used than the other (fixed bin width _vs_ fixed number of bins). There are also different approaches to image norm

[2018-05-08 08:10] JoostJM commented on #378
@kdk411 Sorry, I missed your reopening of this issue.

On the topic of fixed bin width vs. fixed bin count I agree with @fedorov that we should implement the fixed bin count somewhere. However, we generally advise to use a fixed bin width, as the meaning of "contrast" (which is what you're looking at when calculating texture features) is dependent on the *range*  of gray values when you're using a

[2018-05-08 19:47] kdk411 commented on #378
First of all, I really appreciate everyone who shared thoughts/ideas on this matter!

Yes, a lot of papers that I have been exposed to used fixed number of bins, hence I was biased towards that method with the idea of comparing "apples to apples". But now after seeing arguments from using "fixed binwidth", I can also appreciate their perspectives.

At the end, I can see both methods have pros and

[2018-05-08 19:48] #378 closed

[2018-05-12 13:28] guangzhaohui commented on #367
Could you please give me an example for LBP3D?
I really cant do it for many times。
Thanks very much！

[2018-05-12 23:07] guangzhaohui commented on #367
python 3.5.4

[2018-05-12 23:53] guangzhaohui commented on #367
radiomics 0.1

[2018-05-13 01:28] guangzhaohui commented on #367
and How can i upgrade most newer pyradiomic?

[2018-05-13 01:42] guangzhaohui commented on #367
![qq 20180513094100](https://user-images.githubusercontent.com/31529117/39962979-d7af533a-5691-11e8-8e1a-deac30cd3756.png)
![qq 20180513094100](https://user-images.githubusercontent.com/31529117/39962982-e757aeb8-5691-11e8-9602-aa505e8b6204.png)

[2018-05-14 08:13] JoostJM commented on #367
Currently, PyRadiomics is not yet on pypi (#335), but has to be installed from source.
You can install using pip with the following command:"

`pip install git+https://github.com/Radiomics/pyradiomics` (it is possible that this requires [git](https://git-scm.com/downloads) to be installed on your pc)

[2018-05-15 05:57] guangzhaohui commented on #367
Thank you for your time!
I have install as above.
![image](https://user-images.githubusercontent.com/31529117/40039164-d434a0ae-5847-11e8-841f-c3e59ccd2e6a.png)

[2018-05-15 08:35] guangzhaohui commented on #367
yes it both in D:\PYTHON\Scripts

[2018-05-15 08:42] guangzhaohui commented on #367
usage : pyradiomics image:batch [mask] [Options]
pyradiomics: error:the followingarguments are required:< Image.Batch>FILE

[2018-05-15 08:42] JoostJM commented on #367
@guangzhaohui  that's the new one yes

[2018-05-15 08:43] JoostJM commented on #367
run `pyradiomics -h` to get the help message detailing the usage.

[2018-05-15 08:47] guangzhaohui commented on #367
oh,let me try.
thank you very much!

[2018-05-16 13:57] guangzhaohui commented on #367
How can i run pyradiomics.exe  by jupyter notebook?

[2018-05-16 13:58] guangzhaohui commented on #367
i open jupyter notebook it was the older one

[2018-05-16 13:59] JoostJM commented on #367
See [this](http://pyradiomics.readthedocs.io/en/latest/usage.html#interactive-use) section in the documentation on interactive usage

[2018-05-17 14:59] lisherlock opened #382 "ShouMultiple"

[2018-05-17 15:00] #382 closed

[2018-05-17 15:12] lisherlock opened #383 "Should I use multiple dcm file to calculate radiomics features?"
Hi!
        Thanks your great project first!  I have a problem by using pyradiomics recently. I really hope you can help me solve it pls!

        The problem is whether I should use multiple dcm file as the data and label to calculate radiomics features.  The multiple dcm file means I convert multiple dcm files to one single dcm file.
        And i know that just 8bit gray-level dcm files can be

[2018-05-21 02:23] Sophile opened #384 "install wrong C Matrices"
what should I do:
C Matrices not loaded correctly, cannot calculate matrices in C
For computational reasons, this feature is only implemented in C. Enable C extensions to calculate this feature.
For computational reasons, this feature is only implemented in C. Enable C extensions to calculate this feature.
For computational reasons, this feature is only implemented in C. Enable C extensions to cal

[2018-05-22 08:01] JoostJM commented on #384
How do you run PyRadiomics? Did installation work without errors?

This issue is that it can find/load the C compiled extensions. These are built during installation.

[2018-05-23 13:46] JoostJM commented on #383
#361 is an issue that also dealt with DCM conversion.
In short: PyRadiomics expects a 3D, grayscale image in 1 file. There are multiple conversion programs available, including Slicer, dicom2niix and plastimatch.

If I'm reading it correctly, your problem is 2-fold: you have separate files (dcm) and RGB (not grayscale). If you are able to convert to a single file, also check out [this](https://gro

[2018-05-29 12:02] Sophile opened #385 "install"
Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools": http://landinghub.visualstudio.com/visual-cpp-build-tools
 I have downloaded visual Studio 2017,so what to do next?

[2018-05-29 15:55] JoostJM commented on #385
you can add the following in your path variables (redirects the request for VS 14.0 to your VS 15.0)

`VS140COMNTOOLS = %VS150COMNTOOLS%`

For this, check if there is a path entry called VS150COMNTOOLS and that it points to your VS 15.0 installation.

alternatively, you can also try to install the visual studio 14.0 redistributable (contains build tools, free to install). You can find this [here](

[2018-05-31 04:33] Sophile commented on #385
thank you, I have installed  the visual studio 14.0，but it still shows that  "Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools" is there any steps after install the VS 14.0?

[2018-05-31 04:36] Sophile commented on #385
@JoostJM thank you, I have installed the visual studio 14.0，but it still shows that "Microsoft Visual C++ 14.0 is required. Get it with "Microsoft Visual C++ Build Tools" is there any steps after install the VS 14.0?

[2018-05-31 08:01] JoostJM commented on #385
It should show up in your environment variables (otherwise Python can't find it). Is there an entry called `VS140COMNTOOLS`?

[2018-05-31 12:34] Sophile commented on #385
@JoostJM no,how to add it?

[2018-05-31 12:49] JoostJM commented on #385
You can add an environment variable manually. I myself use Visual Studio 2015, and in my case this variable points to `C:\Program Files (x86)\Microsoft Visual Studio 14.0\Common7\Tools\`, In your case, first check if you have such a folder.

If that does not work you can also try to see if pointing it to your VS 15.0 works (This works by setting the value to `%VS150COMNTOOLS%`, effectively redirec

[2018-05-31 12:50] JoostJM commented on #384
Linked to #385

[2018-05-31 12:50] #384 closed

[2018-05-31 14:12] Sophile commented on #385
@JoostJM thank you.  it shows nothing, I have intalled the VS 14.0 ,but it has  nothing changed, seems that I did not install it..

[2018-06-08 15:39] cpwardell opened #388 "trimesh package in docker container for LBP3D filter"
First; thanks for writing this software, it's excellent and much appreciated.

If you attempt to use the LBP3D filter in the docker image downloaded using:
`docker pull radiomics/pyradiomics`

You get the following error:
`Could not load required package "scipy" or "trimesh", cannot implement filter LBP 3D`

I solved it by installing the trimesh package using pip.
`pip install trimesh`

Please upd

[2018-06-12 08:16] JoostJM commented on #388
@cpwardell, thanks for the tip! I'll update the dockerfile to fix this issue.

[2018-06-15 03:10] zst1992 opened #390 "Image/Mask geometry mismatch (installed using docker)."
Thank you very much for this wonderful repository. I have installed pyradiomics using docker. When I use it to extract radiomic features, I met the 'Image/Mask geometry mismatch' error.
code:
`sudo docker run -it -v /:/data radiomics/pyradiomics:CLI /data/.../input.nrrd /data/.../mask.nrrd`
error:
`Image/Mask geometry mismatch. Potential solution: increase tolerance using geometryTolerance, see Do

[2018-06-15 13:02] fedorov commented on #390
You can enable resampling by adding `correctMask: True` to the settings, see this article: https://pyradiomics.readthedocs.io/en/latest/faq.html?highlight=resample#geometry-mismatch-between-image-and-mask

When you get this error, we advise that you visually examine the mask and image for correspondence, using [3D Slicer](https://slicer.org), for example, to ensure the issue is indeed not due to s

[2018-06-18 10:20] tommydino93 commented on #374
Hey @JoostJM!
In the end, we switched to 3D and not only a single 2D MR slice. I'll then restate [my question](https://github.com/Radiomics/pyradiomics/issues/374#issue-314553670):

Why the Wavelet-LLL feature group is computed twice? Now that I have a 3D dataset I simply copied the function in the `helloFeature` example, so I have:

[code]

Thank you very much in advance for your amazing work!

[2018-06-19 01:11] zst1992 commented on #390
It works. Thank you very much and have a nice day. (In this case, the pixel spacings of the input and mask images are slightly different)

[2018-06-19 01:40] fedorov commented on #390
Great, thanks for confirming!

[2018-06-19 01:40] #390 closed

[2018-06-20 10:51] #388 closed

[2018-06-21 14:48] sandfis opened #392 "Inconsistent wavelet feature values between v1.2.0 and v1.3.0"
Hi! I have taken on a project that was previously started by someone who was using pyradiomics v1.2. Given that I just started, I opted for the latest version (v.1.3). To ensure that I was on the right track, I was comparing resulting features from my runs with the person who was working with v1.2 and I found some significant discrepancies in the features calculated from the wavelet filtered image

[2018-06-21 16:17] fedorov commented on #392
@sandfis thank you for investigating this!

Two more related commits that happened between 1.2 and 1.3:
* https://github.com/Radiomics/pyradiomics/commit/7ff05482d3615e26ff7439e8f9044aefcba50a9a
* https://github.com/Radiomics/pyradiomics/commit/67845cfe7434e42fc4dccd4fb15f99961001c874

cc: @michaelschwier

[2018-06-21 16:50] fedorov commented on #392
@sandfis about your notes:
* issue 1: your fix makes sense to me. Let's hear to wait from @JoostJM, but I think it would be great if you could submit a PR with the fix.
* issue 2: I think this commit that I referenced earlier is probably to blame: https://github.com/Radiomics/pyradiomics/commit/67845cfe7434e42fc4dccd4fb15f99961001c874. I would not say one is more accurate than the other, it's just

[2018-06-21 16:53] michaelschwier commented on #392
Actually issue 2 is most definitely related to 7ff05482d3615e26ff7439e8f9044aefcba50a9a. Padding for images with odd dimensions was not correct before!

[2018-06-21 17:01] sandfis commented on #392
Great, thanks @fedorov! I'll wait for @JoostJM to weigh in too

[2018-06-21 17:04] fedorov commented on #392
I have to say, if indeed this is the source of the discrepancy, it is remarkable how much difference that change in padding strategy introduced.

@sandfis do you think you could continue your investigations, and see if reverting the commit referenced above would make the values match? This would be super helpful.

[2018-06-21 17:16] michaelschwier commented on #392
@fedorov @sandfis Sorry, I should maybe have explained it in a little more detail before, because it is not obvious from the code change alone without knowing what numpy's resize does: The way padding was done before (with resize), literally scrambled the image! The resize would add zeros to the end of the array/matrix buffer (not the end of each dimension). See example 3 "Enlarging an array" here

[2018-06-21 17:23] fedorov commented on #392
@michaelschwier thanks for clarifying this, indeed I completely missed it in https://github.com/Radiomics/pyradiomics/commit/7ff05482d3615e26ff7439e8f9044aefcba50a9a. I only looked at the second relevant commit, and thought that the change is in switching from `pad` to `wrap`. Indeed, now that you explain it, it was completely wrong. So I think this should be listed in the "Bug fixes" section of h

[2018-06-21 17:39] sandfis commented on #392
Thanks @michaelschwier
Indeed we can see that the features line up with v1.2 when reverting 7ff0548
![image](https://user-images.githubusercontent.com/40466488/41735744-80270500-7558-11e8-9d59-db588c1ad88f.png)

[2018-06-24 12:29] Sophile commented on #385
hello，does pyradiomics has a .whl file which can solve the problem of installing VS 14.0? there is a similar question ,https://stackoverflow.com/questions/29846087/microsoft-visual-c-14-0-is-required-unable-to-find-vcvarsall-bat，there is a answer that uses .whl deal with VS 14.0 is required. @JoostJM

[2018-06-24 15:21] jcfr commented on #385
Hi Sophile,

As soon the integration of scikit-build is done, we will publish wheel.
This should happen in the next week or two.

Thanks
Jc

On Sun, Jun 24, 2018, 2:29 PM Sophile <notifications@github.com> wrote: