[2018-06-26 10:59] JoostJM commented on #392
Sorry for the late reply!

I agree with both @fedorov and @michaelschwier, altough I think this should be documented in the upcoming release, as this change is in the current master, and after the release of v1.3.0.

Am I correct to assume v1.3 here means the current master?

Additonally regarding issue 1, A set is indeed incorrect here. However, changing to a tuple does not work, as you cannot de

[2018-06-26 11:01] JoostJM commented on #392
see 4027a52

[2018-06-26 13:19] sandfis commented on #392
Thank you @JoostJM! Indeed I was working with the current master.

[2018-06-28 06:47] JoostJM commented on #374
@tommydino93 Thanks for the catch! The apparent double computation of LLL is indeed a bug, which I fixed in c8ceee2 (commited just now). It was not really computed twice, just returned twice.

As to your other questions:
1) The wavelet is computed regardless of your mask. So if you do not specify it as a forced 2D extraction, wavelet is computed in 3D. You can do this by indeed setting `force2D` t

[2018-06-28 06:48] #380 closed

[2018-06-28 06:52] JoostJM commented on #385
@jcfr, the integration of scikit-build cannot happen before the next release (which includes [a fix](https://github.com/scikit-build/scikit-build/pull/287) for the inclusion of package data). Do you have an ETA for the new scikit-build release?

[2018-07-03 14:35] aydindemircioglu commented on #359
ok, i took me only two month to get back to the topic :D (sorry again)

this is now a completely different data set, but i have the very same problem. i followed your advise, @JoostJM, and did apply the binwidth like this:

    ```extractor.enableImageTypeByName('LBP3D', True, {'binwidth': 1.0})```

but it did not help. also when i completely turn off the LBP computations

[code]

[2018-07-03 15:31] JoostJM commented on #359
@aydindemircioglu Can you share your log? that really helps tracking issues like this down

[2018-07-03 15:35] JoostJM commented on #359
Also, can you share the results if you run only extracting firstorder Range (with all your intended filters enabled)? What kind of values do you see?

[2018-07-04 07:42] aydindemircioglu commented on #359
here are the debug loggings:

[code]

i call pyradiomics with these lines (here with lbp-2d, but as said, does not seem to matter)

[code]

i relly wonder what i am doing wrong, as seemingly no one else is experiencing the problem. i will retest it on another computer to make sure i can reproduce this.
i also updated to the latest master.

[2018-07-04 07:55] aydindemircioglu commented on #359
regarding the range, i have several series (km, dce, darkfluid whatever), e.g. with darkfluid and a random image (it does not seem to depend on the image, i added a shuffle, so each time it is another image) i get 'original_firstorder_Range', 343.0

[2018-07-04 08:06] JoostJM commented on #359
@aydindemircioglu, that range is a lot smaller than the range of your average CT (on which the default bin width of 25 is based). You can see this reflected in your log, with generally less than 10 bins calculated.

Additionally, it is certainly too large for the LBP filter, so maybe use a custom even smaller binWidth there.

I suggest trying:

[code]

Finally, as to the error you're getting, that

[2018-07-04 10:02] aydindemircioglu commented on #359
thanks for all quick answer.
but i am still a bit puzzled. it does still not fix the error, i think, these are the new debug lines, could ib e that  the binwidth is too small and the problem occurs in gldm instead of ngtdm?
should i normalize the images beforehand, by using the option in pyradiomics to be on the safe side?

[code]

[2018-07-04 10:08] aydindemircioglu commented on #359
ok, adding normaliziation seems to fix the error (at least on first sight)-- so what is not clear to me is whether normalization is a good thing to do, do you have experience on this? usually i'd obviously normalize everything in sight, but am not sure if in the radiomics domain the absolut values carry some important information. or in other words: why normalization is not turned on by default?

[2018-07-04 10:14] JoostJM commented on #359
@aydindemircioglu Which version of SimpleITK do you have installed? (you can find this out by running `pip list`). An older version of SimpleITK may fix your error. This is important as these warnings can occur, also in case of a 'valid' feature extraction (that's why they're warnings, not errors).

As to normalization, it is disabled as it is not always necessary and we want to prevent users from

[2018-07-04 12:19] Sophile commented on #385
@jcfr really？How can we know when it is published？

[2018-07-04 12:35] aydindemircioglu commented on #359
thanks for the infos on normalization, as a non-medical guy with not-so-much experience in medical imaging its very helpful to get hints from your experience. i will keep normalization then.

i had used the latest version 1.1.0 i think, i downgraded to 1.0.0, but the warning is still there. but i am confused, i added some verbose pritnting into ntgdm to see whats happening, and the denominator was

[2018-07-04 16:37] fedorov commented on #359
I tried to reproduce the issue on mac. Testing with python 3.6.1 and SimpleITK 1.0.1 (seems to be the latest), I am unable to reproduce. If I add division by zero to the feature calculation function, I get the below, as expected, using [`helloRadiomics.py`](https://github.com/Radiomics/pyradiomics/blob/master/examples/helloRadiomics.py) example from the repository:

[code]

The error message @aydi

[2018-07-05 14:47] JoostJM commented on #385
@Sophile, I just made the 2.0.0 release. PyRadiomics is now pip installable (and doesn't need compiling for python 2.7, 3.4, 3.5 and 3.6).

If you have such a python version, run:

`python -m pip install pyradiomics`

[2018-07-05 15:06] JoostJM commented on #335
Fixed in #394 and checked in the new 2.0,0 release

[2018-07-05 15:06] #335 closed

[2018-07-05 20:51] sdoken commented on #335
What about conda? Or should I open a new issue for that?

[2018-07-05 21:33] JoostJM commented on #335
In conda you can also pip install packages

[2018-07-05 21:53] sdoken commented on #335
You mean that one can use pip alongside with conda? Sure but that is not the same thing, I don't think?. (If I am understanding you correctly) Thanks for your reply.

[2018-07-05 22:56] aydindemircioglu commented on #359
thanks andrey for looking into the matter.

first, i today again started to compute features, and when i disable ngtdm everything works without problems, had binWidth=0.05 and normalization turned on. this is now on another machine, but as i myself did the installation too, its "correlated" to my other machine. i could go ahead and reproduce in an clean virtualenv, but only on  extrarequest, as i

[2018-07-08 04:44] Sophile opened #395 "DICOM file"
Does the input file format have to be .nrrd? I only have DICOM files,and didn't find any function about dcm,so do I need to transfer them to nrrd?and is there any approach in   @@pyradiomics？
kind regards，

[2018-07-09 06:00] kimrants opened #396 "Cannot open shared notebook on github"
I have issues opening your notebooks here on github. It always says "oops, something went wrong. Reload?".

I don't have this issue with other notebooks so unsure why the problem exists.

[2018-07-09 09:40] Sophile commented on #383
Could you tell me how to input DICOM file in pyradiomics？

[2018-07-09 16:47] fedorov commented on #396
Probably there are some constraints on how big notebooks can be to be rendered on github.

You should try checking out the repository, and opening the notebook directly instead.

[2018-07-09 16:49] jcfr commented on #396
Instead, consider using nbviewer. For example:

http://nbviewer.jupyter.org/github/Radiomics/pyradiomics/blob/master/notebooks/FeatureVisualization.ipynb

[2018-07-16 10:58] MFaizyabAli opened #397 "k-value for Inverse Difference measures"
I extended the current implementation of "GLCM-feature: Difference Average" towards computing the "inverse difference average". However, the k-values array (k = [0, 1, 2, 3, 4,...]) containing a "0", generates an "inf" when reciprocated (i.e., while computing 1/k). What should be a good practice in this situation? We should set it to "1" or simply start the indices from 1 and move to (Ng-1)?

[2018-07-17 08:15] Bercy0616 opened #398 "2d_wavelet_features_extract"
Excuse me
I added "force2d:true and force2Ddimension: 0" in params
When I extracted the features, the features name is [HH.HL,LH,LLL]
LLL????? = =?

I wanna know if the LLL is LL?

paste my code:
params = '...\\exampleCT.yaml'
extractor = featureextractor.RadiomicsFeaturesExtractor(params)
extractor.enableImageTypes(Wavelet={})

result = extractor.execute(ori_file_path, seg_file_path)

[2018-07-17 14:18] lisherlock commented on #395
You can use dcm files to get radiomics features correctly.

[2018-07-17 14:22] fedorov commented on #395
@lisherlock no, you cannot use the DICOM files directly, unless you are processing a single DICOM file. SimpleITK does not sort the DICOM files in geometric order. If you are working with a volumetric acquisition, you should first preprocess the DICOM series to generate a volume saved in any of the formats readable by ITK, and then use that as the input image for pyradiomics.

You can use [dcm2nii

[2018-07-17 14:29] lisherlock commented on #395
@fedorov Hi!  As you said, i first convert multiple dcm files to single dcm file by using matlab. Then i get the 3D features of sigma.  It's right that if i just only use one dcm file, i can't get the 3D features.  So you should first convert many dcm files to one as order.

[2018-07-17 14:30] fedorov commented on #395
This is interesting!

Can you please let us know what Matlab function you use for that conversion?

[2018-07-17 14:40] lisherlock commented on #395
@fedorov Of course!  The main solution that converting multiple dcm files to single dcm file is to build a 4D matrix.  The 4D matrix includes the size of dcm files, pixel values and the number of frames. Then when you open the single dcm file converted, you will see it includes the series of dcm files.   So you can get 3D features by using pyradiomics.   By the way, the example nrrd file of the br

[2018-07-17 20:57] fedorov commented on #395
Sounds like you wrote some code yourself to deal with this issue in Matlab, but I am not sure how this can help @Sophile. So I think @Sophile should follow the steps suggested in https://github.com/Radiomics/pyradiomics/issues/395#issuecomment-405599780.

[2018-07-17 20:57] #395 closed

[2018-07-18 09:45] aydindemircioglu commented on #359
i'm closing the issue now, as the problem is really with the number of bincounts, it seems.

[2018-07-18 09:45] #359 closed

[2018-07-18 09:50] aydindemircioglu opened #399 "Using bincounts gives an exception: "setting an array element with a sequence"?"
maybe i'm doing something utterly wrong here-- but if i use bincount instead of binwidth, i get an error. it seems to stem from numpy, the code in imageoperations.py reads:

[code]

but at least in the latest numpy lib numpy.histogram gives back a tuple with the transformed values and the binedges-- so i get an error of the form "setting an array element with a sequence."
when modifying the above

[2018-07-23 11:30] andbiz commented on #399
Hi!
I get this error, too.
I confirm that the proposed fix is working.

pyradiomics=2.0.0
numpy=1.14.5

[2018-07-23 17:55] ejulrich opened #400 "GLCM - Information Measures of Correlation?"
I wanted to find the background of the Gray Level Co-occurrence Matrix "[Informal Measures of Correlation](https://github.com/Radiomics/pyradiomics/blob/master/radiomics/glcm.py#L519)", and I had a lot of trouble finding the term. Were these supposed to be called the "Information Measures of Correlation"? [1]

[1] Haralick, et al. [Textural features for image classification.](http://haralick.org/j

[2018-07-23 18:14] fedorov commented on #400
@ejulrich I think you are right. IMC1 and IMC2 seem to correspond to First and Second measures of information correlation, as defined in 3.6.24 and 3.6.25 of [the IBSI v6 document](https://arxiv.org/abs/1612.07003). I think this is a bug. Let's wait for @JoostJM to get back to address this.

[2018-07-23 18:15] fedorov commented on #400
And I can't figure out why the equations are not rendered correctly for those in readthedocs!

https://pyradiomics.readthedocs.io/en/latest/features.html?highlight=imc#radiomics.glcm.RadiomicsGLCM.getImc1FeatureValue

[2018-07-23 18:29] fedorov commented on #399
Thanks for pointing this out! I committed a fix, let us know if you continue experiencing problems.

[2018-07-23 18:29] #399 closed

[2018-07-24 16:12] fedorov commented on #398
Looks like a bug, but I didn't manage to track it down yet... Thank you for your report!

[2018-07-25 07:50] wenlongming opened #401 "Normalization & Resampling"
Hi!
There are three questions i want to ask about the setting section in Parameters File.
(1) What is the difference between normalizeScale: 100 and normalizeScale: 1 during normalization?
and How does normalizeScale relate to bin width (in Image discretization) ?

(2) I have a MRI dataset which the slice thickness is in the range of (0.9mm, 3.2mm), most are 2.0mm and 2.2mm. And the image spacing

[2018-07-26 04:06] kdk411 opened #402 "shifting intensity range of normalized images + shape features of 2D extraction"
Hello Radiomics community!

I have some questions regarding to dealing with negative intensity voxels.

I have brain tumor (glioma) MRI data set and it has been normalized relative to white matter (subtract mean and divide by iqr of white matter). Hence, some tumor region voxels have negative values.

Now, I understand that voxelarrayshift is implemented to

Which makes sense. Now, it also made me

[2018-08-02 10:02] epapavas opened #403 "use of GetSpacing in extraction of shape features"
I was looking at the definition of the class _RadiomicsShape_ and concerning the use of simpleITK's GetSpacing I noticed the following:

_self.pixelSpacing = numpy.array(self.inputImage.GetSpacing()[::-1])_

Doesn't  GetSpacing return a vector in the format x,y,z? So when reversing it we should get
 _z, y, x=self.pixelSpacing_
However, in the code we have:
_z, x, y = self.pixelSpacing_

Thank you

[2018-08-02 13:51] fedorov commented on #403
I think you are right. I am going to fix this, but note that this has no effect on the calculations - the only place where those variables are used is calculation of the volume, thus the inconsistency is inconsequential.

Thanks for reporting this anyway!

[2018-08-07 08:11] JoostJM commented on #397
@MFaizyabAli, in the implementation of PyRadiomics, we use `1 + k` (implemented as `1 + |i-j|`). This is the function Inverse Difference, and if I'm correct, is this similar to your implementation of Inverse Difference Average?

[2018-08-07 08:16] JoostJM commented on #400
The name is indeed a bug, it should be "informational measure of correlation". I'll also take a look at why the docs do not render correctly...

[2018-08-07 08:17] JoostJM commented on #398
LLL in this case is indeed LL, why the name is not rendered correctly I do not know, but I'll look into it.

[2018-08-07 13:28] BalthasarSchachtner commented on #398
Hi,
the "LLL" is coming from the fact, that the name of the "approximation" is hard coded here:
https://github.com/Radiomics/pyradiomics/blob/2a9fd79520cfc1330f714112bd1eaf7dd63e7ec7/radiomics/imageoperations.py#L706
I came across this issue today since I was wondering why the LL/LLL wavelet decomposition is handled separately? As far as I can see it will be used in the same way as the other combi

[2018-08-07 13:47] JoostJM commented on #398
@BalthasarSchachtner, this has to do with the fact that when you do multi-level wavelet decomposition, generally only the last approximation is returned.

[2018-08-07 15:24] #403 closed

[2018-08-07 15:44] JoostJM commented on #401
and How does normalizeScale relate to bin width (in Image discretization) ?

During normalization, each voxel intensity is shifted by subtracting the mean, and then divided by the standard deviation. Generally, this yields and image with intensities approximately in the range [-3, 3] (the actual range in the ROI is a contained herein, this represents the range in the whole image). This resultant v

[2018-08-07 15:46] #374 closed

[2018-08-07 15:57] JoostJM commented on #402
As to your first question, this is implemented to ensure the expected behaviour in those features (which assume that to lowest feature values have the lowest contribution to the overall value. This only holds true in case of non-negative intensities, due to a square in the formula).

Your use case is somewhat different, as pyradiomics has multiple features which may produce negative results even w

[2018-08-07 15:58] #398 closed

[2018-08-07 19:16] chenjn2010 opened #406 "suggestions about pyradiomics documentation"
Hi! Thank you for your great work.

I'm writing for a trivial suggestion about documentation. There is a place in the documentation that seems to be a little confusing, specifically it's in Main Page\Radiomics Features\Gray Level Dependence Matrix (GLDM) Features. This feature happens to be the best feature in our experiment so we noticed this.

In the introduction of GLDM feature, it writes "In a

[2018-08-07 19:26] chenjn2010 commented on #406
Sorry, disregard. Mistook GLDM with Neighboring Gray Level Dependence Matrix (NGLDM).

[2018-08-08 05:34] JoostJM commented on #406
In essence, I believe those names mean the same. However, I do not understand your question. i and j denote the index in the GLDM matrix, with correlates to the gray level i having j dependent voxels in it's neighbourhood. The value of that element indicates how many such voxels occur in the given ROI.

As to comparison between ROI and surrounding area: Not directly, but if you set the area surrou

[2018-08-08 05:51] JoostJM commented on #406
See also this article: [Sun C, Wee WG. Neighboring Gray Level Dependence Matrix for Texture Classification. Comput Vision, Graph Image Process. 1983;23:341–352.](https://www.sciencedirect.com/science/article/pii/0734189X83900324).

The GLDM matrix in this article is denoted as Q (and not to be confused with P)

[2018-08-08 06:13] JoostJM commented on #400
There is no error in the formula, but a rather strange behaviour caused by the fact that "IMC" is highlighted...

[2018-08-08 06:15] JoostJM commented on #400
Typo fixed in 4ba909a.

[2018-08-08 06:15] #400 closed

[2018-08-08 07:01] JoostJM commented on #397
@MFaizyabAli, this issue has pointed out to me that various functions in GLCM may be simplified, and I have done so in PR #407. This probably also better corresponds to how you extended Difference Average.

[2018-08-08 07:03] JoostJM commented on #397
Additionally, the other approach you mentioned (starting indices from 1 and moving to (Ng-1) is utilized in the formula for Inverse Variance). Although similar, this feature is still different, as k is squared.

[2018-08-08 16:48] chenjn2010 commented on #406
Hi JoostJM, thank you very much for your answer. That helps me a lot.

I was wondering what do you think of the noise (white noise etc.) in medical images? Will noise affect the result of feature extraction (especially for low-quality MRI scans)? Are there any functions in Pyradiomics that are capable of evaluating the severity of noise or removing noise?

Sorry if the question is too random.

[2018-08-10 09:03] wenlongming commented on #401
I'm very appreciate for your patience and enthusiasm!

(1) For Q1: The original_firstorder_Range of my dataset is (192,2438), with the mean of 663. So I set the binWidth of 20 and nomalizeScale of 100 to analyze. But for the derived images, they have different ranges, for example the log-sigma-2-0-mm-3D_firstorder_Range is (110,1447), with the mean of 393, and the log-sigma-3-0-mm-3D_firstorder_Ra

[2018-08-11 17:45] Geeks-Sid opened #408 "Bounding box of ROI is larger than image space"
I've been trying to implement feature extraction with pyradiomics for the following [image](https://drive.google.com/open?id=0B8BKWAEakl8rdUFYZmcyMlVaRmE0RFhyWTg1N05EMWpYN3lJ) and the segmented [output](https://drive.google.com/open?id=0B8BKWAEakl8rT3d2dEE3SWtnbl9RLXdvUkVWWnh1dG15c2I4) .
When i run the command
`pyradiomics Brats18_CBICA_AAM_1_t1ce_corrected.nii.gz Brats18_CBICA_AAM_1.nii.gz --sett

[2018-08-11 18:37] fedorov commented on #408
Can you please load your image and mask into a tool that is known to account for image orientation and spacing, such as 3D Slicer? I don't know much about the CaPTK tool. Most likely the issue is that the geometry of your mask doesn't match the image.

[2018-08-12 07:56] Geeks-Sid commented on #408
Hi @fedorov , yes i have tried it in [3D slicer]('https://www.slicer.org/'), but it does not interpret it at all. That's why i switched to CaPTK. I wish to fix the geometry, that is the major reason why i am trying various methods, but i have failed so far. I have tried improving tolerance, but nothing seems to be working at the moment.

[2018-08-13 08:33] JoostJM commented on #408
@Geeks-Sid, I agree with @fedorov, this warning appears to be due to a mismatch in your input. More specifically, the warning message tells you that in terms of your input coordinate space, your segmentation appears to be located betwee -86.5 and -114.5 in the x direction, i.e. completely outside the image. I think in this case this is most likely due to a mismatch in the direction matrix.

For yo

[2018-08-13 14:12] fedorov commented on #408
@Geeks-Sid can you please correctly include the segmentation file? Currently, both of the links you included in the initial post point to the same location.

Something that may not be obvious is that if your image and label show up aligned in "some" tool, it does not necessarily mean your images have correct geometry. For example, if a given tool completely ignores origin/spacing/orientation, and

[2018-08-13 17:10] Geeks-Sid commented on #408
@fedorov @JoostJM  Here are some few of my files. [This]('https://drive.google.com/open?id=1ZZpAti9DXTq8chXs5TrgJ9MvBp3da6en') is the reference file and [This]('https://drive.google.com/open?id=1FptJn9VyyKxrX2xz0O94GkLhgcI8Y92m') is the ground truth for the file and [This]('https://drive.google.com/open?id=13QxofSHvFkE1j3-ko1EA-IWeWJ5S0KN_') is the segmented output that I have generated.

@fedorov

[2018-08-13 19:33] fedorov commented on #408
The reference file and the "ground truth" file do not cover the same field of view. Where do those files come from?

[2018-08-14 08:26] JoostJM commented on #408
@Geeks-Sid, if you want to repeat my fix, try the following in python:

[code]

This forces the direction and origin of your generated mask to be identical to the direction/origin of your image, but does not swap/change you matrix. Therefore, it aligns up as expected afterwards.

Be careful when using this though! Check you alignment visually to prevent unintended mirroring of your segmentation.

[2018-08-14 09:02] JoostJM commented on #406
@chenjn2010, It is certainly a good question, however I do not have a good answer.

Noise will always be present in images, and it is the trick of developing a model that is able to capture the signal regardless of the noise. Will it affect the result of the feature extraction? Most likely, yes, although some features will be more susceptible than others. Furthermore, how you configure the extract

[2018-08-14 11:47] #392 closed

[2018-08-14 11:50] #385 closed

[2018-08-14 11:55] JoostJM commented on #376
@fedorov, @jcfr,

For the release of 2.0, I updated the CircleCI to use workflows. I did not split-out the flake8 tests, but I did transfer the testing of the notebooks to a separate job. This moves the slowest part of the testing to a moment after all the other tests have run, including flake8.

The testing which includes flake8 now returns in less than a minute, which is fast enough for me.

[2018-08-14 11:57] #376 closed

[2018-08-14 11:57] #367 closed

[2018-08-14 11:59] JoostJM commented on #283
As of PyRadiomics 2.0, Wheels are automatically built and uploaded for PyRadiomics releases. This removes the need for local compiling.

[2018-08-14 11:59] #283 closed

[2018-08-14 12:00] #315 closed

[2018-08-14 12:00] #344 closed

[2018-08-14 12:00] #362 closed

[2018-08-14 12:02] #368 closed

[2018-08-14 12:03] #396 closed

[2018-08-14 12:05] JoostJM commented on #383
See above, you first need to convert them to e.g. niftii or nrrd, which you can then use as input for PyRadiomics.

For conversion, you can try programs such as Slicer, dicom2niix and plastimatch.

[2018-08-14 12:05] #383 closed

[2018-08-14 12:06] #381 closed

[2018-08-14 12:08] JoostJM commented on #401
I do not know, you can try to set 1 bin width and see if it works in your analysis. If not, you can specify custom binwidths for each filter. See [here](http://pyradiomics.readthedocs.io/en/latest/customization.html#parameter-file) for more info.

[2018-08-14 12:08] #401 closed

[2018-08-14 12:09] #269 closed

[2018-08-14 14:51] chenjn2010 commented on #406
I am trying to extract the 'TTE' feature in this article automatically.
https://link.springer.com/article/10.1007%2Fs00330-018-5331-4
We believe the feature is reliable because we think the comparison between liver and lesions makes sense for a more robust description of intensity.
It is mentioned in this paper that "The standard deviation (SD) of the background noise was calculated from taking th

[2018-08-14 14:52] chenjn2010 commented on #406
Thank so very much JoostJM!

[2018-08-14 15:14] #406 closed

[2018-08-14 18:42] fedorov commented on #368
You can use 3D Slicer (http://slicer.org) to load a stack of BMP files as a volume, and you can then save that volume as a NRRD file.

[2018-08-15 09:53] #408 closed

[2018-08-15 15:13] fedorov commented on #408
@Geeks-Sid I would prefer not to include this into pyradiomics, since it would hide potentially critical issue from the user. If the images are not in the same space, the error should force the user to open them in a viewer and confirm the overlap. Blindly propagating image geometry to the input segmentation mask is not a good idea.

[2018-08-16 07:56] JoostJM commented on #408
I agree with @fedorov.

[2018-08-23 16:21] mlewis1973 opened #412 "conda channel?"
anyone know of a conda channel with pyRadiomics? I don't like to mix pip and conda

[2018-08-24 03:21] foxet opened #413 "Is "3D feature(by-slice)" the average of 2d-slice features derived from the whole 3d ROI?"
Is "3D feature(by-slice)"   the average of  2d-slice features derived from the whole 3d ROI?

thx

[2018-08-24 05:30] JoostJM commented on #413
What do you mean by 3D feature(by-slice)? Where does it mention this?

PyRadiomics has both 3D and 2D extraction, with the difference being that for 2D, no offsets that moves between slices are used. Therefore, there is no difference in firstorder or shape features and for texture features, all slices are combined, e.g. GLSZM only defines 2D zones, GLRLM just the in-plane runs and GLCM/NGTDM/GLDM

[2018-08-24 06:06] JoostJM commented on #412
To my knowledge, PyRadiomics builds are currently not published to Anaconda.
We only recently integrated automatic uploading to PyPi and have not yet investigated also uploading to Anaconda, but it is certainly an interesting idea.

As to the current version on PyPi (2.0), please not it contains a bug preventing the fixed bin count option from working. I will try to make a new release shortly that

[2018-08-24 07:59] Williamongh opened #415 "Extract features from 3D images which only have one slice got segmented(2D ROI)."
Hi, thank you for your work, it has helps me a lot.
Here is a question.
Now I want to extract features from 3D images which only have one slice got segmented. That‘s to say, both the original image and the mask image are 3D nrrd files, but the ROI is 2D, lying on one of the slices.
I am not sure how should I set the `param.yaml`.
Should I set `force2D `with `True`? I got confused because of the co

[2018-08-24 08:06] JoostJM commented on #415
You don't have to do anything specific for that case, features are automatically calculated in 2D (as only one slice is available). Setting "force2D" has no effect in this case.

[2018-08-24 08:27] JoostJM commented on #415
Ah yes, I'm sorry. If you enable force2D, Wavelet filter only filters in 2D, Which means that only 4 (LL, HL, LH and HH) are generated, whereas in 3D (LLL, LLH, LHL, LHH, HLL, HLH, HHL, HHH) = 8 images are derived. It is up to you to decide if you want to enable wavelet filtering in 2D or 3D, as both cases are in general valid, even with just your single slice segmentation.

[2018-08-24 08:34] Williamongh commented on #415
Thank you. I understand it now.

[2018-08-24 13:58] JianJuly opened #417 "Memory usage rapidly growing when repeatly invoke 'execute' function"
I wrote a ‘for’ function for extract radiomics features from different image,  but the memory usage rapidly growing when I repeatly invoke 'execute' function. If there exist a memory collection? How should deal with this issue?

[2018-08-24 14:11] foxet commented on #413
"force2D [False]: Boolean, set to true to force a by slice texture calculation. Dimension that identifies the ‘slice’ can be defined in force2Ddimension"

Given 3D ROI  and  setting "force2d=True ",  how will  the feature values  combined? every slices have their onw texture feature value,  e.g. if A ROI has 32 slices and force2D is True, there will be 32 GLSZM values , right? ,how will  these val

[2018-08-24 16:37] andbiz opened #418 "Add equalization method for the binning function"
First of all thank you for this wonderful tool!

I would like to suggest a new feature: the equalization of the bins (with a fixed bin count)

Some papers (see for instance: Vallieres et. al 2017 [1]) use an equalization binning method such as each bin has the same number of pixel.

I suggest to modified the pyradiomics library to include this function.
Basically, the idea would be to use numpy.pe

[2018-08-25 11:12] JianJuly commented on #417
@fedorov Thank you, could u pls help me @michaelschwier

[2018-08-25 14:29] michaelschwier commented on #417
See #303

tl;dr: These problems happened to me with 32bit Python, switching to 64bit Python solved the problem (I think recent pyradiomics versions also raise an exception or at least warning if installing for 32bit).

[2018-08-26 11:13] JianJuly commented on #417
@michaelschwier My Python version is 64 bit. And my error seems not the same with yours.  I called mprof to draw a graph with 50 iteration of my codes, which meas i extracted features from 50 images.
![figure_1](https://user-images.githubusercontent.com/27723341/44627514-d2e5d680-a961-11e8-91b5-9699dec1686b.png)

As we can see, the memory usage growing quickly. Increasing my computer memory may so

[2018-08-27 08:13] JoostJM commented on #413
No, slices are combined. E.g. in case of GLSZM, 1 matrix will be built using voxels from all slices. The difference is that in 3D, adjacent voxels on other slices are considered neighbors, in force 2D only adjacent voxels on the same slice are neighbors. This causes the zones to be 3D and 2D, respectively.

In case of GLCM, GLRLM, there is one matrix created for each angle (offsets indicating wher

[2018-08-27 14:00] fedorov commented on #413
@JoostJM I think it would be good to add this explanation to the documentation, if it's not already there! I think this question came up before.

[2018-08-27 14:00] JoostJM commented on #417
@JianJuly, Thanks for the catch! In this case, there was a memory leak. This had to do that due to some changes, we had to return tuples with 2 arrays from the C function. This is possible through `Py_BuildValue`, but I erroneously encoded the arrays using `O`, which increases the reference count, and thereby causes a memory leak. For more info on `Py_BuildValue`, see [here](https://docs.python.or

[2018-08-27 14:01] JoostJM commented on #417
I fixed this leak in #419

[2018-08-27 14:04] JianJuly commented on #417
Thank you. So what i need do next is  to reinstall this package, right?

[2018-08-27 14:28] JianJuly commented on #417
Got it   : )

[2018-08-28 15:26] JoostJM commented on #325
see #420

[2018-08-28 15:29] #325 closed

[2018-08-29 05:58] foxet commented on #413
Understand know, thank u

[2018-08-29 05:58] #413 closed

[2018-09-05 14:19] andbiz opened #421 "BUG?: mask has too few dimensions"
Hi all

I encountered this Warning/Error while processing my data:

"mask has too few dimensions (number of dimensions 1, minimum required 1)"

The error is thrown by the function checkMask() in imageoperation.py:

[code]

Should it be:
[code]
?

Thank you

[2018-09-07 13:30] JoostJM commented on #421
Yes it should be. Thanks for the catch, I will update this in the code.

However, keep in mind that 1 dimension (ie, just a line of voxels) might indicate an 'invalid' ROI in many cases. I will therefore also update the default value to require a minimum of 2 dimensions (I.e. 2D segmentation), which you can still force back to 1 (or 0), as required, in the parameter file.

[2018-09-08 23:41] wangxs89 opened #423 "How can i get the mask series from RTstructure?"
Hi,
thanks for your work,first.
i want to do some reaserch on radiomics,but i don't kown how to get mask files from RTstructures.Can you give me some suggestions?

[2018-09-10 00:55] wangxs89 commented on #423
Thank you! I’ll try.

[2018-09-10 10:34] MFaizyabAli opened #424 "Volume Confounding Meaning"
What does the term **volume confounding effect** mean? Plus, what are the normalization settings and "**voxelArrayShift**" values suggested for brain images?

[2018-09-10 11:17] #412 closed

[2018-09-14 15:53] sdoken commented on #423
Hi @wangxs89, have you been able to use plastimatch to successfully create the files? I am struggling with the same task.

[2018-09-15 04:04] sdoken commented on #423
Hi @fedorov the problem is that plastimatch is outputting nrrds with dimensions that do not make sense and cause pyradiomics to error out. For example, I have a series of 136 dicom images (ct-scans) and 1 RT-struct file that has segmentation information. When I use plastimatch convert to generate an nrrd for the 136 images, I get a 512x512x136 nrrd file for the images. This is expected as 512x512

[2018-09-15 04:56] sdoken commented on #423
I just checked visually and yes I do see that the mask in its original state RT_struct.dcm file matches the structure in the image correctly.

![image](https://user-images.githubusercontent.com/13375615/45582564-5a977480-b880-11e8-9278-846638643276.png)

I am confused by your advice here. Could you explain where you are coming from? (I am a beginner)
It seems to me that the problem is that I have

[2018-09-15 05:28] sdoken commented on #423
It now errors out again:

Image/Mask geometry mismatch, attempting to correct Mask
FAILED: Traceback (most recent call last):
  File "/Users/semihcandoken/anaconda3/lib/python3.5/site-packages/radiomics/base.py", line 297, in _calculateFeatures
    yield True, feature, getattr(self, 'get%sFeatureValue' % feature)()
  File "/Users/semihcandoken/anaconda3/lib/python3.5/site-packages/radiomics/gldm.p

[2018-09-18 17:06] Diana228 commented on #368
Hello, I would like to know if can I use pyradiomics library without mask or label file.

[2018-09-19 08:06] JoostJM commented on #368
@Diana228, No, PyRadiomics requires you to supply a mask file. However, if you want to extract features based upon the whole image, you can create a full mask (in python):

[code]

That said, what is your use case that you need to extract from the whole image?

[2018-09-28 14:06] Franci051088 opened #429 "Pyradiomics"
How can I compile and install pyradiomics in a home folder?

[2018-09-28 14:30] JoostJM commented on #429
Detailed instruction for installing and compiling pyradiomics are provided in the [documentation](https://pyradiomics.readthedocs.io/en/latest/installation.html).

[2018-09-28 14:59] Franci051088 commented on #429
I have write this instruction:
pyton setup.py install  --install-base '/home/admin01/Documents/pyradiomics-master/mypyrad'

But is gives:
Unknown distribution option: :'long_description_content_type'
and errore: install-base or install-platbase supplied, but installation scheme is incomplete.

[2018-09-28 15:19] JoostJM commented on #429
The unknown distribution you can ignore. Why do you want to install pyradiomics to that specific folder? If you want to work within the repository, but need the extensions, try `python setup.py develop`. Or, if you just want to build the extensions `python setup.py build_ext`

[2018-09-28 20:54] fedorov opened #430 "Floating scalar type mask causes runtime error"
This issue was identified by a Slicer user. I see cast is done in some places already, but I am not sure what is the one place where it should be done to avoid redundancy. Ideally, it should be done only once. @JoostJM do you have a good idea where this should be fixed once and forever?

[code]

[2018-10-01 12:09] JoostJM commented on #424
In `firstorder.Energy`, the feature value is dependent on the grayvalues in the image and the volume of the ROI (as it is the sum of voxel intensity squared).

By increasing `voxelArrayShift`, the influence of the volume increases. If the range in your image is, say, [0, 1000] and you use a shift of 5000, Energy will be very heavily correlated to Volume, and does not provide extra information anym

[2018-10-01 12:11] #402 closed

[2018-10-02 09:10] aydindemircioglu opened #432 "BUG: complex eigenvalues"
after having suffered from the memory bug, i updated to the latest version.
now i get (actually very often) an error in the new MCC routine:

FAILED: Traceback (most recent call last):
  File "/usr/local/lib/python3.6/dist-packages/radiomics/base.py", line 289, in _calculateFeatures
    yield True, feature, getattr(self, 'get%sFeatureValue' % feature)()
  File "/usr/local/lib/python3.6/dist-packag

[2018-10-02 12:10] JoostJM commented on #432
@aydindemircioglu, which specific version of PyRadiomics are you using? On what OS and which version of Python?

in e15f169 I added a force cast to float (to retain only the real part) to try to prevent this error. I will update if to your fix if necessary.

[2018-10-02 13:47] aydindemircioglu commented on #432
i downloaded the latest version this morning, so its 2.1.0.
the fix with float is there

maybe this is what happens:
your implicit convert-to-float issues a warning (when i use it directly on an ipython shell) like this:

/usr/local/bin/ipython3:1: ComplexWarning: Casting complex values to real discards the imaginary part

i think my itk-whatever-setup reacts harshly to such warnings, and it might

[2018-10-02 14:59] JoostJM commented on #432
@aydindemircioglu, That's correct, I've seen SimpleITK complaining about warnings more often, though I haven't figured out why.

As to the warning, I was able to reproduce, and will update PyRadiomics to implement your fix.

[2018-10-02 15:14] JoostJM commented on #432
Fixed in 6542181

[2018-10-02 15:14] #432 closed

[2018-10-03 14:47] #430 closed

[2018-10-03 15:09] fedorov opened #434 "Add a script to support the use of pyradiomics with DICOM directly"
As discussed on the call, the idea is to start with the scripts in https://github.com/QIICR/dicom4miccai-handson/tree/master/scripts, and add the conversion script into a new "labs" directory. Later on we will consider whether this "lab experiment" will become an "example", or a "util", or will move into a separate repository.

This task will also depend on the mapping between radiomics features a

[2018-10-03 15:12] fedorov opened #435 "Mapping from pyradiomics features to IBSI"
IBSI assigned codes to the features described in the document starting from v7 (https://arxiv.org/abs/1612.07003). Instead of maintaining a separate document with the mapping (as was done in [this example](https://github.com/QIICR/dicom4miccai-handson/blob/master/scripts/featuresDict.tsv)), we agreed it makes sense to include this mapping using some kind of predetermined decorator in the documenta

[2018-10-05 13:36] aydindemircioglu opened #436 "[improvement?] MCC memory issue?"
i often have multiple series for a patient and do compute the features in parallel.
the machine has 24 cores and 256gb of memory installed.
yet, i had to go back to 1 core because i get this error message when i have too many threads in parallel
(even 4 seems to be too much in my case)

GLCM is symmetrical, therefore Sum Average = 2 * Joint Average, only 1 needs to be calculated
FAILED: Traceback

[2018-10-05 13:38] JoostJM commented on #436
@aydindemircioglu, This is due to the MCC feature in GLCM that was recently implemented. If you disable that feature by specifying the other GLCM features.

I will investigate this further.

[2018-10-05 14:03] aydindemircioglu commented on #436
ok, thanks for investigating!

i just see that it even crashes with just one cpu, so it takes more than 256gb.
should be more reasonable with my parameters :/

[2018-10-05 14:27] JoostJM commented on #436
I implemented a fix in 167888b (part of the current master), which computes the intermediary matrix Q in a for loop. This is a slightly slower computation, but much less memory intensive.

[2018-10-05 14:29] JoostJM commented on #436
@aydindemircioglu, If it still crashes, try to check how large the GLCMs are that are created (visible when logging with DEBUG level). It is possible that your chosen binwidth results in Ng that is too large (seeing as GLCM shape is Ng x Ng x Na, with Na usually being 13 in 3D).

[2018-10-05 18:11] aydindemircioglu commented on #436
cool, thanks for the really quick fix, i will try it out, but probably only on monday.

[2018-10-07 08:15] aydindemircioglu commented on #436
thanks again, it helps!
(though i then get the error "Number of elements in GLCM would overflow index variable! Increase bin width or decrease number of angles to prevent this error.", as said, the binwidth chosen is overkill)

[2018-10-07 08:15] #436 closed

[2018-10-08 07:57] JoostJM commented on #436
@aydindemircioglu If you get that error, your binwidth is much too small. This error occurs only when Ng x Ng x Na exceeds the int32 max (2147483647). If this is the case, the probabilities in your GLCM will be most likely close to 0, causing unstable features.

[2018-10-09 20:50] lishen opened #438 "How to specify angles?"
GLCM and GLRLM features require the specification of angles. Although they are mentioned in the documentation but I don't see how to specify the angles through arguments. Can anyone clarify?

BTW, is there any way to specify run length in terms of the number of pixels?

[2018-10-10 08:17] JoostJM commented on #438
@lishen, angles required for the computation of GLCM, GLRLM and the other texture classes are generated automatically inside the C extension (using functions [`get_angle_count()`](https://github.com/Radiomics/pyradiomics/blob/master/radiomics/src/cmatrices.c#L513) and [`build_angles()`](https://github.com/Radiomics/pyradiomics/blob/master/radiomics/src/cmatrices.c#L557).

For the case of GLCM and

[2018-10-10 16:12] lishen commented on #438
@JoostJM, maybe because I'm from a different field, I found it a bit odd that the angles are automatically determined. Some package, such as skimage, allows us to specify a list of angles in [greycomatrix](http://scikit-image.org/docs/dev/api/skimage.feature.html#skimage.feature.greycomatrix).

For run length, I'm just wondering if the length of the run can be restricted to a certain number, such

[2018-10-17 14:38] lisherlock opened #439 "A big problem about dcm files!"
Hi,
    Now i have one 16 bit dcm file as data. At the same time, i have one 8 bit dcm file as mask. The mask range is 0 and 255. But when i run the batchprogress, it has error!  I wanna know why! Thanks!

Here is the error log:
    (ROIBounds, imageNode.GetSize()))
ValueError: Bounding box of ROI is larger than image space:
        ROI bounds (x, y, z image coordinate space) ((434.02968808817445,

[2018-10-17 15:03] lisherlock opened #440 "How can I convert binary image(.bmp) to nii or nrrd?"
As the title, it seems that i can't create mask if i can't convert the binary image to nii?  It's so sad!  Looking forward your reply!!

[2018-10-29 02:07] fedorov opened #443 "Confusing error message when mask is just one pixel"
Reported by Vu Nguyen (SBU), this is the error when mask is defined by a single pixel in a 2d image:
[code]
Probably we need a more clear error message.

[2018-11-01 19:43] fedorov commented on #423
@sdoken were you able to resolve that issue?

I was working with plastimatch recently for another project, and I realized something (perhaps, obvious) that is probably related to the issue you observed. RTSS does not contain information about the geometry of the image being annotated. Both the pixel resolution and number of slices are defined using a heuristic! This is quite important, because eve

[2018-11-04 20:33] fedorov commented on #434
resolved

[2018-11-04 20:33] #434 closed

[2018-11-09 09:31] darkmanAmazigh commented on #385
This problem still exist on python 3.7.1,
i have added %VS140COMNTOOLS% to path variable

[2018-11-12 09:46] JoostJM commented on #385
@darkmanAmazigh, Correct, PyRadiomics is currently pre-built for Python 2.7, 3.4, 3.5 and 3.6. Other versions just download the source code and attempt to compile locally, which requires your compiler to be setup correctly

[2018-11-13 08:34] beichuanzhaolun commented on #440
import SimpleITK as sitk
# mask is a binary numpy array, convert to SimpleITK image type
mask = sitk.GetImageFromArray(mask)
sitk.WriteImage(mask, 'mask.nii')

[2018-11-13 15:17] lisherlock commented on #440
sry! I just tried it already,  but it can't work yet. :(

[2018-11-14 09:49] zhenweishi opened #444 "Pyradiomics on PET image"
Hi, all developers

When I set the binWidth for imagetype like
"imageType:
  Original:
    binWidth: 0.5"
I got the following errors:

![pet_error](https://user-images.githubusercontent.com/17007301/48474427-d4090000-e7fa-11e8-956a-6ac38785e7d6.PNG)

So my questions are: 1) how to solve this issue 2) what is the proper binWidth for PET images.
Looking forward to your reply.

[2018-11-14 12:30] JoostJM commented on #444
This error is caused when the size of GLCM would exceed int32 max value, which is generally caused by a too-small binwidth.

You can check this by running just firstorder (without features Uniformity and Entropy), which will provide you with the range of gray values encountered in your image.

As to the best bin width, there is no definitive answer, but there are several threads about that in the

[2018-11-14 17:25] JoostJM commented on #440
What is the error message? Are you able to generate a SimpleITK object?
It's possible then that you also need to apply the following line

`mask.CopyInformation(image)`, where image is the SimpleITK object of the image the mask belongs to.
Furthermore, if you add `True` to the write function, the file is compressed (saving a lot of disk space for your mask): `sitk.WriteImage(mask, 'mask.nii', True

[2018-11-30 02:50] huawenqing commented on #361
After I used dcm2nii to convert a DICOM series into a nii volume, the direction changed and led to mismatch between the image and segmentation. My image is DICOM and segmentation is Nifti, I want to process them in Nii format. Why the problem happened?

[2018-11-30 02:57] fedorov commented on #361
The only way to investigate this is to look at the dataset where you observed this issue.

[2018-12-02 21:13] fedorov commented on #239
Please clarify your question. Are you asking how to segment the image? If so, you should look into 3D Slicer software: https://slicer.org.

[2018-12-14 02:57] ihnorton commented on #381
related question I happened across: https://stackoverflow.com/questions/50845524/medical-imaging-pyradiomics-with-nii-gz-files

[2018-12-14 03:51] fedorov commented on #381
NIFTI should work as fine as NRRD, or any other ITK readable format. The problem is due to something else. If you can share the dataset or log we can investigate.

[2018-12-14 12:55] ihnorton commented on #381
Not my question guys, just came across it on stackoverflow.

[2018-12-19 23:25] Elwyslan opened #447 "RuntimeError when Input a Gray-Scale Image in RadiomicsGLCM - GLCM"
Hello fellow devs, I have a Issue.

My code, inputing a Gray-Scale Image + Binary Mask with sizes (450x450) on "radiomics.glcm.Radiomics GLCM":
[code]
and this happens...
[code]
Looking at line 133, in "pyradiomics/radiomics/glcm.py", in function "def _calculateMatrix" I see the following:
[code]
From what I understand, this line of code forces the input image to be 3D(450x450x3). So, when I input

[2018-12-20 03:36] Elwyslan commented on #447
I'm looking at the source code to see the source of the exception...

Looking for these two params, force2D and force2Dimensions, I found in "radiomics/schemas/paramSchema.yaml"
[code]
Then, if If I instantiate like this:

`rad = radiomics.glcm.RadiomicsGLCM(image, mask, force2D=True, force2Ddimension=1)`

The 'settings dictionary' will contain `{'force2D':True, 'force2Ddimension':1}`

But still t

[2018-12-20 06:29] #447 closed, assigned to nobody

[2018-12-20 13:56] Elwyslan commented on #447
Thank you.
The 4th answer in [https://groups.google.com/forum/#!topic/pyradiomics/QLdD_qEw3PY]
which you gave the trick "You can use SimpleITK.JoinSeries to create these "3D" images from 2D" solves my problem.

[2018-12-25 08:08] YH2010 commented on #368
Hi!
I want to filter the image by wavelet transform and then extract all the image features of the offspring. My images are gray images of ROI, 2D，BMP formats, size32*32. I use MIPAV software to convert them into nrrd format one by one and make mask files, but Pyradiomics can't work.
I tried to find solutions through the Internet, but there are too little information. I really wish I can get your

[2018-12-25 15:15] huawenqing opened #449 "Can I extract the features from numpy？"
Before extracting the  radiomics features, I want to use a CNN segmentation model to segment the MRI. But after that, both the mask and image have changed into  a series of  numpy.  Can I directly extract feature from the numpy, or can I changed the numpy back to nii or dcm format then operate the extraction?

[2018-12-26 06:55] lisherlock commented on #368
Hi! Thanks a lot!
I have some other solutions to apply the Pyradiomics by dcm files!

[2018-12-26 07:15] lisherlock commented on #368
Hi!
Merry Christmas!  Sorry maybe it's late to reply your questions!

As i said before, i wanna get radiomics information by using pyradimics. But i just only have dcm files and bmp files which are gotton by u-net. And i try to convert dcm files to nrrd files but it failed. Fortunately, i find the reason that pyradiomics can't work is that non-corrected between the data files and mask files.
So my

[2018-12-26 07:19] #439 closed

[2018-12-29 09:51] huawenqing commented on #449
`
# assume 2D images here
img_slice = np.load('img.npy')
mask_slice = np.load('mask.npy')

# assume pixel size is in 1x1 mm. I am gonna assume 3rd dimension which is the depth is also 1 mm so that it is isotropic
data_spacing = [1,1,1]

sitk_img = sitk.GetImageFromArray(img_slice)
sitk_img.SetSpacing((float(data_spacing[0]), float(data_spacing[1]), float(data_spacing[2]) ))
sitk_img = sitk.JoinSer

[2019-01-07 18:34] abhinandanbatra opened #451 "Analyzing multiple nii files at same time"
Hi,
I am having an issue reading multiple files by looping over different cases in pyradiomics. I am using following code
`for Case_id in range(1,6):
    path = '/Users/abhinandanbatra/Desktop/pyradiomics/Converted/Case{}/'.format(Case_id)
    for files in os.listdir(path):
        if fnmatch.fnmatch(files,'*Image.nii'):
            print(files)
            image= sitk.ReadImage(files)
    for mas

[2019-01-08 09:09] JoostJM commented on #451
This indicates that the file does not exist. The error is due to the fact that you list files in `path`, but then try to load just the file name. use `sitk.ReadImage(os.path.join(path, files))` instead

[2019-01-08 16:21] abhinandanbatra commented on #451
Thank you so much for the help. I am able to locate the Cases and loop through them. I am running into another issue. When I run the analysis by looping through Cases I am getting the following error

"ValueError: Image/Mask datatype or size mismatch. Potential fix: enable correct mask, see Documentation:Usage:Customizing the Extraction:Settings:correctMask for more information"

But when I run ea

[2019-01-08 16:41] JoostJM commented on #451
@abhinandanbatra
The error you are seeing should also happen for the case separately. It indicates there is a difference in size/direction/origin (i.e. geometry) of the image and mask. This does could indicate that the wrong mask is used, but is also the case when the mask represents a cropped area of the image (3D slicer does this to preserve space).

PyRadiomics can handle this, you only need to

[2019-01-08 16:44] abhinandanbatra commented on #451
Yes, you are right, one case had that an issue. I am really sorry but I am running into another issue when I loop through cases I get the result for the first case but when it loops through the second I get the error

ValueError: Error reading image Filepath or SimpleITK object

I am using the same code as I sent you earlier. Sorry I am new to python

[2019-01-08 16:51] JoostJM commented on #451
@abhinandanbatra No problem. The most likely cause for that particular error is that it can't find the image file or the format is wrong. What happens if you try to load it using 3d Slicer (or a similar program)?

To be precise: PyRadiomics first checks if image is a string (representing a path), and if so, loads it as an sitk image. If not, it checks if it's an SimpleITK image, and uses it if so.

[2019-01-08 17:01] abhinandanbatra commented on #451
I don't get the error when I run the case separately or load them in 3d slicer. I only get the above error when I am looping through the cases. Here is the whole error, you can see the code was able to analyze the first case but gave an error when looping through the second

/Users/abhinandanbatra/Desktop/pyradiomics/Converted/Case1/
C60620120618Image.nii
C60620120618label.nii
Result type: <class

[2019-01-08 17:04] abhinandanbatra commented on #451
Also, can you please let me know the code for the corrected mask to set it to True. here is what I came up with based on command line and your examples
`settings = {}
print(settings)
settings['binWidth'] = 25
settings['resampledPixelSpacing'] = None
# settings['resampledPixelSpacing'] = [3, 3, 3]  # This is an example for defining resampling (voxels with size 3x3x3mm)
settings['interpolator'] = 's

[2019-01-08 17:08] JoostJM commented on #451
`extractor = featureextractor.RadiomicsFeaturesExtractor()`
should be
`extractor = featureextractor.RadiomicsFeaturesExtractor(**settings)`

I.e. you need to pass the settings in order for the extractor to use them. the `**` means they are unpacked as keyword arguments (i.e. `extractor = featureextractor.RadiomicsFeaturesExtractor(correctMask=True)` would also work (only setting correct mask is ap

[2019-01-08 17:10] JoostJM commented on #451
This is the part of feature extractor that loads your image and is raising an error in your case:

[code]

[2019-01-08 18:18] abhinandanbatra commented on #451
Thank you so much. I really appreciate it. It's working now. One of the .nii files was corrupt (as it did not convert properly from dicom to nifti) so it was creating an issue. Also, can you suggest any tool for converting dicom to nifti.

I am really thankful for all your help on this

[2019-01-09 11:46] JoostJM commented on #451
@abhinandanbatra
I myself use a [python script](https://github.com/JoostJM/nrrdify) I put together.
Aside from that, checkout this issue: #383.

[2019-01-09 12:58] dfsp-spirit opened #452 "CLI: Segfault 11 under MacOS"
I'm new to pyradiomics and just installed it under MacOS/conda:

    $ conda install -y pip
    $ pip install pyradiomics
    $ python -c 'import radiomics; print(radiomics.__version__)'
    2.1.2
    $ python --version
    Python 3.7.0

So far, everthing looks fine.

But the command line interface segfaults (I use the repo checkout to get the demo data only):

    $ git clone https://github.com/R

[2019-01-09 13:02] JoostJM commented on #452
Hi, if you run

`pyradiomics pyradiomics_repo/data/brain1_image.nrrd pyradiomics_repo/data/brain1_label.nrrd --logging-level DEBUG --log-file pyradiomics.log` a log file is created. If you can share that file, it'll be easier to track down the error.

[2019-01-09 13:09] dfsp-spirit commented on #452
Hm, the error is:

    ValueError: Error reading image Filepath or SimpleITK object

Strange, the error seems to suggest that it cannot read the image. Here is the full log file:

[2019-01-09 14:04:05] D: radiomics.script: Logging initialized
[2019-01-09 14:04:05] I: radiomics.script: Starting PyRadiomics (version: 2.1.2)
[2019-01-09 14:04:05] I: radiomics.script: Processing input...
[2019-01-09 1

[2019-01-09 13:13] JoostJM commented on #452
@dfsp-spirit That was only the first run, the others it crashed after cropping. I think it is a problem in the C extensions. Can you build a python 3.6 environment and try again? currently PyRadiomics is only pre-compiled for python 2.7, 3.4, 3.5 and 3.6

[2019-01-09 13:33] JoostJM commented on #452
@dfsp-spirit, I guess something is going wrong with the C extension. Sadly I'm unable to reproduce the error, as I'm developping on Windows and Linux. Still, the unit test should suffer the same problem on Mac (Travis CI unit tests), but I did not see an error there either... Even the conda distribution is working fine there (I'm currently having some issues on Linux and Windows conda)

P.S. can y

[2019-01-09 13:33] dfsp-spirit commented on #452
It was MacOS High Sierra 10.13.6 btw. With conda3, as the system python that comes with that OS is more or less useless.

[2019-01-09 13:39] dfsp-spirit commented on #452
I got it to work under Linux. Most likely the error is related to conda. This was under Ubuntu 16.04 LTS:

    python3 -m venv venv_pyradiomics
    source venv_pyradiomics/bin/activate
    pip3 install pyradiomics
    git clone https://github.com/Radiomics/pyradiomics pyradiomics_repo
    cd pyradiomics_repo/examples/
    python3 helloRadiomics.py

...and it works. The output is:

(venv_pyradiomic

[2019-01-09 13:41] dfsp-spirit commented on #452
Is that not what I did in my 3rd post? If not, please let me know what I should do. I will gladly give it a try.

[2019-01-09 13:54] JoostJM commented on #452
Sorry my bad. In that case you could try the conda package in the py 3.6 environment.
See [here](https://anaconda.org/radiomics/pyradiomics)
`conda install -c radiomics pyradiomics`

[2019-01-09 14:09] dfsp-spirit commented on #452
510  conda create -y --name pyradiomics_conda python=3.6
     511  conda activate pyradiomics_conda
     512  conda install -c radiomics pyradiomics

The last command gives me:

$ conda install -c radiomics pyradiomics
Solving environment: failed

PackagesNotFoundError: The following packages are not available from current channels:

  - pyradiomics
  - simpleitk==!=1.1.0

Current channels:

  - h

[2019-01-09 14:15] dfsp-spirit commented on #452
Oh, wait: you have to:

    conda install -c simpleitk simpleitk

[2019-01-09 14:30] #452 closed

[2019-01-15 02:01] huawenqing opened #453 "How to choose a appropriate binWidth?"
I set it 5, but I don't know if it works to my data.

[2019-01-15 10:47] JoostJM commented on #453
This is a topic of ongoing discussion, but we offer some pointers in our [FAQ section](https://pyradiomics.readthedocs.io/en/latest/faq.html#what-about-gray-value-discretization-fixed-bin-width-fixed-bin-count)

[2019-01-15 10:47] #453 closed

[2019-01-15 10:48] #449 closed

[2019-01-15 10:48] #451 closed

[2019-01-15 10:50] #429 closed

[2019-01-15 12:07] JoostJM commented on #421
fixed by 623b836

[2019-01-15 12:07] #421 closed

[2019-01-16 09:21] BBeuker opened #454 "Pywavelet >0.4.0 implementation"
Is there any chance the pywavelet implementation for getWaveletImage will be expanded to higher versions than 0.4.0? Version 0.5.0 (current version is 1.1.0) adds some pretty interesting wavelets that have shown promising results in Radiomics research.

Or is there another solution for me to implement the pywavelet 0.5.0 and above filters? Thanks for the help!

[2019-01-16 11:52] BBeuker commented on #454
Thanks for the help and quick answers Joost, got it up and running but the morlet wavelet seems to lead to some issues due to being 1D Continuous Wavelet instead of discrete. Which logically doesn't work with the stationary wavelet transform, pywavelets also doesn't support 2D CWT so unfortunately it seems like this is not gonna work. Thanks anyway!

[2019-01-16 12:21] JoostJM commented on #454
You can try to do it outside of PyRadiomics and build SimpleITK images out of it (`sitk.GetImageFromArray`), remember to copy the direction, and update origin and spacing (twice the spacing of the original image).  Size should automatically be half that of the original image.

The reason you need to update the origin is because origin is defined as the center of the corner voxel, which moved due t

[2019-01-16 12:35] BBeuker commented on #454
That's great! Didn't think of this option, thank you again will try it this way.

[2019-01-22 14:59] isabellafw opened #455 "Mesh Volume is in voxels not mm^3"
Hi. According to the documentation, the Mesh Volume should be in mm^3. However, when calculating the Mesh Volume it has similar values to the Voxel Volume, so is not in mm^3 -- how can we get the volume in mm^3?

Thanks for any help.

[2019-01-23 09:03] JoostJM commented on #455
Both Mesh Volume and Voxel Volume yield a value in mm^3. The difference is in how the volume is approximated: Voxel Volume calculates the volume by multiplying the volume of a voxel (x * y * z spacing) with the number of voxels in the ROI, whereas Mesh Volume approximates the Volume by calculating the volume contained by the surface mesh (generated using marching cubes).

[2019-01-23 10:08] isabellafw commented on #455
Thanks for that, would like to double check because I have also calculated volume in the software Lifex which calculates both in cm^3 and voxels -- that's how I noticed the volumes from pyradiomics were most similar to Lifex's volume in voxels (even after unit conversion), which is quite different from Lifex's volume in cm^3.

[2019-01-23 10:13] JoostJM commented on #455
If you're interested in the number of voxels in the ROI, check feature VoxelNum (part of the diagnostic features)

[2019-01-23 10:21] isabellafw commented on #455
Those values are very similar to mesh/voxel volume - is this usual?

[2019-01-23 12:57] JoostJM commented on #455
@isabellafw, can you also share the values for `diagnostics_Mask-resegmented_PixelSpacing`?

And to be sure, which version of PyRadiomics are you using?

[2019-01-23 13:03] JoostJM commented on #455
@isabellafw, I checked the code for a potential bug, but everything looks fine. I suspect your pixel spacing is 1x1x1 mm (thereby causing the volume of a voxel to be 1 mm^3 and the value of voxel volume to be equal to the number of voxels in the ROI).

If your dataset is not supposed to have a spacing of 1x1x1, please describe any steps of converting the data, as well as the settings passed to PyR

[2019-01-23 13:48] isabellafw commented on #455
@JoostJM Thank you - yes the spacing was not set when getting the image from a numpy array, now the problem is solved and the values make more sense. Very much appreciate your help to find the problem!

[2019-01-23 13:51] #455 closed

[2019-01-30 10:23] Kuttner opened #456 "Voxel-wise feature calculation?"
Hi,
I am trying to calculate a parametric image by extracting voxel-wise features from a square kernel. After reading the reply in this thread: https://groups.google.com/forum/#!topic/pyradiomics/k6WXuwYTqNA
I tried to run the helloVoxel.py from: https://github.com/Radiomics/pyradiomics/blob/master/examples/helloVoxel.py
using the following parameter file (exampleVoxel.yaml):
_____________________

[2019-01-31 10:49] JoostJM commented on #456
@Kuttner That is indeed a bug, good catch. I fixed it in 81e713a (the current master).
If you can build the latest PyRadiomics master from source, the issue should be fixed. If you want to use the pre-built wheels, the fix will be included in the next release.

[2019-01-31 10:50] #454 closed

[2019-02-01 08:57] Kuttner commented on #456
@JoostJM Thank you for looking into this. I think I managed to upgrade. Running: "pyradiomics --version" gives the output: "pyradiomics 2.1.2.post21+gb92bd22". Is this correct?

However, still, running the helloVoxel.py, with the above *.yaml file just gives constant value of 7.60209 inside the mask. Could you provide me with a minimal working example that shows it is working for you?

Thanks a lo

[2019-02-01 09:48] JoostJM commented on #456
Thats the latest master, the same I ran my test with. As a small bonus, this also contains a CLI interface for voxelwise extraction.

From the examples folder, can you run the following?

- open and edit `exampleVoxel.yaml` so it looks like this:
[code]
- run ` pyradiomics ..\data\brain1_image.nrrd ..\data\brain1_label.nrrd -p exampleSettings\exampleVoxel.yaml --mode voxel -v 4 -od results`

This

[2019-02-01 10:18] Kuttner commented on #456
I´m running from within python using the following code and your exampleVoxel.yaml file:

from radiomics import featureextractor, getTestCase
import six
import sys, os
import matplotlib.pyplot as plt
import numpy as np
import SimpleITK as sitk

imageName, maskName = getTestCase('brain1', dataDir)
params = os.path.join(dataDir, "exampleVoxel.yaml")

extractor = featureextractor.RadiomicsFeaturesExt

[2019-02-04 17:02] abhinandanbatra opened #460 "Creating a mask for specific region of interest inside an image"
Hi,
I have some images of legs where I have drawn ROI around specific muscles. Is there a way that I can create a mask of that specific region using  pyradiomics. Will appreciate help.

Thank you very much
Abhi

[2019-02-05 09:51] JoostJM commented on #456
@Kuttner, that is because apparantly, your spyder implementation resolves the import to another installation of PyRadiomics than your default python interpreter does (or, to be more precise, the default scripts folder where the `pyradiomics` CLI script resides).

This older version also does not yet contain the fix, thereby explaining your problem.
You can find the location of this installation by

[2019-02-05 12:20] Kuttner commented on #456
@JoostJM, Thanks, we´re getting there, correct version is installed now, however, the last part of your code generates an error:
`for key, val in six.iteritems(result):
    parametermap = sitk.GetArrayFromImage(val)`
![image](https://user-images.githubusercontent.com/44535218/52272951-aa1e3000-2948-11e9-9c5e-9489e8673420.png)
Seems like SimpleITK is now generating the error. I tried to re-install

[2019-02-05 14:31] abhinandanbatra opened #461 "list assignment index out of range"
Hi, I have to analyze 45 sets of 3D images. Whenever I run the program I get an error
list assignment index out of range. When I am running only 15 cases it runs fine. Will appreciate any help.

[2019-02-06 09:01] JoostJM commented on #461
Hi @abhinandanbatra, can you share some more information? What were the settings you used for PyRadiomics? What is the error message you received? Can you share the PyRadiomics log file?

[2019-02-06 09:06] JoostJM commented on #456
Hi @Kuttner, that is not really an error. The output from PyRadiomics consists of diagnostic features (strings , ints, tuples, dicts) and features (floats in case of segment-based, SimpleITK images in case of voxel based). the easiest way to distinguish between the two is to use:

[code]

[2019-02-06 11:11] Kuttner commented on #456
@JoostJM, yes of course. Now it all works! Thanks a lot for your kind help with solving this issue ;)

[2019-02-06 11:11] #456 closed

[2019-02-06 14:37] abhinandanbatra commented on #461
Hi Joost,
Here is the error message that I get

<ipython-input-4-6b15c3760c08> in <module>()
     26 #
     27
---> 28             features[Case_id] = featureextractor.RadiomicsFeaturesExtractor(image, mask)
     29
     30             extractor.disableAllFeatures()

IndexError: list assignment index out of range

Below are the settings that I am using
`settings = {}
print(settings)
settings['binW

[2019-02-06 15:54] JoostJM commented on #461
`---> 28 features[Case_id] = featureextractor.RadiomicsFeaturesExtractor(image, mask)`

This line is where your error originates. As far as I can see, this appears to be in your own code.

1. How are `features` and `Case_id` in `features[Case_id]` defined? From the error, I assume `features` is a list. You cannot add an item by index in that way. Use `features.append()` instead.
1. `featureextract

[2019-02-06 20:27] abhinandanbatra commented on #461
Hi Joost,

Thank you for your response. here is the code that I came up with to loop through image and mask of different cases
`for Case_id in range(1,45):
    path = '/Users/abhinandanbatra/Desktop/pyradiomics/Converted/Case_{}/'.format(Case_id)
    print(path)
    for main in os.listdir(path):
        if fnmatch.fnmatch(main,'*image.nii'):
            print(main)
            image=sitk.ReadImage

[2019-02-07 09:06] JoostJM commented on #461
In your code, I still do not see where you declare `features`. In any case, based on your code, it should be a dictionary (i.e. `features = {}`). You can also choose an OrderedDict, which will preserve the ordering of your cases (i.e. `from collections import OrderedDict` and `features = OrderedDict()`). That should solve your indexing error (you cannot use indexing to assign to new indexes in a l

[2019-02-12 19:06] MonishSannathi opened #462 "Feature Category"
Hi
Im trying to understand,under which radiomic feature class, does diagnostics_Image-original_Mean and diagnostics_Image-original_Maximum comes?

[2019-02-13 09:50] JoostJM commented on #462
@MonishSannathi None, these are diagnostic 'features', which are generated in the `generalinfo.py` module. They are intended to provide additional information regarding the extraction process, which may be helpful when debugging or reproducing extractions.

[2019-02-13 10:00] JoostJM commented on #360
@tommydino93 No problem!

1.  Computationally, there is no problem. However, unless weighting by distance (`weightingNorm`) or `force2D` is used, PyRadiomics considers neighbors in-plane and out-of-plane to be comparable. If, however, z is e.g. 5 mm and xy are 1 mm, neighbours in z are 5 times further away, and therefore not exactly comparable. This then violates the comparable-neighbors assumptio

[2019-02-13 10:17] tommydino93 commented on #360
@JoostJM Thanks a lot for the immediate answer and detailed explanation!!

So, suppose I wanted to go for option:

should I just set the three values of `resampledPixelSpacing` to the same number like below?

[code]

[2019-02-13 11:52] JoostJM commented on #360
@tommydino93 Yes, that enables resampling to isotropic voxels. On what size to use, I usually advise to take a compromise with deleting information in-plane and 'creating' it out-of plane. E.g. in the case of x,y = 1mm, z = 5 mm, I usually go for 2 or 3mm isotropic. Always keep in mind that larger voxels are not necessariliy bad, as small voxels are more sensitive to noise. On the other hand, if y

[2019-02-13 14:09] abhinandanbatra commented on #461
Hey Joost,
Thank you for the help. I was able to run the feature extraction on all case ids. I am still not able to get the log file running. I used the example code listed on pyradiomics webpage but it keeps on giving me  error logging is not defined.

Also, since I am running the feature extraction on 3D data. Is it possible to get features slice by slice?

[2019-02-13 14:18] JoostJM commented on #461
@abhinandanbatra, The easiest way to enable logging is by using the command line interface. There, add the switches `--log-file <FILE>` and `--logging-level <LEVEL>` to enable logging to a file. `<FILE>` should be a valid path (i.e. directories must exist, but the file can be a new file) and `<LEVEL>` a valid logging level (e.g. `DEBUG` or `INFO`).

If you want to enable logging in the interactive

[2019-02-13 14:37] JoostJM commented on #461
@abhinandanbatra, what do you exactly mean "slice by slice"? As in, 1 value for each feature on each slice of your ROI? That is not directly possible in PyRadiomics. If you want, you'd have to write a little python loop to update the label values, giving each slice of the ROI it's own unique value, then use that to extract features in PyRadiomics (run the `execute` function of the extractor for ea

[2019-02-13 14:49] abhinandanbatra commented on #461
Hey I was able to get a log file here is the output
Checking mask with label 1
Calculating bounding box
Image/Mask geometry mismatch, attempting to correct Mask
Resampling mask to image geometry
Checking ROI validity
Checking if label 1 is persent in the mask
Comparing physical space of bounding box to physical space of image
ROI bounds (image coordinate space): ((26.49999350139064, 65.49999794661

[2019-02-13 15:19] abhinandanbatra commented on #461
Hey the code was running fine and now all of sudden I have started getting this error message

ValueError: Image/Mask geometry mismatch. Potential fix: increase tolerance using geometryTolerance, see Documentation:Usage:Customizing the Extraction:Settings:geometryTolerance for more information

[2019-02-13 22:52] abhinandanbatra commented on #461
I have one question about first order feature: entropy. We are using Dixon fat fraction images for texture analysis but entropy values are always zero. Can you help me understand why this is happening? We previously analyzed the data using different software and results were different

[2019-02-14 10:06] GSEL9 opened #464 "Bin width for normalized image"
Hi.

If a choose to both normalize and discretize my image with a fixed bin width, do I need to calculate the bin width from the normalized version of my image, or will my bin width (from the original image) be transformed to the corresponding width of a normalized image inside PyRadiomics?

Thanks for great software!

Best,
Severin

[2019-02-15 09:05] JoostJM commented on #464
@GSEL9 you need to adjust the bin width to the intensities you expect after normalization, it is not transformed automatically, as this would mean it is transformed slightly different for each image, defeating the purpose of using a fixed bin width (i.e. ensuring the contrast represented by the discretized image is the same).

[2019-02-15 09:11] JoostJM commented on #461
@abhinandanbatra, as mentioned above, set each slice to a different value inside the ROI (i.e 1, 2, 3, etc). Then use pyradiomics to extract features for each slice, keeping everything the same with the exception of "Label", which should be set to the value (again, 1, 2, 3, etc) corresponding to the slice you are extracting for.

As to your question on entropy; which entropy? firstorder? glcm? My

[2019-02-15 09:23] JoostJM commented on #461
To get additional information on the image mask mismatch, try the following:

[code]

[2019-02-18 05:14] shong95 opened #465 "Regarding urgent debugging problem of data format debugging"
Hello I have a inquiry regarding urgent debugging problem of data format debugging.

[2019-02-18 07:26] shong95 commented on #465
Hello, I'm getting trouble regarding data format...
[code]

The results of errors are like this:
[code]

[2019-02-18 13:14] JoostJM commented on #465
@shong95, as you can read from the error message `No label object with label 1`, your mask does not contain a segmented region with label (=value of the pixels) 1. Using the following code, you can detect the labels present in your ROI:

[code]

On a side note. Be careful with slicing on a SimpleITK image. Slicing the occurs in [x, y, z] order.

Finally, even after fixing this error, your extracti

[2019-02-18 13:14] #464 closed

[2019-02-18 13:14] #462 closed

[2019-02-18 13:16] JoostJM commented on #460
@abhinandanbatra, PyRadiomics is not intended for the creation of ROIs, only analyzing regions defined using masks. If you want to create segmentations, you can checkout [3D Slicer](www.slicer.org) or similar programs (3D Slicer also has a radiomics module that allows applying PyRadiomics directly from Slicer)

[2019-02-18 13:23] JoostJM commented on #438
@lishen No, the runs go on as long as they can. Limiting them to a specific number would be counter intuitive, as then no distinction can be made between images with runs of 11 and images with runs longer than 11 (where the latter is more homogeneous than the former, and a distinction is important).

[2019-02-19 14:43] abhinandanbatra commented on #461
@JoostJM ,
Thank you for the recommendations. I will work on your suggestions today or tomorrow and will let you know. I was asking about first order entropy. I think bin width is the issue. I will reduce the bin width and see if it helps. Thank you

[2019-02-21 16:30] tommydino93 commented on #360
Thank you very much again! I will open a new quick issue since it's a completely different topic.

[2019-02-21 16:30] #360 closed

[2019-02-21 16:39] tommydino93 opened #468 "Graphically visualize filtered images (2D case)"
Hi again @JoostJM !

I have another question. Is there a way to visualize my wavelet-filtered and exponential-filtered images or bounding box? (preferably with matplotlib, but also with sitk would be fine). Something like:

[code]

Ideally, I would like to have a subplot with the original image first, then the wavelets (HL, HH, LH, LL) images and then the exponential one.

Thank you again very muc

[2019-02-21 21:09] abhinandanbatra commented on #461
@JoostJM I tried changing the bin width but it still gives me first order entropy of -0.0. Also, I went ahead and compiled the information regarding image and mask mismatch, they both are same. I dont know why I am getting this error of mismatch. Here is what I get after printing information for image and mask. Will appreciate your help on both these issues

**Image (0x7fd0628a0de0)**
  RTTI typei

[2019-02-22 13:34] JoostJM commented on #468
Hi @tommydino93, it should relatively easy to do so. Your start is there, though I think you'd need to convert to arrays before showing. Check out the notebooks, the featureVisualisation one contains code on viewing an image (though not the filtered one in that case, but that shouldn't matter).

[2019-02-22 13:40] tommydino93 commented on #468
Thanks a lot @JoostJM !!
In the end, I managed to find a way this morning. We can use the `sitk.Show` function. In this way sitk invokes ImageJ that opens up the images. Like this:

[code]

[2019-02-22 13:40] #468 closed

[2019-02-22 13:40] JoostJM commented on #461
@abhinandanbatra they do look the same indeed... You can try to exactly recreate the PyRadiomics mask check by doing the following (in addition to the code above):

[code]

If there is a geometry mismatch, this function should throw an error. If not, please check if you image and mask are indeed the ones that are passed to PyRadiomics (and it does not mix up 2 patients somewhere). If `lsif` does n

[2019-02-22 13:43] JoostJM commented on #461
This is the part of the code that is throwing your error:

https://github.com/Radiomics/pyradiomics/blob/master/radiomics/imageoperations.py#L194

Reading it, I can see there is a possibility that SimpleITK is throwing a different error, but it still tries to resample the mask. Let me know what you find out.

[2019-02-22 13:44] #444 closed

[2019-02-22 13:47] JoostJM commented on #468
@tommydino93 Indeed, that is the other option ;-) I did not mention it as you said preferably with matplotlib

[2019-02-22 13:48] abhinandanbatra commented on #461
@JoostJM thank you so much, I will go through the code. Also, regarding my other questions I was able to find issue with entropy. Actually the pixel value in the image I am using is between 0 and 1. Due to which bin width of 25 I am currently using is too high. Can you recommend on how should I select the bin width?

[2019-02-22 14:03] JoostJM commented on #461
@abhinandanbatra, I'd guess somewhere between 0.01 and 0.1 (binWidth is a float value, so can be smaller than 1). See the FAQ section in the documentation on some tips on working with the bin width.

[2019-02-25 19:17] toddcreasy opened #469 "mask file question"
Hi,

First time user to image analysis and processing. I've used both dcm2niix as well as 3DSlicer to export dicom images to imaging formats that pyradiomics can use. However, it's not clear to me from the documentation what the "mask file" that must be included when running the utility.

I'm using DICOM image files from https://wiki.cancerimagingarchive.net/display/Public/LIDC-IDRI

Thanks

[2019-02-26 12:04] JoostJM commented on #469
The mask file is an image with the same size/geometry as the input image you've obtained from the DICOM image files. However, instead of pixel intensities, values of the individual pixels denote to which region of interest the corresponding pixel belongs, by assigning it a label value. Value of '0' denotes background (no ROI).

See also [here on the slicer wiki](https://www.slicer.org/wiki/Modules

[2019-02-26 12:06] JoostJM commented on #469
For further reading, I can recommend the [IBSI document](https://arxiv.org/pdf/1612.07003.pdf), which details a lot of the steps for Radiomic feature extraction (section 2.3 details segmentation).

Moreover, this paper gives a very nice overview of Radiomics and the challenges that may arrise:
Kumar V, Gu Y, Basu S, et al. Radiomics: the process and the challenges. Magn Reson Imaging. 2012;30(9):1

[2019-02-26 15:31] fedorov commented on #469
Specifically for the LIDC collection, it is already accompanied by the segmentations ("masks") of the nodules. Those are available in multiple representations, and you can learn more details from this preprint:

Fedorov A, Hancock M, Clunie D, Brochhausen M, Bona J, Kirby J, Freymann J, Pieper S, Aerts H, Kikinis R, Prior F. 2018. Standardized representation of the LIDC annotations using DICOM. Pe

[2019-02-27 07:34] huawenqing opened #470 "How to visualize the radiomics features?"
![default](https://user-images.githubusercontent.com/28468626/53473330-15b97000-3aa5-11e9-8377-7c00352b677f.PNG)
Like this.

[2019-03-05 09:09] johnyanchen opened #471 "Does the new version in the github still cant't be installed by pip?"
The new version of the source code in the current github  support 2 dimensional shape feature,but we install the version of pyradiomics  installed by pip is sitll 2.1.2 which doesn't support 2 dimensional shape feature.If the only method to install the latest vertsion is install by source?Thanks

[2019-03-05 09:10] johnyanchen commented on #471
The 2d shape feature can't be found in the document,by in the source code ,there is Shape2d.py

[2019-03-05 15:34] nwschurink opened #472 "Voxelwise featuremap misalignment"
When performing voxelwise feature extraction, the resulting featuremap has an offset compared to the original input mask.

I've used following parameter file
[code]

and following code

[code]

The result looks like a correct feature map, however when loading in 3DSlicer the feature map and original mask don't line up

![image](https://user-images.githubusercontent.com/12720130/53815032-219fa900-3

[2019-03-05 15:56] nwschurink commented on #472
I've also figured out that the YAML file doesnt get read correctly. In the results I find the following keys, which are clearly set differently than in the YAML file.

`('diagnostics_Versions_PyRadiomics', '2.1.2.post45+g49bda8c'), ('diagnostics_Versions_Numpy', '1.15.0'), ('diagnostics_Versions_SimpleITK', '1.1.0.dev362-gb3783'), ('diagnostics_Versions_PyWavelet', '0.5.2'), ('diagnostics_Versions

[2019-03-06 09:18] JoostJM commented on #472
@nwschurink The first error is indeed a misalignment error, this is specific for firstorder features and has been fixed in 64a3ab0

[2019-03-06 13:30] #472 closed

[2019-03-06 13:32] JoostJM commented on #471
@johnyanchen, that is correct. On pip, only the official releases of PyRadiomics can be installed, and the shape2D features were only added after that last release (next release is coming soon though).

[2019-03-06 13:37] JoostJM commented on #471
documentation for the shape2D features have now also been added to the online documentation

[2019-03-06 13:37] #471 closed

[2019-03-06 15:42] huawenqing commented on #470
I want to make a schematic diagram of radiomics features like the these three pictures, but I don't know how to do, is there some softwares can transform features into pictures.

[2019-03-11 06:32] JianJuly opened #473 "How can I set the parameters to get only the wavelet-LLH or wavelet-HLL features?"
In the case i do not need all the eight decompositions.
now i have my code as:
[code]

[2019-03-15 08:08] Saffron123456789 opened #474 "libc++abi.dylib: terminating with uncaught exception of type std::invalid_argument"
I can run the example, helloRadiomicsWithSetting.py, in a new project, but when I put it in Django frame, it stuck in "featureVector = extractor.execute(imageName, maskName)", and return "libc++abi.dylib: terminating with uncaught exception of type std::invalid_argument".
And I check the imageName and maskName which are right.
I debug it, and I found it will be break at this [line](https://github.

[2019-03-15 16:26] JoostJM commented on #474
We've had similar issues earlier, hence the fact that it is in a try-except construction.
However, in your case, it seems to fail with a different error.
Can you try to update the code on [these lines](https://github.com/Radiomics/pyradiomics/blob/8df119073d648add9ecd28be68d63d2564599523/radiomics/imageoperations.py#L392-L393)

to
[code]

[2019-03-16 07:46] Saffron123456789 commented on #474
Thanks, I had updated the code, but it didn't work, and still returned "libc++abi.dylib: terminating with uncaught exception of type std::invalid_argument". Do you have any suggestion about that?

[2019-03-18 12:52] JoostJM commented on #474
@Saffron123456789, Can you also try

[code]

If that doesn't work, you can try (in an interactive python session) to play around with
`cif = sitk.CropImageFilter()`, and try setting different types of sequences (e.g. list, array, tuple) for the function `SetLowerBoundaryCropSize` and `SetLowerBoundaryCropSize`.

[2019-03-19 10:27] JoostJM commented on #473
Currently, this is not possible in PyRadiomics. For each level, all decompositions are returned, the approximation is only returned for the last level.

[2019-03-21 23:00] CaB15 opened #475 "Bug in firstorder.py line 290"
I am very new to Pyradiomics and Pyton, so somewhat to my surprise I seem to have spotted a small bug in firstorder.py line 290. The example files do not run for the feature RobustMeanAbsoluteDeviation
The two lines related to problem are the following:
percentileArray[percentileArray - prcnt10[:, None] < 0] = numpy.nan
percentileArray[index2=percentileArray - prcnt90[:, None] > 0] = numpy.nan
The

[2019-03-22 10:00] JoostJM commented on #475
@CaB15, It is not really an error, though it does raise a `RuntimeWarning`

Still, it is a very nice fix and I'll implement it in the master (a7bed1d).

[2019-03-22 10:01] #475 closed

[2019-03-24 06:09] SJTUSWJ opened #476 "c1: fatal error C1083: 无法打开源文件: “radiomics/src/_cmatrices.c”: No such file or directory error: command 'C:\\Program Files (x86)\\Microsoft Visual Studio 14.0\\VC\\BIN\\x86_amd64\\cl.exe' failed with exit status 2"
(E:\Anaconda) C:\Windows\System32\pyradiomics>python setup.py install
E:\Anaconda\lib\distutils\dist.py:261: UserWarning: Unknown distribution option: 'project_urls'
  warnings.warn(msg)
E:\Anaconda\lib\distutils\dist.py:261: UserWarning: Unknown distribution option: 'long_description_content_type'
  warnings.warn(msg)
running install
running bdist_egg
running egg_info
writing requirements to pyra

[2019-03-24 06:11] SJTUSWJ commented on #476
The file radiomics/src/_cmatrices.c exists in  C:\Windows\System32\pyradiomics, in fact

[2019-03-25 07:49] JoostJM commented on #476
@SJTUSWJ I don't know what happend there. If you clone the package, the file mentioned should just be in the location it expects. I do not know how it ended up in C:\Windows\System32. Did you accidentally move the file?

[2019-03-27 01:57] foxet opened #477 "Will RadiomicsFeatures Extractor automatically standard image intensity range?"
Will RadiomicsFeatures Extractor automatically standard image intensity range?
image like CT has a very wide range? how to deal with before extract featrues?

[2019-03-27 03:44] bbbbb12345 opened #478 "How to specify the roi by name not by label?"
def execute(self, imageFilepath, maskFilepath, label=None, voxelBased=False):
param label: Integer, value of the label for which to extract features. If not specified, last specified label is used. Default label is 1.

When i do the batchprocess. I'm not sure if all the label.nrrd has the same roi order. How to specify the roi by name not by label?

[2019-03-27 09:06] JoostJM commented on #477
@foxet, depends on what context you're looking at.
for the calculation of texture features - yes, PyRadiomics always performs gray value discretization, using a fixed bin size (default) or fixed bin count (not recommended but possible). However, this applies the same type of (absolute) standardization to the image and is not intended to make images from different scanners more comparable (especial

[2019-03-27 09:07] JoostJM commented on #478
@bbbbb12345, i'm afraid I do not really understand your question, how is the ROI name defined in your usecase? If it's a file, it should be passed as the maskFilepath.

[2019-03-27 09:19] #473 closed

[2019-03-27 09:26] JoostJM commented on #443
fixed in 3efae04

[2019-03-27 09:26] #443 closed

[2019-03-27 09:26] #438 closed

[2019-03-27 09:28] #460 closed

[2019-03-27 09:28] #461 closed

[2019-03-27 09:28] #465 closed

[2019-03-27 09:28] #469 closed

[2019-03-27 09:31] JoostJM commented on #470
@huawenqing, If you extract segment based features, you only get a scalar value per feature/ROI. The examples you show are schematic images depicting the process of calculation and do not represent feature values. If you want to graphically visualize your extraced features for a dataset, consider using a heatmap.

If you extract features voxelwise, you can use 3D slicer to visualize them (I'd reco

[2019-03-27 09:32] #470 closed

[2019-03-28 08:04] bbbbb12345 commented on #478
@JoostJM ,sorry ,my english is so poor. In my case, the maskfile (*.nrrd) have 4 roi. I know i can specify which roi by setting "label" in execute(self, imageFilepath, maskFilepath, label=None, voxelBased=False).  But when i do the batchprocess thing, i can't guarantee that all the maskfile have the same label order.
For example, in case 1 maskfile there has 4 roi : GTV1, GTV2, GTV3, GTV4. iI case

[2019-03-28 09:04] JoostJM commented on #478
Do you have a mapping somewhere where you detail this? How do you know which roi number is which GTV?

[2019-03-28 16:38] bbbbb12345 commented on #478
@JoostJM I am sorry, what do you mean "mapping"? In slicer or fiji i can identify roi number to correct roi name.

[2019-03-28 17:00] fedorov commented on #478
@bbbbb12345 if you can define the correspondence between the ROI number and the type of ROI automatically by means of some convention you have in your data, then you can batch process it. When you say "in slicer i can identify roi number to correct roi name" - how do you do that in Slicer?

[2019-03-29 01:06] bbbbb12345 commented on #478
@JoostJM  I import the original data (*.dcm) and the  converted data(*.nrrd). Then i can identify roi's correspondence by checking roi definition in display window.
![QQ图片20190329085637](https://user-images.githubusercontent.com/38338385/55202293-cd0ae900-5201-11e9-8051-980245df49db.png)

[2019-03-29 13:44] fedorov commented on #478
If the only way to define correspondence is by visual inspection, then you simply cannot batch process your data.

However, since you are converting from DICOM RT, you might look into how to define that conversion process such that the output of the converter assigns type of the ROI as part of the file name, saving separate labels into separate files, or using some other means. If you haven't yet,

[2019-03-30 07:06] CJD-XC opened #479 "I don't quite understand Radiomic Features"
Hello, the author. You provided the calculation formula for the Radiomic Features.But I don't quite understand what you provide the source code to input, can you give me an example?Source code is radiomics. Firstorder. RadiomicsFirstOrder.I don't understand what the input is.I keep making mistakes with the image format that SimpleITK reads, and I don't know why.I thank you, whether you answer me o

[2019-03-31 01:34] CJD-XC commented on #479
I have solved it, thanks again for the author's source code. thank you.

[2019-03-31 02:05] #479 closed

[2019-04-01 01:18] bbbbb12345 commented on #478
Thank for your advice. I will try.

[2019-04-05 04:35] wiluber19 commented on #352
I have the same problem, but I don't found easyinstall.pth in radiomics folder.

print(os.listdir(os.path.dirname(radiomics.__file__)))
['__pycache__', 'features.py', '__init__.py']

for _, mod, _ in pkgutil.iter_modules([os.path.dirname(radiomics.__file__)]):
  print (mod)

features

could you advise me please

[2019-04-05 05:14] JoostJM commented on #352
@wiluber19, As you can see from the comments above, this is caused by the fact that you have installed some other package called radiomics. Uninstall (`pip uninstall radiomics`, `pip uninstall pyradiomics`) the other package and reinstall PyRadiomics.

[2019-04-05 06:48] wiluber19 commented on #352
@JoostJM You’re a lifesaver.

[2019-04-09 14:44] buaa3902 opened #480 "install error: Microsoft Visual C++ 14.0 is required"
Package is downloaded from git://github.com/Radiomics/pyradiomics directly. Then following the instruction for Windows:
cd pyradiomics ---------- done
python -m pip install -r requirements.txt ---------- done
python setup.py install ---------- error: Microsoft Visual C++ 14.0 is required
So do I need to install Visual studio 2019?

[2019-04-10 08:01] JoostJM commented on #480
Microsoft Visual C++ 14.0 is from Visual Studio 2015, which is needed to compile the C extensions. However, you can also install the C++ compiler separately, and which is available to download for free.

Alternatively, PyRadiomics is pre-compiled for Windows, Linux and Mac and available as on pypi (i.e. you can pip-install pyradiomics).

[2019-04-11 07:57] sha168 commented on #49
I’m trying to extract voxel-wise features from the original MR image and its wavelet transforms, but I’m struggling with enabling the “dynamicBinning”.

In my .yaml-file I have tried the following:

imageType:
  Original: {}
  Wavelet: {}
featureClass:
  glcm:
    - 'Autocorrelation'
    - 'JointAverage'
setting:
  normalize: true
  normalizeScale: 100
  interpolator: 'sitkBSpline'
  resampledPixe

[2019-04-11 08:18] sha168 commented on #49
Ok, thanks for the quick reply! Is the bug addressed in this issue [https://github.com/Radiomics/pyradiomics/issues/456](url) fixed in this branch?

[2019-04-11 08:52] JoostJM commented on #49
@sha168, I just rebased the branch on the current master, so if you've checked out the branch with commit af7f32b, then yes.

[2019-04-23 20:47] warkentinmatt opened #482 "Why would geometry mismatch occur when mask and image are derived from the same DICOM series?"
Hi,

For context, I have been able to successfully run PyRadiomics from the command-line, both for single image-mask pairs, as well as running batch extraction for tens of image-mask pairs simultaneously with various YAML configs. However, I have run into an issue that I know how to get around, but I'm still curious why it occurs.

The setup: I have a single patient DICOM series with 158 slices, e

[2019-04-23 21:59] fedorov commented on #482
This is because the default tolerance is too stringent. The easiest would be to enable resampling.

[2019-04-24 08:02] JoostJM commented on #482
@warkentinmatt It may also be possible to fix by enabling `correctMask`. This allows for resampling of the mask (nearest neighbor), without resampling the image. The only requirement is that the physical space of the mask is contained within the image.

What I suspect happened is that your mask has the same spacing/direction as the image, but size and origin are different, as Slicer now stores mas

[2019-04-24 08:17] #476 closed

[2019-04-24 08:17] #480 closed, assigned to nobody

[2019-04-24 16:08] warkentinmatt commented on #482
Thank you both for your responses.

@JoostJM So just to ensure I understand your comments, when Slicer exports/saves a NRRD label map, it crops the size to the extent of the ROI? It does not maintain the original dimensionality of the input volume? When I clear the scene in Slicer, re-import the DICOM series, and then load in the NRRD mask, the mask is superimposed on the CT in the proper anatomic

[2019-04-24 16:36] JoostJM commented on #482
Yes, this is possible, because Nrrd files also contain the origin, i.e. the physical location of the first voxel.
Nrrd also contains information on direction and spacing, allowing you to overlap even segmentations made on images with different pixel sizes or even ones that are rotated.
This is also the reason numpy arrays are not accepted as input to PyRadiomics, as these do not contain this geome

[2019-04-24 16:43] fedorov commented on #482
The mask can correspond to a sub-region of the image of the size of the mask bounding box. It does not need to have the same dimensions as the image. Whether dimensions match or not will depend on how you create the segmentation in Slicer, and how you export it. If you want more details how to ensure dimensions match, let us know.

Looking again over the error (first time I just glanced on the pho

[2019-04-24 20:26] warkentinmatt commented on #482
@JoostJM Thank you for your response again, very much appreciated.

@fedorov How would resampling the mask or image resolve the issue that Y is flipped in one relative to the other? This is not clear to me. My understanding was that resampling was used to ensure the same size/dimensions.

Yes, I would love more information on how to ensure dimensions match. Please and thank you.

In fact, I would

[2019-04-24 21:11] fedorov commented on #482
@warkentinmatt no worries about all the questions, it is a steep curve for a beginner!

Image directions is essentially a transformation that rotates coordinate system of the image array (IJK) to the anatomic space (XYZ).

In a simple 1D example below, "array index" is the coordinate system of your 1d array, and Left-Right is the coordinate system in the physical space of a 1d world. In Image2, th

[2019-04-25 20:17] fedorov opened #483 "JSON output for batch processing is not a valid JSON"
Currently, when `pyradiomics` script is used in the batch mode, and the input is more than one combination of image/mask, the output is a list of dictionaries, which is not a valid JSON document:
[code]

Should we revise this and instead output something like
[code]

@JoostJM what do you think?

[2019-04-26 05:41] JoostJM commented on #483
@fedorov, I agree,

While investigating this, I also discovered that JSON does not serialize numpy arrays by default. Therefore, I also added a custom serializer to deal with this (by converting to python list).

This is part of PR #481, commit 7f9e67c

[2019-04-26 05:41] #483 closed

[2019-04-26 16:30] warkentinmatt commented on #482
@fedorov Thank you very much for taking the time to explain these concepts, that was very helpful. It makes a lot more sense, and I appreciate your patience.

So it seems to me, that resampling has two important but distinct roles for ensuring the geometric alignment between two volumes:

1) First, if necessary, pad the smaller volume until it matches the same size/dimensionality of the reference

[2019-04-29 08:29] JoostJM commented on #482
@warkentinmatt, almost. Steps 1 & 2 happen simultaneously. What occurs is that you define a grid of points in physical space and then sample your image at those points. If the new gridpoints do not match exactly with existing grid points, new values are calculated using the interpolation algorithm, based on the surrounding (original) points (pixels) of the image.

You can also find an extensive ex

[2019-05-02 23:35] HongyiR opened #484 "pip release and tutorial problem"
In the notebooks and examples, the codes are all using `featureextractor.RadiomicsFeatureExtractor` (e.g. This [notebook](https://github.com/Radiomics/pyradiomics/blob/master/notebooks/RadiomicsExample.ipynb)). However, I installed via `pip install pyradiomics` (2.1.2 ver), and did the same thing, it throwed error saying `AttributeError: module 'radiomics.featureextractor' has no attribute 'Radiom

[2019-05-03 08:00] JoostJM commented on #484
@HongyiR This is because of changes made in pr #481, which has been merged with the master. We changed the name from `RadiomicsFeaturesExtractor` to `RadiomicsFeatureExtractor`, to better reflect the name of the module (`featureextractor`).

I will try to make a new release today, so that the pip wheel also reflects this change. In the meantime, if you change the name in your notebook, it should w

[2019-05-04 12:08] helderc commented on #412
I'm looking forward for this too...

[2019-05-05 11:05] mangguoxia opened #485 "Question about calculation of major/minor/least axis length in Shape features"
Why the principal component analysis can give a 3D axis length? Actually, when rotate the object, the result of least axis length is not correct. Does anyone known that？

[2019-05-06 08:04] JoostJM commented on #412
@helderc, as you can see in the referenced PR (#422), PyRadiomics is now available on anaconda. However, we've been experiencing some difficulties with the build for several distributions (mainly Linux, some Windows).

You can find the channel [here](https://anaconda.org/Radiomics/pyradiomics).
In the meantime, it is possible to pip-install PyRadiomics in anaconda.

[2019-05-06 11:39] helderc commented on #412
@JoostJM thank you.

Just to reference for others, I have installed pyradiomics (in Windows 10) via pip but all other dependencies (except pykwalify) were installed via conda...

Another thing is, the latest pyradiomics version use Python 3.6, if someone want to use it with Python 3.7 will need to install C++ compiler to build it from the source.

[2019-05-07 03:37] salan668 opened #487 "Export the texture matrix"
To extract the texture features, the image was converted to the texture matrix frist , such as GLCM matrix. Now the pyradiomics supports to export the texture feature maps. Is it possible to export the texture matrix in different directions as nrrd, nii, or npy format?

Thanks!

[2019-05-07 07:57] JoostJM commented on #487
Storing the feature classes as a result is not implemented in PyRadiomics. However, you can access them if you want

The texture matrices are stored as P_<classname> numpy arrays in the feature class instances, you can access them there (this does require you to use the feature classes directly, and skips part of the preprocessing, as that is called from the feature extractor).

Alternatively, you

[2019-05-08 01:24] mangguoxia commented on #485
@JoostJM

[2019-05-08 07:05] JoostJM commented on #485
@manguoxia, the PCA analysis does not give the 3D axis length. Rather, it is related to the axes of the enclosing ellipsoid.

I'm afraid I do not fully understand your question about rotation. What do you mean by "least axis length is not correct", what do you define as "correct"?

[2019-05-08 08:08] salan668 commented on #487
Thank you, JoostJM. It's very clear for me. :)

[2019-05-08 08:08] #487 closed

[2019-05-08 10:42] mangguoxia commented on #485
Thank you for your reply !
I generated a standard ellipsoid with three axis lengths of 60, 40 and 20, respectively.
I calculated the three axis length, the results are: major 53.63 /  minor 35.76 / and least 17.78
Then it is rotated at an angle(45° along X axis) in space.
After rotated the ellipsoid, I calculated the three axis length again, but I got a different result:
major 65.25 /  minor 52.41

[2019-05-09 02:05] mangguoxia commented on #485
The unit of the ellipsoid  is pixels. It's isotropic volume. The size of the image is 150*150*150 .
The ellipsoid has three axis lengths of 60, 40 and 20, respectively. I didn't consider the spacing of the image when generating the ellipsoid, just in pixel.
The images are saved with raw binary format.

[data.zip](https://github.com/Radiomics/pyradiomics/files/3159979/data.zip)

[2019-05-09 10:54] JoostJM commented on #485
@mangguoxia, Can you share the code you used to arrive at your results? I attempted to replicate your inconsistencies, but was unable to.

Here's what I did:

I first loaded the raw data file as a numpy array, and then stored them as NRRD images (PyRadiomics does not accept Numpy Arrays as input, as it requires geometric information.

When I then extract the shape features with PyRadiomics, I obta

[2019-05-09 11:02] JoostJM commented on #485
@mangguoxia, as to the reason why the maximum 3D diameter is about 61, instead of 60: This is due to how PyRadiomics sees the volume. Using a marching cubes algorithm, it constructs a triangel mesh representing the hull of the shape. The points of the triangles are always halfway between a voxel that is part of the mask and one that is not. Therefore, the edges is `.5 x spacing` higher and lower t

[2019-05-10 03:42] mangguoxia commented on #485
@JoostJM  Thank you for your reply!
I am very sorry that my mistake led to the wrong result.
But i find a new method to get a more accurate result of Major/Minor/Least length.
In my image, the results are 60.103 39.609 20.0 .
Here is the code https://github.com/joe-of-all-trades/regionprops3/blob/master/regionprops3.m
The difference is the usage of eigen vectors.
I think you can try this method to

[2019-05-17 03:46] warkentinmatt commented on #482
@fedorov @JoostJM I know this issue is closed, and I am deeply appreciative of all of the help both of you have provided. I just wanted to circle back to clarify my understanding. After doing a ton of reading through the resources you each provided, and watching a few helpful videos, I am much more comfortable with these concepts.

So in the example that spawned this issue, since the mask was deri

[2019-05-17 03:53] fedorov commented on #482
@warkentinmatt yes, this makes sense, I think you got it right!

Another useful resource related to resampling is this page: https://www.slicer.org/wiki/Registration:Resampling

[2019-05-17 04:23] warkentinmatt commented on #482
@fedorov Great. Thanks again for all your help.

This may not be the time or place, but it is my understanding that you are based out of Boston. Currently, I am PhD candidate in Toronto, but I am moving to Boston is two weeks for a research fellowship in the Department of Biostatistics at the HSPH. I would love to connect in-person and perhaps continue some of these conversations, if you would be

[2019-05-17 19:31] warkentinmatt commented on #423
@fedorov Can I bring this issue back from the grave? I am also trying to use plastimatch to convert from a RTstructure set to a label map in either NIFTI or NRRD format. No preference.

In order to ensure the label map has the same geometry as the CT, I am passing a reference CT, as you describe but I still get curious results (at least, in my mind).

Here is my general coding approach:

`plastima

[2019-05-17 19:45] warkentinmatt commented on #423
@fedorov Let me save some time by saying I think I was using the wrong output option with plastimatch. I changed to:

`plastimatch convert --input structure.dcm --output-labelmap image.nii --referenced-ct /directory/to/dicomseries`

However, the rest of the issues/questions still apply. The plastimatch log is essentially the same as above. Spacing still seems to change. Also, can't superimpose the

[2019-05-20 02:40] cpuxzb opened #488 "correspondence of the image and label format"
can i use the ‘.dcm’ of the image and the ‘.nrrd’ of mask？

[2019-05-21 21:20] JoostJM commented on #488
@cpuxzb, depends on your type of data. If your .dcm image is the only image file then yes. If it's part of a series consisting of multiple slices then you'll have to first convert your dicom series to a single-file format like niftii or nrrd (you could use dcm2niix for this).

PyRadiomics supports the image formats supported by SimpleITK. In fact, it reads the files separately and stores it in Sim

[2019-05-23 05:16] destinybuilt commented on #488
But I did not see support for the dicom format in the official documentation of SimpleITK.

[2019-05-23 12:13] pieper commented on #488
Right, Joost is saying you use a tool like dcm2niix to convert dicom to
something SimpleITK can read.

On Thu, May 23, 2019 at 1:16 AM destinybuilt <notifications@github.com>
wrote:

[2019-05-23 12:21] cpuxzb commented on #488
Thank you for your reply.It‘s very helpful to me，i will try it.

[2019-05-23 16:45] fedorov commented on #482
Sure, happy to connect and learn more about how you use pyradiomics! Just send me email (it's public on my github profile), and we can meet for coffee.

[2019-05-27 10:37] ylmzkaan commented on #436
I have a 3D image with dimensions [491 341 258] (After cropping). I set the binwidth to different values from 25 (166 bins) to 500 (10 bins) but I still get "RuntimeError: Number of elements in GLCM would overflow index variable! Increase bin width or decrease number of angles to prevent this error."

I make my calculations for distances = [[1]]. It looks like it results in 13 different angles by

[2019-05-28 09:34] JoostJM commented on #488
@cpuxzb, the `xxxx_image.nii` file is the one that goes into "Image" input, and `xxxx_label.nii` file goes into "Mask" input. PyRadiomics actually requires you to have a single image file AND and single mask file to extract features. Combined with the label parameter ("Label" input) (identifying which voxels in the mask file indicate the desired ROI), this represents one "case".

In batch mode, mu

[2019-05-28 09:40] JoostJM commented on #488
@destinybuilt, @pieper, As far as I know SimpleITK does read DICOM files without issue, even if it doesn't have the '.dcm' extension (I assume it checks the DICM preamble in the file to check if it's a valid dicom). However, this can only read a single file at a time and therefore should not be used for reading 3D volumes.

Moreover, SimpleITK does also have a dicom series reader, where you can pa

[2019-05-28 11:58] pieper commented on #488
There is code in [ITK](https://itk.org/Doxygen/html/classitk_1_1GDCMSeriesFileNames.html
), to do some sorting of dicom files by position and orientation, and it's [exposed in SimpleITK](https://simpleitk.readthedocs.io/en/master/Examples/DicomSeriesReadModifyWrite/Documentation.html).  But it only handles some general cases, like an equally spaced set of CT slices.  So it can be very confusing fo

[2019-05-29 09:24] destinybuilt commented on #339
How to convert tif image (RGB) into grayscale image？

[2019-05-29 09:53] JoostJM commented on #339
@destinybuilt, PyRadiomics has since been upgraded and now also supports 2D input. Therefore, the addition of the 3rd dimension is no longer necessary.

However, PyRadiomics does still require a scalar datatype. Your example constitutes one way of dealing with this (extracting features for channels separately). You can also put this in a loop to extract for all channels:

[code]

Alternatively, yo

[2019-05-29 11:33] destinybuilt commented on #339
Thank you for your reply!
Maybe I should explain to you the purpose of applying pyradiomics to tif images: I want to extract all the features of the tif image...not just the first-order features; I use matlab to read the tif file (info = Tiff('path /to/image.tif', 'r');)， read my image and mask (I already have a mask file so I don't need numpy to generate the mask) are 2D RGB files; see this post

[2019-05-29 12:21] JoostJM commented on #339
You can apply the following code, it will extract features for each channel in the image, and use the first channel in mask to get the mask (I assume all 3 channels in the mask are identical).
If your image is grayscale, you can extract from 1 channel (e.g. channel 0), as all channels are the same.

Finally, I'd advise using a parameter file. The documentation for this is [here](https://pyradiomic

[2019-05-29 12:55] destinybuilt commented on #339
@JoostJM Thank you very much, I will run your code a bit, but it will still report an error. The error is:
RuntimeError: Exception thrown in SimpleITK VectorIndexSelectionCastImageFilter_Execute: c:\d\vs14-win64-pkg\simpleitk\code\common\include\sitkDualMemberFunctionFactory.hxx:214:
Sitk::ERROR: Pixel type: 8-bit unsigned integer is not supported in 2D byclass itk::simple::VectorIndexSelectionCas

[2019-05-29 13:06] JoostJM commented on #339
Try this

[code]

[2019-05-29 14:59] ylmzkaan opened #489 "RuntimeError: Number of elements in GLCM would overflow index variable!"
I know this has been discussed in #436  but the proposed solution did not solve the problem.

I have a 3D image (stack of 2D dicoms) with dimensions [491 341 258] (After cropping). I set the binwidth to different values from 25 (166 bins) to 500 (10 bins) but I still get "RuntimeError: Number of elements in GLCM would overflow index variable! Increase bin width or decrease number of angles to prev

[2019-05-30 00:12] destinybuilt commented on #339
@JoostJM It still reports an error....

TypeError: execute() got an unexpected keyword argument 'label_channel

The following is the image and mask I shared with Google Cloud Drive：
[https://drive.google.com/file/d/1tEj9AwFzrh_j-rjQtXeb_7bf5HN8BP5U/view?usp=sharing
https://drive.google.com/file/d/1uvrwiKjDuhiKWpLoHnO8wZsdLRZn2jOY/view?usp=sharing
https://drive.google.com/file/d/1Xfycu5EXFezEq6DXVu

[2019-05-30 00:22] destinybuilt commented on #339
@JoostJM  The following is the image and mask I shared with Google Cloud Drive:

https://drive.google.com/file/d/1tEj9AwFzrh_j-rjQtXeb_7bf5HN8BP5U/view?usp=sharing
https://drive.google.com/file/d/1uvrwiKjDuhiKWpLoHnO8wZsdLRZn2jOY/view?usp=sharing
https://drive.google.com/file/d/1Xfycu5EXFezEq6DXVu1THHbPKh-Jnp9V/view?usp=sharing

[2019-06-06 06:44] destinybuilt opened #490 "Question about GLCM in pyradiomics"
When I use pyradiomics to extract features, I get the following warning:
GLCM is symmetrical, therefore Sum Average = 2 * Joint Average, only 1 needs to be calculated
Should I pay attention to this warning and find a way to solve it?

[2019-06-06 13:13] JoostJM commented on #490
No, it is just a warning to alert you of the fact that the in this case, joint average and sum average are 100% correlated. So no error, just a notification.

[2019-06-06 13:14] #490 closed

[2019-06-08 18:02] mudithauoc opened #491 "'logger' is not defined"
I'm getting this error while trying to run featureextractor.py with US image and mask currently in jpg format. Can you please advice me on this

line 64, in __init__
    logger.info('No valid config parameter, using defaults: %s', self.settings)
NameError: name 'logger' is not defined

[2019-06-11 14:32] JoostJM commented on #491
@mudithauoc, can you share the script you are using? I looked up the line in the source code, and logger should be defined by then. Only if the variable was deleted could it throw this error.

Moreover, what is the specific version of pyradiomics you are useing (cmdline: `pyradiomics --version`)

P.S. Since you are using jpg image and mask, did you implement code to select the correct color channe

[2019-06-11 14:35] JoostJM commented on #489
@ylmzkaan, sorry for the late reply.

The error message simply means that the size of your GLCM would exceed 2^32! Decreasing the bin width should fix this, and the number of bins does not seem to be too much. However, I cannot reproduce your error as I don't have access to your data.

Can you share an example image/mask + parameter file for debugging?

[2019-06-11 14:36] #488 closed

[2019-06-12 09:14] cpuxzb opened #493 "which feature is the area of marked region"
I used the default setting as you set.
(1)I want to know which feature is to caculate the area of the marked region?the getMeshSurfaceFeatureValue() for Mesh Surface in Shape Features (2D)?
(2)In "radiomics_features.csv" file,is the "original_shape_SurfaceArea" column show the area of marked region?or the another one.
I am very grateful if I get your answer.

[2019-06-12 09:23] JoostJM commented on #493
@cpuxzb What is your input data? Is it 2D or 3D?

Ad 1) They are the same, `getMeshSurfaceFeatureValue()` is the python function that is called to calculate `MeshSurface` feature (as you can see in the documentation).
Ad 2) This is the **3D** surface area and therefore different from `MeshSurface` (implemented in shape2D)

[2019-06-12 11:03] cpuxzb commented on #493
@JoostJM  Thank's  for your reminding,I used the 3D input data.
And,I want to  know what the "they are the same" mean.In "Shape Features (3D)",I find "getSurfaceAreaFeatureValue()".In "Shape Features (2D)",I find "getMeshSurfaceFeatureValue()".The "same" mean this two functions?
If I i use 2D input data,I wil get the similar column as "original_shape_SurfaceArea" for 2Dsurface area.

[2019-06-12 11:23] cpuxzb commented on #493
Dear professor:
     Thank's for your reminding,I used the 3D input data.And,I want to know what the "they are the same" mean.In "Shape Features (3D)",I find "getSurfaceAreaFeatureValue()".In "Shape Features (2D)",I find "getMeshSurfaceFeatureValue()".The "same" mean this two functions?
      But,I use 2D input data,I still just find the  column  "original_shape_SurfaceArea" .The annexs are the im

[2019-06-12 12:33] JoostJM commented on #493
@cpuxzb

The functions between shape 2D and 3D are not the same, but are in way related:
 shape tries to describe the mask as a 3D volume, and features reflect the volume, the surface area spanning that volume ( **like a sphere** ) and how the volume relates to a sphere

shape2D tries to decribe the mask as a 2D surface, and features reflect the surface area and the perimeter spanning that surface

[2019-06-12 12:56] cpuxzb commented on #493
@JoostJM Thank you for your reply to solve my doubt.I have realize the difference.
I use 2D input data,I still just find the  column  "original_shape_SurfaceArea".I have not find the reason.

[2019-06-13 06:14] JoostJM commented on #493
@cpuxzb, if you want shape2D features, you need to enable that feature class and disable the shape feature class. Moreover, you need to set parameter `force2D=True` and `for2Ddimension` to the (x, y or z = 0, 1 or 2) dimension that has size=1. This is because the input data is 3D, so PyRadiomics needs to know in which dimension it can be treated as 2D.

[2019-06-13 06:56] cpuxzb commented on #493
@JoostJM Thank you for your reply.You have solved my question.I will try later.

[2019-06-13 14:39] ylmzkaan commented on #489
@JoostJM thank you very much for your reply, no problems.

Here is the function that I use to calculate joint entropy and inverse difference moment of a 3d array dicomSlices with its mask. The link below has the dicomSlices.npy and mask.npy that I use and for you to reproduce the error.

https://www.dropbox.com/sh/6awoo221l25ttnk/AABzjRxL25RXfqYJepCcWN32a?dl=0

[code]

[2019-06-13 15:15] JoostJM commented on #489
@ylmzkaan, You can decrease param `voxelBatch` (default 10000). Set it to something like 100 or so, that should fix your problem (though the extraction may take a little longer...

[2019-06-13 15:16] JoostJM commented on #489
i.e. add `params["voxelBatch"] = 100`

[2019-06-13 18:09] abhinandanbatra opened #494 "complex pixel types currently are not supported"
Hey I am trying to use fat water maps to generate textures, Bbut when I try to get an array from image. I am getting an error "complex pixel type are currently not supported". Will appreciate help?

[2019-06-14 06:58] huawenqing opened #495 "Does the image processing clip the intensities to excluding extreme values?"

[2019-06-14 07:58] JoostJM commented on #495
Only if you set the `resegmentRange`, check the customization section in the online documentation for details.

[2019-06-14 07:58] #495 closed

[2019-06-14 08:03] JoostJM commented on #494
Apparently, your images have a complex pixel type (i.e `x+iy`), what images are you trying to get an array from? SimpleITK should be able to load them. You can then get the Real component using SimpleITK's [ComplexToRealImageFilter](https://itk.org/SimpleITKDoxygen/html/classitk_1_1simple_1_1ComplexToRealImageFilter.html). The resultant image should be accepted by PyRadiomics.

[2019-06-14 09:02] ylmzkaan commented on #489
Thank you for the fix! Is it possible to store the GLCM index in an INT64? Would you plan to change that in a future version?

[2019-06-14 09:10] JoostJM commented on #489
Yes, I'm currently working on making the range of the index variables larger.

[2019-06-14 09:10] #489 closed

[2019-06-14 09:18] JoostJM commented on #489
@ylmzkaan, Looking at your script, there are some small notes I'd like to point out

1. you pass your image and mask as arrays, then get an image from that array. However, this does NOT take spacing into account, so be aware that this just assumes your dicom slices have spacing [1, 1, 1]!
1. you are using feature classes directly, which skips a lot of checking and preprocessing done by PyRadiomics

[2019-06-14 15:27] abhinandanbatra commented on #494
Hi @JoostJM , I am using water and fat maps to get array from. I think you are right I can use complex to real image filter. I will let you know if I have any issues. Thank you very much

[2019-06-17 03:37] cpuxzb commented on #493
@JoostJM Sorry to bother you again, professor.
I want to know

[2019-06-17 06:52] cpuxzb commented on #493
Dear Professor：
    I am very sorry to bother you again.I still have some problems about the setting of shape2D features.
    I have set parameter force2D=True and for2Ddimension to the (x, y or z = 0, 1 or 2) dimension that has size=1.You can see the setting in the annex.But I get a ScannerError which show in the annex.
It seems that I do the wrong setting and have no idea to solve it.Could you g

[2019-06-17 08:03] JoostJM commented on #493
@cpuxzb, I don't see any attachments, sorry. Can you upload them directly on github?

[2019-06-17 08:14] cpuxzb commented on #493
@JoostJM I am very sorry to forget the attachment.
The setting anderror screenshoot are showed at the following website.
https://github.com/cpuxzb/PyRadiomicsQuestion

[2019-06-17 08:28] JoostJM commented on #493
You have added the settings as keys in the featureclass. However, this will not work, as the value of a feature class can only be a sequence describing which features to extract.

Try this (for 2D shape features):

[code]

[2019-06-17 08:31] cpuxzb commented on #493
Thank you for your reply to solve the rookie's problem .

[2019-06-17 08:32] #493 closed

[2019-06-19 03:36] destinybuilt opened #497 "Pyramiomics problem based on anaconda"
I installed anaconda 5.2.0 (python version 3.6.5), then run "python -m pip install pyradiomics==2.1.2" code in Anaconda Prompt, then I put brain1_image.nrrd and brain_1label.nrrd In the sample code, the result of running the error is reported... How to solve it? (Before I installed Anaconda4.2.0, the python is 3.5.2 version number, and this problem does not occur)
The following is the error messag

[2019-06-19 05:18] JoostJM commented on #497
This feature has only been added in version 2.2.0 (see [release](https://github.com/Radiomics/pyradiomics/releases). It has been added in PR #445.

If you install the latest release it should work.

Moreover, looking at your code you can also remove `label_channel=0`, as it has no effect (mask ensured to be scalar by your if function).

[2019-06-19 05:18] #497 closed

[2019-06-19 16:54] samulic opened #498 "Comparison with IBSI features on phantoms"
Hello, I'm doing a project on radiomics and I've been trying to compare the results of the features calculated with pyradiomics with the ones reported in the IBSI guidelines on their [CT phantom data](https://github.com/theibsi/data_sets) so that I can be sure I am using this great tool in the proper way.
However after a few weeks reading the documentation and various questions already asked here,

[2019-06-20 06:17] JoostJM commented on #498
Hello Gabrielle,

We've investigated this previously (PyRadiomics is also part of IBSI).
There are differences between the IBSI benchmarks and PyRadiomics results, but these differences have been tracked down. Most notably are the differences in gray value discretization (just for the fixed bin size type) and resampling. These differences cannot be corrected by customization settings alone and req

[2019-06-20 06:30] JoostJM commented on #498
@samulic, on a side note, please review your system settings with regards to decimal point. In your results table, it appears that the decimal character has been lost (happens when importing a csv file an system decimal character = `,`, causing the true `.` decimal character to be ignored).

PyRadiomics results files ALWAYS use a `.` as the decimal character, regardless of system settings.

[2019-06-20 06:39] JoostJM commented on #498
In your notebook, you state;

What exactly do you mean here? IBSI NGLDM is implemented in PyRadiomics as GLDM, and the alpha parameter can be set using `gldm_a`. Both IBSI and PyRadiomics NGTDM do not define an alpha parameter.

[2019-06-20 09:45] mehdializade opened #499 "ImportError: cannot import name 'deprecated'"
Hi everybody. I have an error in "hellofeatureclass": ImportError: cannot import name 'deprecated' ...

[2019-06-20 09:49] mehdializade commented on #499
Hi everybody. I have a error in "hellofeatureclass": ImportError: cannot import name 'deprecated' ...

[2019-06-20 09:57] JoostJM commented on #499
Can you add a stack trace? 'deprecated' is not used in helloFeatureClass directly.

It is defined in the `radiomics` global namespace.
So, `from radiomics import deprecated` should work.

Still, in the past we have had similar issues from users, where e.g. `from radiomics import featureextractor` failed. This was due to these users having a different python package named `radiomics` installed.

[2019-06-23 13:32] mehdializade commented on #499
Thank you for your help.
The problem was solved by installing "get-pip.py" and update numpy.

[2019-07-03 15:33] OnkarMulay10 opened #502 "Python command not found"

[2019-07-03 15:34] OnkarMulay10 commented on #502
while python -m pip install ..... command
I get an error of python command not found

[2019-07-03 15:36] fedorov commented on #502
Did you install python?

https://realpython.com/installing-python/

[2019-07-04 00:46] mingxilei opened #503 "Raising error when enabling deprecated features"
Raising AttributeError instead of not interrupting other feature extraction.
A small problem but it is better to fix.
I guess `deprecatedFeature.message` should be changed to `deprecatedFeature.args[0]`

Traceback (most recent call last):
  File "C:\Users\mingx\Anaconda3\lib\site-packages\pyradiomics-2.2.0.post5+g3c0708a-py3.7-win-amd64.egg\radiomics\base.py", line 241, in _calculateFeatures
    y

[2019-07-04 12:30] OnkarMulay10 commented on #502
Yes I have installed 3.4 version
In git when I type python --version it gives ans.

Firstly error was
Bash:python command not found.  I changed directory then it worked

Now it's
Bash: pip command not found.

I'm not able to download even numpy
After giving command of
Python -m requirements.txt........

Can u please help me??
On Wednesday, July 3, 2019, Andrey Fedorov <notifications@github.com> wr

[2019-07-04 21:36] marufmore commented on #502
use
`pip install numpy`

on your command prompt

[2019-07-04 21:36] marufmore commented on #502
or rather still uninstall your Python and start afresh

[2019-07-07 03:30] OnkarMulay10 commented on #502
Pip command is not only getting recognised
Command not found it says

On Friday, July 5, 2019, Maruf Adewole <notifications@github.com> wrote:

--
Onkar

[2019-07-09 11:02] JoostJM commented on #502
@OnkarMulay10, did you ensure python was added to your PATH environment variable?

[2019-07-09 11:07] #503 closed

[2019-07-09 16:34] Vir-Mittal opened #504 "Question about mask file input"
Is it possible to directly input the newly generated mask file into the pyradiomics extractor, instead of providing a path to the mask file?

I know it works with SimpleITK objects, but I have a nifti (.nii) file and I get an error (Error reading mask Filepath or SimpleITK object) when providing the nii file directly to the extractor.

[2019-07-10 08:06] JoostJM commented on #504
A niftii file is a file format and not an image object in python. Conversely, SimpleITK image object are not a file format but a representation of an image loaded in the RAM.

As to supplying a mask to PyRadiomics, it can either be provided by a string pointing to a file (e.g. a niftii file) that can be loaded by SimpleITK as an image, or it is already a SimpleITK image object. Have you tried to l

[2019-07-10 14:05] #499 closed

[2019-07-10 14:25] #474 closed

[2019-07-10 18:27] Vir-Mittal commented on #504
Thank you for the help, using a SimpleITK object to load the mask works

[2019-07-10 18:27] #504 closed

[2019-07-11 05:55] Yukti-09 commented on #303
I have a similar issue.
I am facing a memory error when I try to run my model. I am sending 6500 images to train with 7 captions each.
I am using Ubuntu.

[2019-07-11 08:06] JoostJM commented on #303
@Yukti-09, which specific version of PyRadiomics are you using? what parameters? How much RAM does your system have?

[2019-07-11 08:22] Yukti-09 commented on #303
Not using pyradiomics

[2019-07-15 16:34] durgeshkdwivedi commented on #242
Hi Joost and Andrey,
I'm also having a similar issue. I'm extracting radiomics feature from DICOM images and it's a 2D MR image (jus a single slice). All features were extracted except the 'shape based 2D' features. However, as usual by default 'shape based 3D' features were extracted in my dataset
Do I need to extract 2D shape based separately (which is not easy as I'm not able to Force turned on

[2019-07-15 16:46] durgeshkdwivedi commented on #242
Hi Joost and Andrey,
I'm also having a similar issue. I'm extracting the radiomics feature from DICOM images and it's a 2D MR image (just a single slice with 10 mm thickness, and one ROI on the image). All features were extracted except the 'shape based 2D' features. However, as usual by default 'shape based 3D' features were extracted in my dataset
Do I need to extract 2D shape based separately (

[2019-07-17 04:15] bbbbb12345 opened #505 "How can i calculate the specific ROI（region of interest）？"
I need get the features about normal tissues(such as rectum bladder etc). I had calculated features by 3D slicer. The results only have GTV1 and GTV2(only the ROI which  has been defined as target).
Any suggestions could be grateful.

[2019-07-17 14:15] fedorov commented on #505
You can use Slicer SegmentEditor module to define any number of ROIs. Radiomics module will extract features for all regions of the Segmentation node that you specify in the interface.

[2019-07-18 03:08] bbbbb12345 commented on #505
Your answer is very helpful! Thx!

[2019-07-18 03:08] #505 closed

[2019-07-18 06:20] omaghsoudi commented on #490
This warning is useful to know what happens; however, is there anyway to turn it off?
Printing this warning slows down the code!

Thank you!

[2019-07-18 13:59] fedorov commented on #490
@omaghsoudi you should be able to control that using the following arguments to the command-line extractor. The message you mention is a warning. By reducing the level of verbosity you should be able to disable printing of the warnings to the console.

[code]

[2019-07-18 16:56] omaghsoudi commented on #490
Is there any way that I can turn it off when I load the pyradiomics feature extractors?

I use it as follow:
from radiomics import firstorder, glcm, ngtdm, gldm, glrlm, glszm

I need to turn off verbose for these features families.

[2019-07-18 17:07] fedorov commented on #490
If you use pyradiomics programmatically, you should be able to do something like this (see comments in https://github.com/Radiomics/pyradiomics/blob/master/radiomics/base.py#L22-L23):

[code]

I have not tested this, but I think something like this should work.

[2019-07-18 18:52] omaghsoudi commented on #490
As you said, it resolved the issue.

Thank you!

[2019-07-23 11:37] cpuxzb opened #507 "For Image/Mask geometry mismatch,is it suitable to set geometryTolerance too large？"
For a patient,I get a series of original dicom image.After using the ITK-SNAP software to label the original dicom image,I get one labeled file(file format is nii)(called label.nii).I use the dcmtonii softeare to convert the mass of original dicom image to one nii file(called image.nii).
When I use the 'image.nii' and 'label.nii' to extract radiomic features,I get the following ValueError.
'Image/

[2019-07-23 11:52] cpuxzb opened #508 "How to process the TCIA data,so that I can use the pyradiomics?"
I downlod the image data form TCIA.
For one patient,the original images are a series of dicom images.The corresponding labeled file is one dicom file.I can use 'dcm2nii' transfer the original file to one file,but I failed to do so on  the labeled file.
What should I do,if I want to analyse the TCIA image data?

[2019-07-23 14:44] fedorov commented on #507
First, you should load .nii files for the image and the mask into a software that is known to recognize spacing/orientation - we recommend [3D Slicer](https://slicer.org).

Once you confirm the label is in the right place, probably the easiest way to handle this situation is to enable resampling - see this entry of the documentation: https://pyradiomics.readthedocs.io/en/latest/faq.html?highlight=

[2019-07-23 14:48] fedorov commented on #508
What is the modality of the DICOM segmentation file?

You can check that by using [dcmdump](https://support.dcmtk.org/docs/dcmdump.html), and then checking the line that says "Modality". You can find the binary packages of this tool here: https://github.com/QIICR/atom-dicom-dump#install-dcmtk-andor-gdcm (you can also use that package if you want to look at DICOM files more conveniently from Atom e

[2019-07-26 00:35] fedorov commented on #242
I think if your image has just one slice, it should be the same, but I can't tell for sure.

To force 2D extraction, you can use `force2D` setting, see https://github.com/Radiomics/pyradiomics/blob/master/examples/exampleSettings/exampleMR_NoResampling.yaml#L68-L72.

Does this answer your question?

[2019-07-28 23:47] durgeshkdwivedi commented on #242
I think so. Thanks Andrey!

[2019-07-30 18:55] OnkarMulay10 commented on #502
good evening,
I want to know that to practise radiomics from where will i get dataset?
for example: on the site of radiomics where "testcase":- Brain 1 is given
...
I would like to know more of these dataset names??
Please it would of great help.

On Tue, Jul 9, 2019 at 4:32 PM Joost van Griethuysen <
notifications@github.com> wrote:

[2019-07-30 18:56] OnkarMulay10 commented on #502
good evening,
I want to know that to practise radiomics from where will i get dataset?
for example: on the site of radiomics where "testcase":- Brain 1 is given
...
I would like to know more of these dataset names??
Please it would of great help.

On Fri, Jul 5, 2019 at 3:06 AM Maruf Adewole <notifications@github.com>
wrote:

[2019-07-31 03:06] destinybuilt opened #509 "How to image preprocess the MR sequence medical image?"
Can pyradiomics implement image preprocessing for MR? And is there a literature on the basis for the introduction of image preprocessing and the preprocessing method?

[2019-08-01 12:35] destinybuilt opened #510 "Question about "No label object with label 1.""
When I run pyradiomics for feature extraction, I always report an error----"No label object with label 1". How should I check if the mask is wrong? And what software and functions should be used to fix this mask?

[2019-08-01 12:40] destinybuilt commented on #510
This is a image:
[https://drive.google.com/file/d/12sHa_m0HXQgVeL0FvK31rmrjj-mmIA8v/view?usp=sharing](url)

This is a mask:
[https://drive.google.com/file/d/188n-gB09e3Cxal6EQ_b-3cdhTVFQO8As/view?usp=sharing](url)

[2019-08-01 15:14] fedorov commented on #510
You can use 3D Slicer (https://slicer.org) to visualize the label and confirm it is in the right place, and what is the label value.

Once you know what is the pixel value for the label, you don't need to fix it to be 1. Instead you can use the parameter settings file to specify the label value: https://github.com/Radiomics/pyradiomics/blob/master/examples/exampleSettings/Params.yaml#L22

You can

[2019-08-01 15:17] fedorov commented on #509
There are various options you can change to control preprocessing of the image prior to feature extraction, such as normalization, which are documented here: https://pyradiomics.readthedocs.io/en/latest/customization.html#settings.

You can see an example parameter file for MR images here: https://github.com/Radiomics/pyradiomics/tree/master/examples/exampleSettings.

One introductory resource for

[2019-08-01 15:18] fedorov commented on #491
@mudithauoc were you able to resolve this issue?

[2019-08-02 09:46] hwoodruff opened #511 "Something is not right with MRI normalization"
We are doing some comparisons between different radiomics SW and came across some troubling results for features extracted before and after normalization (z-score) of MRI volumes (3D ROI breast tumour) . Briefly stated, the only features that should change are stats features since those represent actual voxel values which of course will change. Features derived from matrices (texture, etc) should

[2019-08-02 13:31] fedorov commented on #511
Thank you for reporting this - we would definitely like to look into this! @JoostJM, the lead developer of pyradiomics, is currently on vacation. We will get back to you after we have a chance to discuss together as a team.

To help us reproduce the issue, can you please answer the following:
* was this issue specific to the dataset you used in your experiments, or it is happening consistently for

[2019-08-02 19:32] mingxilei opened #512 "Version 2.2.0 c code potential bug of calculating NGTDM and GLDM"
Hi,

I calculated the texture matrices of the digital phantom of IBSI and Pyradiomics seems to give me incorrect NGTDM and GLDM.
Pyradiomics with version 2.1.2 or lower gave correct ones and matched the benchmark matrices, however.

Version 2.2.0:
NGTDM
[[[0. 0. 0. 0. 2. 3. 1. 5. 4. 6. 6. 5. 2. 2. 5. 3. 3. 2. 1.]
  [1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
  [0. 2. 0. 2. 6. 4. 2.

[2019-08-02 19:37] fedorov commented on #512
Thank you for the report! We will discuss when @JoostJM is back from vacation!

[2019-08-07 12:50] hwoodruff commented on #511
HI,
Below the answers to your questions, and the results of some further investigations:

was this issue specific to the dataset you used in your experiments, or it is happening consistently for any dataset?
For now we only have investigated this problem in our specific dataset

were you using the standard pyradiomics command line or you have a custom code?
We used the standard Pyradiomics script

[2019-08-07 15:54] fedorov commented on #511
@hwoodruff you did not attach the script you used.

Now that you clarify the details, I am not sure I agree with you that texture features should not change after resampling. Resampling changes both the image matrix and intensities, and I would actually expect the texture features to change. Can you please explain why you believe the features should remain constant?

I believe this kind of issue i

[2019-08-12 07:47] edoelas opened #513 "error when analyzing single color images"
I have been using this library for analizing stone textures (is the best library I have been able to found for this purpose) and some of them where fake textures generated by computer. Two of the textures I analized where completely smooth, just one gray color. When trying to extract features from this images I got a weird error and at the end the way I solve it was to add 1 to the gray value of t

[2019-08-12 08:07] JoostJM commented on #242
@durgeshkdwivedi, there are some marked differences in the formulas. most notably the sphericity etc, in 3D, it is compared to a sphere, in 2D to a circle.

For example, if you have a ROI of a perfect sphere in 2D, the shape 2D will reflect is as being most compact. In 3D, the ROI is interpreted as a sort of flat disc, which is less compact than a sphere.

[2019-08-12 08:13] JoostJM commented on #490
Alternatively, you can selectively filter out warnings of a certain type (in this case, `DeprecationWarning`):

[code]

[2019-08-12 08:17] JoostJM commented on #502
In PyRadiomcis, there are 5 example images, which are uploaded as extra files in the first release. These images have both 3D and 2D segmentations, and if you use the PyRadiomics function `radiomics.getTestCase()`, it will download the requested image from github and store it in your temporary files (if not already done so). Finally, the function returns the path for the image and mask.

[2019-08-12 08:21] JoostJM commented on #510
@destinybuilt, for some reason, the segmented voxels in your mask file have a value of 0.00392.

You can fix this in python:

[code]

[2019-08-12 12:35] JoostJM commented on #512
@mingxilei Thanks for the report! This was indeed an issue (and as such, still is for version 2.2.0), but has since been corrected in the latest version (fix is implemented by #500).

This bug was caused by PR #463, which changed the C-Extensions to allow for N-dimensional input arrays. This changed how PyRadiomics defines a neighbor when iterating over an image for the texture matrices. Here, PyR

[2019-08-12 12:35] #512 closed

[2019-08-13 19:30] shuo0220 opened #515 "How does slicer process the DICOM RTSTRUCTURE for pyradiomics"
@fedorov
Hi Dr. Fedorov, I'm wondering what slicer does to process the DICOM RTStructure for pyradiomics.
I'm asking because I was using dcmrtstruct2nii (https://pypi.org/project/dcmrtstruct2nii/) to convert dicom rtstructure to a nii file, and used dcm2nifti to convert the dicom CT image to a single nii file. When I calculated using pyradiomics directly on these nii files, i found some of the fea

[2019-08-13 19:55] fedorov commented on #515
When you are reading DICOM RTSS in Slicer, reconstructions is handled by the SlicerRT extension. If I understand correctly, SlicerRT is using plastimatch for reading DICOM RT-structs, but then also implements some additional heuristics for constructing close surface object. We had a discussion with Andras Lasso (@lassoan) and Csaba Pinter (@cpinter) over email (unfortunately, not in a public forum

[2019-08-13 20:07] cpinter commented on #515
Plastimatch only provides that data reading, which is the planar contours data. There is a planar contours to closed surface conversion in SlicerRT, which is indeed very complex (I wouldn't call it heuristics; it is a deterministic algorithm). It is needed to process the RTSTRUCT **without data loss**, because direct planar contours to labelmap conversion lacks basic considerations (i.e. that the

[2019-08-13 20:16] pieper commented on #515
@shuo0220 I don't do much with RT but have known the people behind SlicerRT and plastimatch for a long time and they are world class experts who have put a lot of thought and effort into these tools.  Of course it's best to validate that any of these tools are giving what you expect, and ideally you can report back what you find out.

[2019-08-13 20:18] fedorov commented on #515
https://github.com/SlicerRt/SlicerRT/tree/master/BatchProcessing

@cpinter I am aware about the batch converter, and below is my response to essentially similar comment that either you or Andras made back in 2017, which I believe holds today:

batch mode. Running python scripts with "--run-python-script" always
has a startup cost, so it will be one time per dataset, not one time
per session; it re

[2019-08-14 04:06] fbilly945 opened #516 "ValueError: ('Label (%g) not present in mask. Choose from %s', 1, array([2], dtype=uint32))"
I‘m new in radiomics and I just encountered this value error:
   ValueError: ('Label (%g) not present in mask. Choose from %s', 1, array([2], dtype=uint32))
How can I fix the problem?

[2019-08-14 04:48] lassoan commented on #515
I've had a look at https://pypi.org/project/dcmrtstruct2nii/, and it is one of those naive implementations. It does not seem to handle keyholes, cannot intepolate between slices (which may be necessary if you want to reduce loss of accuracy due to discretization of the contours), etc. It may work well for specific workflows, but not a generally usable, robust implementation.

I agree that it used

[2019-08-14 05:27] JoostJM commented on #516
@fbilly945, This error is precisely what is stated: you selected label 1 as your ROI to extract features. However, in the mask file you supplied, no voxels have the value of "1", i.e. your ROI does not exist. In your mask, only a ROI with label value "2" is present. So if you change the value of the `label` parameter to 2, the extraction should work.

There is a small bug here though, and that is

[2019-08-14 12:45] cpinter commented on #515
This is a good point Andras about the jupyter notebooks. Maybe we should convert that batch processing command line script into a notebook.

[2019-08-14 14:45] fedorov commented on #511
@hwoodruff can you follow up on this? I am afraid you attached things to your response by email, and those are discarded by GitHub. You will need to either include links to the files on the web, or attach files directly in the issue, NOT by emailing them.

[2019-08-14 15:12] fedorov commented on #515
Great idea Andras! I think the batch use case is still important, at least for some users, but I can see how the notebook could address needs of many users. The example you mentioned would definitely be good to have.

[2019-08-14 15:57] shuo0220 commented on #515
Thank you @fedorov for cc'ing so many experts. Thank you, everyone, for all the great comments!
A notebook for batch processing would be great. I'm working in radiation oncology. I feel like our treatment planning system is also moving toward python/jupyter notebook for scripting purposes.
Thank you @lassoan for looking at the dcmrtstruct2nii, and pointing out the difference! Another general quest

[2019-08-14 16:13] aasong113 opened #517 "Pyradiomics Feature Custom Feature Extraction"
I am having troubles understanding how to customize the feature extraction so I only extract the first order and 3-D shape features.

I am running pyradiomics on terminal in Mac and I was wondering what I should add to my command or how to create a param folder if necessary.

Currently to run a single ROI with the image:

 pyradiomics 003.nrrd 7700_003.seg.nrrd -s "correctMask:TRUE" --out 003_ROI_

[2019-08-15 08:18] JoostJM commented on #517
You don't have a folder with params, but a single file, which can be passed to PyRadiomics using the -p argument. See the [documentation](pyradiomics.readthedocs.io) and the `examples/exampleSettings` folder on the github for more details and examples of this parameter file.

On a side note, if you want to extract for 1000 cases, you can use the batch mode in pyradiomics (where the input is define

[2019-08-15 14:40] aasong113 commented on #517
Joost,

Thank you for your response. I was able to get the parameter file to work
and it has cut a lot of time off, but still quite long about 7 minutes. I
will look into the batch mode processing as well.

The image is a Dose image file generated from a dose plan file for cervical
treatments. Yes, the graduate student I am working with said that last year
when he ran it, it took about 1-2 minutes

[2019-08-18 12:01] 2019lili opened #518 "Unable to install PyRadiomics via PIP (ADDITIONAL INFO NEEDED)"
Why i can't download the pyradiomics sucessfully? Could you help me?
I have upgraded the PIP, and installed the Python 3.6, however,there is no success. Thanks a lot.

[2019-08-18 12:39] pieper commented on #518
So people can help you better, please describe the steps you too, any error messages, your OS, etc.

[2019-08-19 01:56] Williamongh opened #519 "A question about 2D ROI extracting."
Hi everyone! Thanks for sharing!

Here is my question:
My CT images' thickness is different (1mm - 5mm). So I want to extract 2D features while ignoring the noise because of the difference in thickness.

How should I handle this? Will it work using code as below? :
[code]

Thank you!
Best regards.

[2019-08-19 05:19] JoostJM commented on #519
@Williamongh, yes. The effect of this is that it will resample in x and y to 1 mm, while retaining the spacing in z (whatever the size is). the force2D flag ensures PyRadiomics only uses offsets that move in-plane (i.e. not between slices).

Be aware though that the LoG filter ignores this and applies the filter in 3D (kernel is defined in mm). This only applies to the filter itself. Features extr

[2019-08-19 05:34] JoostJM commented on #517
@aasong113, If you want, you can use `memprof` to diagnose why PyRadiomics is taking so long

[2019-08-19 05:34] #517 closed

[2019-08-19 06:27] Williamongh commented on #519
Thank you @JoostJM .

It seems like features extracted from the LoG image are still affected by the thickness.
Would it be better if I apply this setting only for LoG, while other settings stay unchanged? :
[code]

[2019-08-19 07:35] JoostJM commented on #519
@Williamongh, I don't know, in this case I'd most likely go for keeping the settings the same, as this adds more complexity to the extraction, while LoG kernel is defined in mm, and therefore should already take anisotropy into account...

[2019-08-19 08:30] Williamongh commented on #519
Thanks for your reply!
I will try the steps you suggested.

Best regards!

[2019-08-25 10:28] raluca-san opened #520 "RuntimeWarning: Mean of empty slice when using radiomics.shape.RadiomicsShape"
**EDIT** i think the volume calculated might be zero. Which is weird because I have a segmentation mask which I can see with the naked eye.
[code]
I want to use the `radiomics.shape.RadiomicsShape` to extract the minimum and maximum diameters (from all the slices) of a ROI object. My ROI object is a binary segmentation mask.

I read both the `inputImage` and the ` maskImage` with `SimpleITK` and r

[2019-08-26 08:07] JoostJM commented on #520
@raluca-san, If you use the feature extractor module, instead of the feature classes directly, PyRadiomics will provide more meaningful feedback. Using the feature classes directly skips a large number of steps and preprocessing, including checking if your mask is valid (i.e. contains at least 1 voxel with the value specified in your "label" parameter).

Can you re-run using the feature extractor?

[2019-08-26 16:20] raluca-san commented on #520
@JoostJM I ran the feature extractor module. My issue was very simple, I didn't specify the label value in the settings.

this is the code as follows:
[code]

[2019-08-26 16:20] #520 closed

[2019-08-26 16:21] raluca-san commented on #516
@fbilly945  try this:
[code]

[2019-08-27 11:47] TonyTnT opened #521 "TypeError: can only be called with ndarray object"
When I want to compute glcm features, it always gets this.
The input is the path of the jpeg, and I want to compute the glcm of the 2D image. I have already read question #242 and do the following job, but I can't understand where this bug come from.
Even I run the code from your examples 'helloFeatureClass.py', it still get this error.
[code]

[2019-08-27 13:04] JoostJM commented on #521
@TonyTnT, since #242, PyRadiomics has changed and now supports 2D-feature extraction from 2D images. However, I think your issue is in the fact that your jpeg image represents a color figure (i.e. RGB, 3 values per voxel), whereas  PyRadiomics requires scalar volumes (i.e. gray-scale, only 1 value per voxel).

You can select a specific color channel from an SimpleITK image using `VectorIndexSelect

[2019-08-27 13:20] TonyTnT commented on #521
But it doesn't make sense that when I run the examples 'helloFeatureClass.py', it still get the same error.

[2019-08-27 13:23] JoostJM commented on #521
`helloFeatureClass.py` reflects how to use the featureclasses directly, which is not intended as default operating mode for PyRadiomics. The featureextractor module (as in helloRadiomics.py) implements additional checks and preprocessing. I'd advise not to run PyRadiomics using featureclasses directly, unless your interested in development and want to dive deep into the inner works of PyRadiomics.

[2019-08-28 08:59] shenghaishxt opened #522 "A question of voxel-based specific settings"
Hello, I'm trying to get a feature map and I have two question of voxel-based specific settings. The following are my settings:

    imageType:
      Wavelet: {}

    featureClass:
      glcm:
        - JointEntropy

    setting:
      binWidth: 25
      force2D: false
      label: 1

    voxelSetting:
      kernelRadius: 1
      maskedKernel: false

Now I can only calculate voxel-wise feature in

[2019-08-29 09:32] JoostJM commented on #522
@shenghaishxt, When you calculated voxel-wise, the ROI you provide determines for which voxels features are calculated. If you want them calculated in a rectangular box, you should create a rectangular ROI and use that.

Moreover, the ROI can be used to mask the kernel (i.e. the region used to calculated features for a voxel only contains voxels that are also part of the ROI), or full kernel calcu

[2019-08-29 09:32] JoostJM commented on #521
@TonyTnT, can you provide a more extensive log, so that I may see where this error is thrown?

[2019-08-29 09:43] shenghaishxt commented on #522
@JoostJM OK, thanks a lot. I will try to create a rectangular ROI and use that.

[2019-08-29 09:43] #522 closed

[2019-08-29 12:15] TonyTnT commented on #521
Thank you a lot for being so kind to help me solve this problem, it's embarrassing that I reinstall the numpy and the problem has gone away. Maybe something wrong with my numpy installation.
But I tried the way that you mentioned above to extract 2D features, it don't work.

[code]
There is no error when I run the code above, and no shape features either. And here are the results:
[code]

[2019-08-29 12:36] JoostJM commented on #521
can you add the following?

[code]

This should make the extraction more verbose (optionally, using `loggin.DEBUG` for even more feedback).

Furthermore, PyRadiomics tells you why it is not extracting shape features:

Therefore, enable `shape2D` instead of `shape`:
`extractor.enableFeatureClassByName('shape2D')`

[2019-08-29 12:54] TonyTnT commented on #521
Emm, my problem solved, maybe I'm getting blind and stupid because of my studies recently.
Thank you very much.

[2019-08-29 12:54] #521 closed

[2019-08-29 13:40] zhang-qiang-github opened #523 "results are wrong after pyinstaller"
When I run the code in pycharm, the results are OK. However, after pyinstaller, the pyradiomics can only output 21 results rather than 129.

[2019-08-29 14:14] JoostJM commented on #523
@zhang-qiang-github, please add more details about your extraction so we can better understand your error.

- Run PyRadiomics with logging (level INFO or DEBUG) enabled and post the log.
- Specify what kind of input you are using
- Specify the customization parameters you used
- What is your OS?
- Which PyRadiomics version are you running?

[2019-08-29 14:27] #242 closed

[2019-08-29 14:33] zhang-qiang-github commented on #523
I am sorry for not clear about those information.

1. I don't know how to run PyRadiomics with logging.
2. the input is a 3D volume image. 256*256*16
3. I use the default parameters
4. win 7
5. the version is 2.2.0

The code to use radiomics is:

[code]

I have print the result of radiomics, and it's clear that the radiomics calculated 129 features when I run it in python. However, after pyinstall

[2019-08-29 14:36] #510 closed

[2019-08-29 15:07] JoostJM commented on #523
please run with logging:

in interactive mode:

[code]

or on the commandline, add option `-v 4` (logging to console) and/or `--logging-level INFO --log-file pyradiomics.log` (logging to file)

See also the [PyRadiomics documentation](https://pyradiomics.readthedocs.io/en/latest/usage.html#setting-up-logging)

[2019-08-29 15:26] zhang-qiang-github commented on #523
when run the code in python, the log is:

[code]

When run the exe after pyinstall, the log is:
[code]

Also, I have upload the test code in [github](https://github.com/zhang-qiang-github/radiomicsBug). You can test it.
Environment is:
win7
python 3.7.0
pyradiomics 2.2.0
pyinstaller 3.5

[2019-08-29 15:53] JoostJM commented on #523
@zhang-qiang-github it appears that there are no features enabled

However, by default, all feature classes should be enabled if you don't use a customization file.

I'm not entirely sure what is happening, but PyRadiomics does determine the available feature classes dynamically, by reading the radiomics folder. It is possible that due to the packaging by pyinstaller, this does not work properly.

[2019-08-29 15:59] JoostJM commented on #523
Update:

It may be that PyInstaller does not know that PyRadiomics needs the feature class modules, as these are not imported by regular import statements.

In the [pyinstaller docs](https://pyinstaller.readthedocs.io/en/stable/operating-mode.html) you can read:

Whereas the feature classes are imported [here](https://github.com/Radiomics/pyradiomics/blob/master/radiomics/__init__.py#L68-L97):

[c

[2019-08-30 01:42] zhang-qiang-github commented on #523
We recommend some doctor to use the radiomics, but they can not install pyradiomics. Thus, we use pyinstaller to generate exe, and doctor can directly get the results.

I'am not sure how to run the code by using the example parameter files. Do you mean:
[code]
When I put the "Params.yaml" in the folder with exe, bug happen:
[code]

Then, I find the folder "schemas" and put it in the correct path.

[2019-08-30 02:02] zhang-qiang-github commented on #523
@JoostJM The stranger thing is: when I run the code in python, the _featureClasses returned from getFeatureClasses() contains 8 modules including 'firstorder', 'glcm', 'gldm', 'glrlm', 'glszm', ngtdm', 'shape', 'shape2D'. However, after pyinstaller, the _featureClasses returned from getFeatureClasses() contains 0 modules. I don't know the reason.

[2019-08-30 02:14] yuehailin opened #524 "[BUG]When we need to extract more images, there will be a phenomenon of calculation stagnation, do you have this situation? How did you solve it?"
**Describe the bug**
A clear and concise description of what the bug is. Please check [FAQ section](https://pyradiomics.readthedocs.io/en/latest/faq.html), PyRadiomics issues and [PyRadiomics Google Groups](https://groups.google.com/forum/#!forum/pyradiomics) to check if your bug has been encountered before. If so, but you still require additional help, please reference related issues.

**PyRadiom

[2019-08-30 04:56] JoostJM commented on #523
As you can read from my update comment, your issues are caused  by the fact that pyinstaller is unable to detect all the files PyRadiomics needs.

If you want to recommend some doctor to use pyradiomics, but don't know how to use Python/command line, I think it is easier to use PyRadiomics via the Slicer extension SlicerRadiomics.

[2019-08-30 04:58] JoostJM commented on #524
Please add the additional information as requested by this template so we are better able to help you

[2019-08-30 06:53] gmisra24 opened #525 "Failed to initialize output array for GLCM"
I tried to extract GLCM features from a CT series with RTSTRUCT (having multiple ROIs), on executing, I got a warning: "Exception ignored in: 'array_dealloc'
SystemError: <class 'DeprecationWarning'> returned a result with an error set".

Params.yaml (settings):

imageType:
  Original:
    binWidth: 0.5
  LoG:
    binWidth: 10
    sigma: [1.0, 2.0, 3.0]
  Wavelet:
    binWidth: 5

featureClass:

[2019-08-30 09:24] zhang-qiang-github commented on #523
@JoostJM Do you know what files of pyradiomics should be included by pyinstaller? I can manually copy those files.

[2019-08-30 15:06] zhang-qiang-github commented on #523
Dear @JoostJM , I think I may find the reason for this problem.
In the getFeatureClasses(), the program would find all modules from the path os.path.dirname(__file__). In path, the os.path.dirname(__file__) would be: "D:\Python\Python37\Lib\site-packages\radiomics". However, when run the exe generated by pyinstaller, the os.path.dirname(__file__) is "C:\\Users\\zhq\\Desktop\\test\\dist\\test\\radi

[2019-08-30 20:06] Mathematinho opened #526 "could not pass parameters into pyradiomics [FEAT EXTRACTION]"
**Describe the bug**
I was trying to pass the force2D keyword arguments into pyradiomics. But it seems not making any difference in the output. I still see all the 3D shape features and don't see the 2D shape features.

i tried both hard-code and using a parameter file follow the code from https://www.radiomics.io/pyradiomicsnotebook.html

neither worked.

my guess was the parameter was not passed

[2019-09-02 08:05] JoostJM commented on #523
@zhang-qiang-github, basically, you'd need everything in the `radiomics` folder and it's subfolders.

As to changing the dirname to be the other, I'd strongly advise against it, as it is mixing up 2 different Python installations, with all the possible errors/bugs. If it works, it's the exception.

If you *really* must use pyinstaller, I'd advise to dive deep into the documentation of pyinstaller

[2019-09-02 08:14] JoostJM commented on #526
@Mathematinho,

That notebook represents a very old version of PyRadiomics (check the output, it containts the version: 1.0-post17)

As to the enabled settings, that variable is now called `settings`, similarly, enabled filters is now `enabledImagetypes`. Enabled features/classes are still in `enabledFeatures`.

Finally, setting `force2D=True` does not automatically switch your shape features to 2

[2019-09-02 08:24] JoostJM commented on #525
The 'error' that is set is probably the deprecation warning, so not really an error, though I don't know which one.
Seeing as you've recieved it as a warning, did the feature extraction run correctly in other aspects?

Just being curious, how did you convert the RTSTRUCT prior to passing it to PyRadiomics?

[2019-09-03 02:47] Mathematinho commented on #526
thank you @JoostJM. problem solved.

[2019-09-03 05:22] #526 closed

[2019-09-03 06:31] gmisra24 commented on #525
thanks for the reply.
with the help of dicom images and RTStruct i have created an image mask, which i have passed to
PyRadiomics package.

[2019-09-15 11:45] indranilmallick opened #528 "How does Pyradiomics deal with several structures segmented in a nrrd file? [FEAT EXTRACTION]"
I am trying pyradiomics on a CT scan with DICOM data and a DICOM RTSS structure file. The RTSS file has several structures in it. I have successfully used plastimatch via command line to convert the dicom image files to a single 3d nrrd file and then converted the RTSS dicom file to another nrrd file.
When I perform a feature extraction with pydicom, I get some results, but it is a single set of n

[2019-09-15 22:00] shuo0220 commented on #515
@fedorov @cpinter @lassoan
Sorry to bother you all again. I have another question about the temporary nrrd files (for both label and image) during the feature extraction process of SlicerRadiomics in 3D slicer GUI. As shown in the attachment, I copied out the temporary nrrd files (before it got cleaned up) during during the feature extraction process of SlicerRadiomics in 3D slicer (green box).
Th

[2019-09-16 07:59] JoostJM commented on #515
@shuo0220, can you share the nrrd files?

[2019-09-16 08:16] JoostJM commented on #528
For each case, PyRadiomics only computes the features for 1 ROI in your mask file (identified by the value of `label`).

See also [this](https://plastimatch.org/plastimatch.html#id8) example of plastimatch. Multiple ROIs are assigned to the ith bit in the output volume, allowing for overlapping structures. Additionally, plastimatch can output a file showing your segments.

Be aware that PyRadiomic

[2019-09-16 14:24] shuo0220 commented on #515
@JoostJM Here are 2 examples of the label nrrd files. the original dicom files and image nrrd files are bigger than 10MB. I can share via Box. Thank you!
[example.zip](https://github.com/Radiomics/pyradiomics/files/3616686/example.zip)

[2019-09-16 15:41] JoostJM commented on #515
@shuo0220 I ran the following snippet to compare your labelmaps (I had to resample them to compare them properly, as there are small differences in size etc.

[code]

For both cases, this returned an output of `True`, i.e. both labels encode exactly the same ROI.

Can you run something similar on your input volumes?
Additionally, what happens when you run SlicerRadiomics using 1 input volume, but

[2019-09-16 16:04] cpinter commented on #515
Regarding the batch conversion script: it makes a difference whether you tell it to use a reference or not, see
https://github.com/SlicerRt/SlicerRT/blob/master/BatchProcessing/BatchStructureSetConversion.py#L280

It would help if you'd provide us some info about the geometries of the labelmaps that you say are different. What are the dimensions of the anatomical image? How are the labelmaps diffe

[2019-09-16 17:19] shuo0220 commented on #515
Thank you so much for your replies.
@JoostJM
I have run the code on the input volumes, and it printed True as well. The same input volume with different labels will result different results (as attached), but different volume with same labels will have the same results (features).
@cpinter
I also applied "-u" function in the BatchProcessing, the result is also included in the attached excel file.

[2019-09-17 04:42] divinediu opened #529 "Installed successfully yesterday but cannot run it today"
Hi, I tried installed both via pip and by git clone. All the commands run successfully, no error. But I can't seem to run it!

If I run via command line, I get this:
[code]

When I run via jupyter, I get this
[code]

However, yesterday, I was able to run pyradiomicsbatch
[code]
My python version:
[code]
I am using Ubuntu WSL in windows OS.

[2019-09-17 10:24] JoostJM commented on #529
If you check this `/home/MAHEUNIX/.local/lib/python3.6/site-packages` folder, can you find the radiomics package? If so, does it contain the PyRadiomics files (i.e. a `base.py`, `imageoperations.py`, etc).

If it does not contain the folder `radiomics`, then please try to reinstall using pip (ensure you are using the correct pip/python, maybe you installed using `pip install pyradiomics`, which ma

[2019-09-18 15:23] shuo0220 commented on #515
I just did a few more examples. I attached the slicer saved label maps and the temporal built label maps for the 5 examples. If I don't do the resample as @JoostJM suggested, the size of the two label maps are a little different, and it seems like the temp label maps are always bigger than the slicer saved ones. The origin is different a little bit as well.
I would assume when SlicerRadiomics extr

[2019-09-18 16:29] indranilmallick commented on #528
Thanks a lot @JoostJM
I understand the issue a lot better now.
What is still a bit confusing for me is finding out which labels represent which structure.
I had used a RTSS dicom file with 32 structures in it. The file contents are pasted below:

0|0 255 0|BODY
1|0 0 160|Vein_IVC
2|0 255 64|Vein_PV
3|255 0 0|HepVeinRight
4|255 0 0|HepVeinMid
5|255 0 0|HepVeinLeft
6|255 0 0|PortVeinLeft
7|255 0 0|P

[2019-09-19 07:58] JoostJM commented on #528
Can you share the converted mask file? Then I think I can figure out what's what.

[2019-09-19 08:49] indranilmallick commented on #528
This is the link to the .nrrd file.
https://www.dropbox.com/s/mdavn9gxk4fpt5d/abdomen_rtss1.nrrd?dl=0
Will be great if this can be figured out.

[2019-09-19 09:37] JoostJM commented on #528
The output file is indeed more or less like specified in the documentation of plastimatch. However, the datatype is uint8 (meaning 8 bits = 8 possible labels). To allow for more segments (38 in your case), the volume is transformed into a 4D volume, so 8 labels per channel.

To get something that Slicer and PyRadiomics understands, we need to do some restructuring:

[code]

This piece of code iter

[2019-09-19 09:41] JoostJM commented on #515
@shuo0220, I've taken a look at your Excel file and found the cause of your differences.

If you take a look at your settings, you'll see that you have enabled resampling to `[1, 1, 1]`. This means that PyRadiomics has to define a new grid of points and calculate values at those points. Although in all cases, your grid will have the same spacing, the alignment will be slightly different.
In PyRadi

[2019-09-19 09:49] JoostJM commented on #525
How did you perform the conversion? did you use plastimatch? 3D slicer?
Can you share the nrrd files you used that caused this error?

[2019-09-19 09:53] JoostJM commented on #513
@edoelas have you made any progress investigating this issue?
A completely flat texture (i.e. just one gray value) does produce outlier values/errors as the variance is 0, and would lead to 0-division is certain features (mostly, in these cases an arbitrary value is returned)

[2019-09-19 09:53] #509 closed

[2019-09-19 09:54] #502 closed

[2019-09-19 09:55] #494 closed

[2019-09-19 09:57] JoostJM commented on #523
@zhang-qiang-github Have you been able to solve your issue?

[2019-09-19 10:35] indranilmallick commented on #528
Thanks a ton! @JoostJM
Works beautifully. Checked on Slicer and python output.
You have saved me hours of work, making new exports from the planning system. Really appreciate this.

[2019-09-19 10:51] JoostJM commented on #528
Happy to help

[2019-09-19 10:51] #528 closed

[2019-09-20 01:38] zhang-qiang-github commented on #523
@JoostJM I find a very stupid solution. In the __init__ of pyradiomics, I directly import all the modules instead of dynamically importing. Those, the exe after pyinstaller would be OK.

[2019-09-20 08:58] JoostJM commented on #523
@zhang-qiang-github that works, but is not the spirit of PyRadiomics. The dynamic import is there to simplify the addition of new or experimental modules (i.e. you just have to dump the module file in the folder). Directly importing works, but requires you to update it everytime you make changes to the featureclasses.

[2019-09-20 09:01] JoostJM commented on #523
@zhang-qiang-github, beware however, that this may fix your issue with the feature classes, but does not fix the problem of additional missing files (in this case, mainly the files needed for parameter file validation). I still recommend you dive into the docs of PyInstaller to see how to add the additional files (basically, everything inside the `radiomics` folder, with the exception of the C sou

[2019-09-20 18:15] edoelas commented on #513
I just wanted to test if this library suite my needs (and it is a great library, but my needs are really weird) so I just modified the slightly the value of one pixel.
I commented this because if the user is not aware of this problem it may lead to try to find an error that does not exists in its own code. Or even worse, if it is like my case, where I was analyzing three thousand images and two of

[2019-09-23 18:36] shuo0220 commented on #515
@JoostJM Thank you for pointing out this. The difference was gone when the resampling is disabled.
Was the alignment difference because of the small difference in size between the two label maps, like you previously mentioned that you have to resample the label maps to compare them properly?

Also, I feel we have to use resampling in order to have a fair comparison among patients due to different

[2019-09-24 08:11] JoostJM commented on #515
Yes, because the origin was different, the corner was different too, causing a mismatch in alignment during resampling.

I fully agree that resampling is a necessary part to deal with voxel anisotropy.
Both methods are reliable, though I'd advise to use one method throughout your dataset.

I am looking into the function itself to see if I can deal with the alignment issue.

[2019-09-24 13:32] shuo0220 commented on #515
@JoostJM Thank you so much for all your suggestions and help!

[2019-09-25 07:56] #515 closed

[2019-09-25 07:57] JoostJM commented on #529
@divinediu, Did you solve this issue?

[2019-09-25 07:58] #523 closed

[2019-09-25 07:58] #485 closed

[2019-09-27 16:00] bigtaotao opened #530 "When I compute over 6,000 pictures there will be a phenomenon of calculation stagnation"
hello ，I have the same problem，When I compute over 6,000 pictures there will be a phenomenon of calculation stagnation，i use terminal “pyradiomics 32.33_in.csv -j 32 -o out.csv -f csv”and Two days later it got stuck

**PyRadiomics configuration**
command lines：“pyradiomics 32.33_in.csv -j 32 -o out.csv -f csv”
configruation is  default
**PyRadiomics log file**
it output nothing
**To Reproduce**
py

[2019-09-29 06:10] kevin-why opened #531 "How to get the features from several labels as a whole"
**Describe the bug**
When I use the pyradiomics，I wonder how to merge several labels into one label.(There are 4 labels in my test image, I need to extract the features of them as a whole)

**PyRadiomics configuration**
I used the 【Params.yaml】download from here, I tried to modify the label number in the file.
【label:1→label：1,2.3.4】but unfortunately it doesn't work.

**Version (please complete th

[2019-09-30 08:38] JoostJM commented on #531
@kevin-why,

currently, this is not possible if you use PyRadiomics on the command-line. However, in interactive Python it'll be quite easy:

[code]

[2019-09-30 08:43] JoostJM commented on #530
@bigtaotao, are all you images same size? otherwise it's possible optimization shifts larger images further back in the queue, making it seem that the calculation slows down, whereas it merely takes longer due to larger input size.

If not, or the difference is too large. How much RAM do you have? Is there a (very) large increase as the extraction runs on (some increase is expected: it retains the

[2019-09-30 11:11] bigtaotao commented on #530
I have 314G memory and I tried giving it CSV with 8 sets of images and using -j 8, it only USES 2 cores and it's still stuck.Almost every image is 300X900

[2019-09-30 11:46] bigtaotao commented on #530
i use this to convert png to nrrd and create mask.nrrd
`def make_mask_and_3d(img_path):
    image_3d = img_path.split(".")[0] + "_3d.nrrd"
    image_3d = new_img_root + image_3d[len(img_root):]
    os.makedirs(os.path.split(image_3d)[0],exist_ok=True)
    mask = img_path.split(".")[0] + "_mask.nrrd"
    mask = mask_root + mask[len(img_root):]
    os.makedirs(os.path.split(mask)[0],exist_ok=True)

[2019-10-04 12:50] nataschadam opened #532 "pyradiomics with two roi in one mask"
Hello! I need to extract features with pyradiomics from two different roi in one mask ( two adiacent but distinctive tumour areas). Both have label 1.
I prepared three lable masks, the first with lesion a, the second with lesion b and a third with both a and b.
I would like to compare the features I get with the single segmentations and with both.
Pyradiomics works fine with the single rois but gi

[2019-10-06 19:51] rmsandu opened #533 "What's the unit of measurements for major/minor/least axist and volumes?"
Sanity check, if you could please help me.

The unit of measurement for axis features is **mm** and for volumes is **ml**?

[2019-10-07 08:12] JoostJM commented on #533
Yes and no, all the shape measurements are, in a way, based on the physical coordinates of the volume. As spacing in the volume is expressed in mm, all distances are mm, surface areas are mm^3 and volume is in mm^3 (or **ul**). To transform volume to cm^3 (**ml**), divide by 1000.

[2019-10-07 08:27] JoostJM commented on #532
@nataschadam, For some reason, your geometric information (origin, direction, spacing) is different between the ROI files. I suspect the error is for sure in origin (but possibly more of those parameters).

To explain this: PyRadiomics views images as arrays of pixel data representing a volume in real-world space. In addition to the values of the pixels, it also uses information on the distance be

[2019-10-07 10:29] nataschadam commented on #532
dear @JoostJM thank you for your help. now that I was sure that the problem was related to the mask origin and not the fact that I had two roi in one mask I reopened the  mask with 3D Slicer and used the same lable value for both roi. (lable=1) . ( I ckecked the images origin of the original image and the mask and it's the same)
![example of image with two roi](https://user-images.githubuserconten

[2019-10-07 11:40] JoostJM commented on #532
@nataschadam, Can you also add the diagnostic information (especially the voxelNum s and volumeNum s), as well as Volume (both VoxelVolume and MeshVolume)?

[2019-10-07 11:42] JoostJM commented on #532
Moreover, you can also extract features directly in Slicer using SlicerRadiomics extension.

My suggestion would be to also try to import your labelmap (from your image) into a segmentation and then use the islands effect. Finally, use the resulting segmentation (with different segments for your ROIs) to calculate features.

[2019-10-07 12:07] nataschadam commented on #532
Hello @JoostJM yes of course:

roi | diagnostics_Mask-original_VoxelNum | diagnostics_Mask-original_VolumeNum | original_shape_MeshVolume | original_shape_VoxelVolume
--| -- | -- | -- |--
a| 1 | (308.50086281276964, 305.07506471095775, 69.19413287316652) |21.79618 |-254
b| 1 | (304.1511879049676, 358.80829373650107, 75.90741540676746)|55.00987|-56
c(a+b)|2 | (304.4233728369733, 355.4458872121588,

[2019-10-07 13:03] JoostJM commented on #532
@nataschadam, How exactly do you compute your results? And how do you view them? This output looks misaligned to me (the entries at voxelNum seem to be volumeNum, and volumeNum a center point, or origin)

[2019-10-07 13:09] nataschadam commented on #532
@JoostJM these are my results, The last row corresponds to the segmentation with the two ROIs..[ProvaFeaturesConfrontoA_B_C.txt](https://github.com/Radiomics/pyradiomics/files/3697411/ProvaFeaturesConfrontoA_B_C.txt)

Thank you very much for your help!!!

[2019-10-07 13:58] JoostJM commented on #532
@nataschadam,your results are misaligned by 1. If you shift all 3 rows by 1 to the right, then everything matches up, and both volume and surface area of the 2 rois combined matches the results of the first ROI added with the results of the 2 ROI.

The cause of this misalignment is that you have a column 'patient' at the start, but which contains no data.

[2019-10-07 14:04] nataschadam commented on #532
@JoostJM thank you very much... I feel so stupid !!! thanks again for your help and time!bye bye

[2019-10-07 14:06] #532 closed

[2019-10-07 20:28] abhinandanbatra opened #534 "Creating an image map based on specific texture feature"
Hi, I was wondering if pyradiomics allows to create image map based on specific texture features. For example entropy, GLCM.

[2019-10-08 06:26] JoostJM commented on #534
Yes, PyRadiomics support both segment-based (default, 1 value /p feature /p ROI) and voxel-based (1 value /p feature /p voxel in the ROI --> yields feature maps). See the documentation at pyradiomics.readthedocs.io for instructions on how to use it (especially sections "Usage" and "Customizing the extraction")

[2019-10-08 16:44] abhinandanbatra commented on #534
Hey, Thanks for the response. Is there an example that I can use

[2019-10-08 18:54] abhinandanbatra commented on #534
Hi, I am running voxel segment based feature extraction. Based on what I have understood you have to run voxel based extraction to extract feature maps. I am trying to run the voxel based extraction but the code crashes. Can you help. Here is the code that I am using

`    extractor.disableAllFeatures()
            extractor.enableFeatureClassByName('firstorder')
            extractor.getFeatureNa

[2019-10-09 05:46] JoostJM commented on #534
@abhinandanbatra, can you share some details as to the nature of the crash? I.e. the error and stacktrace would be helpful, and a PyRadiomics log file even more so.

[2019-10-09 05:47] JoostJM commented on #534
As to an example, the PyRadiomics github repository contains a folder `examples`, which also contains an example for voxel-based extraction: `helloVoxel.py`

[2019-10-09 20:58] abhinandanbatra commented on #534
@JoostJM . I was able to run the voxel based extraction. I opened the .nrrd files for first order texture in slicer and they all look same for all the features. Am I doing something wrong? Here is the code. Also, attached are the maps that I got
![Screen Shot 2019-10-09 at 4 57 08 PM](https://user-images.githubusercontent.com/46456660/66519773-eeecfe80-eab5-11e9-899b-195fd2ca9f55.png)
![Screen Sho

[2019-10-11 08:43] JoostJM commented on #534
@abhinandanbatra, can you run using the PyRadiomics Command line and add logging ( `pyradiomics <path/to/image> <path/to/mask> -p <path/to/params.yml> --mode voxel --log-file=pyradiomics.log --logging-level=DEBUG`?

Additionally, how do you instantiate the extractor? Are you using just default settings?
The feature maps look like flat regions (all values the same), but are the values of kurtosis e

[2019-10-11 17:54] abhinandanbatra commented on #534
I am using default setting. I just changed the bin width 0.007 and correct mask to "True". If I run the features maps based on other feature set I get an output. I ran just for ngtdm and got the following output for busyness and strength
<img width="315" alt="ngtdm busyness" src="https://user-images.githubusercontent.com/46456660/66673181-0bac4200-ec2e-11e9-9cee-322aaae46816.png">
<img width="314"

[2019-10-15 08:07] JoostJM commented on #534
Look at your version of PyRadiomics, it's 2.1.1. If you upgrade to the latest version, your firstorder should then be fine.

[2019-10-16 06:04] zexllin commented on #361
how to use stk-snap to make mask

[2019-10-16 07:59] JoostJM commented on #361
@zexllin, I myself use 3D Slicer for segmenting images, so I'm afraid I can't really help you with ITK snap. Still, [here](http://www.itksnap.org/pmwiki/pmwiki.php?n=Train.RSNA2017) is a tutorial for ITK snap that may be able to answer your question.

[2019-10-16 08:20] zexllin opened #535 "can i use one mask for much CT image"
**Describe the bug**
A clear and concise question regarding your extraction. Please check [FAQ section](https://pyradiomics.readthedocs.io/en/latest/faq.html), PyRadiomics issues and [PyRadiomics Google Groups](https://groups.google.com/forum/#!forum/pyradiomics) to check if your question has been encountered before. If so, but you still require additional help, please reference related issues.

*

[2019-10-16 16:18] abhinandanbatra commented on #534
He Joost I upgraded pyradiomics but now I am getting this error

module 'radiomics.featureextractor' has no attribute 'RadiomicsFeaturesExtractor'

[2019-10-16 16:39] abhinandanbatra commented on #534
hey sorry to bother you. i found the issue its extra "S" in features

[2019-10-17 08:20] JoostJM commented on #534
@abhinandanbatra That's indeed a fairly recent change to make the class name more consistent with the module name.

[2019-10-30 02:50] #415 closed

[2019-10-30 02:59] Williamongh commented on #519
Excuse me. @JoostJM
If I set force2D to `False` (I want to do wavelet filter on the whole volume), when I decide the resampling spacing, should I have to make a compromise between in-plane spacing and thickness? Or just consider the xy-plane, and just set the z-axis resampling spacing the same.

[2019-10-30 02:59] Williamongh commented on #519
Excuse me. @JoostJM
If I set force2D to False (I want to do wavelet filter on the whole volume), when I decide the resampling spacing, should I have to make a compromise between in-plane spacing and thickness? Or just consider the xy-plane, and just set the z-axis resampling spacing the same.

[2019-10-30 09:47] JoostJM commented on #519
@Williamongh, usually, I go for a compromise. That way, I try not to throw away to much information (downsampling in xy), while also not adding to much interpolation (upsampling in z).

[2019-10-30 10:54] Williamongh commented on #519
OK thank you!

[2019-10-30 10:54] #519 closed

[2019-11-08 14:52] aislam388 commented on #352
Hi, i am confused which folder to delete fro this problem? I have a clone folder of pyradiomics at my desktop and then in site-packages, i have a folder name radiomics and another named radiomics-0.1.dist-info.
In the radiomics folder of site-packages, I have a folder named__pychache__ and two file named __init__ and features.
Which folder should i delete?

[2019-11-08 15:15] JoostJM commented on #352
@aislam388 Did you copy-paste the pyradiomics folder into site-packages?
Best practice is to use `pip`, the python package manager.
You should have a site-packages without any radiomics, pyradiomics or like-named folders, and then intall pyradiomics by `pip install pyradiomics` or running `python setup.py install` from the clone of the pyradiomics repository (which can be located anywhere on your

[2019-11-09 12:28] aislam388 commented on #352
@JoostJM  I did not copy-paste the pyradiomics folder into site-packages. And I installed it through pip as well as cloned the folder from github. I was also having error of C  extensions thats why i cloned it.
Now I have removed (py)radiomics folders from sike packages through pip uninstall. and i have run python setup.py install from cloned pyradiomics folder through anaconda prompt, but it says

[2019-11-10 05:16] GJjason opened #537 "About（'Label (%g) not present in mask. Choose from %s', 1）"
After use plastimatch, the RTstruct image have this problem, so I want to use resample. But it still has this problem. The image does not match the template. How can I do next step?

[2019-11-11 03:14] IAmAWildCard opened #538 "A Typo in Documentations' Usage Example: Should be RadiomicsFeatureExtractor"
The sample code on [pyradiomics docs](https://pyradiomics.readthedocs.io/en/stable/usage.html) does not work:
`extractor = featureextractor.RadiomicsFeaturesExtractor(params)`
It is actually RadiomicsFeatureExtractor. Thanks.

[2019-11-11 09:04] JoostJM commented on #352
@aislam388, what was the C error you got that your pip installation did not work?

As to the error you're getting: If you build PyRadiomics from source, you'll need the correct C-compiler setup so Python can find it. See [here](https://pyradiomics.readthedocs.io/en/latest/faq.html#during-setup-python-is-unable-to-compile-the-c-extensions).

[2019-11-13 11:38] mangguoxia opened #539 "[FEAT EXTRACTION] Normalization of dynamic contrast enhancement image"
Hi,

I want to extract gradient features of dynamic contrast enhancement volumes.
The dynamic contrast enhancement images are in 4D, acquired in a certain period of time.
The brightness of the tumor will get higher and higher over time, so the gradient around the tumor edge also get higher and higher over time.

I want to extract the gradient features with different phases(time).

However, there a

[2019-11-13 11:44] JoostJM commented on #539
@mangguoxia, IMHO, you'd have 2 options:

 1. Normalize a specific timepoint (e.g. timepoint 0) and use the mean and std to scale all other timepoints
 2. Normalize by calculating the mean and std of the volume as a 4D volume (i.e. all timepoints together)

Both approaches would require you to do this outside of the PyRadiomics loop. The easiest would be to make a pre-processing script which does

[2019-11-13 11:57] mangguoxia commented on #539
@JoostJM Thanks for your quickly reply !

Is it feasible to normalize by calculating the mean and std of each timepoint separately?
I 'm wondering whether this method will loss the gradient changing information over time.

[2019-11-13 12:12] JoostJM commented on #539
@mangguoxia,

I suspect that this would indeed lose your gradient changing information over time, as the overall intensity changes due to the wash-in/out of contrast fluid. Normalizing each timepoint separately would remove these overall differences, forcing all into more-or-less the same range.

[2019-11-25 14:02] JoostJM commented on #537
Resampling will not fix this error, as it is due to the fact that the label (1) is not present in your mask. It is possible the mask is empty. My advise would be to visually check the result of the conversion, e.g. by using Slicer.

[2019-11-30 22:57] acseckin opened #540 "What do I need to do to use the module directly?"
I want to extract a feature from an image or patch **without Simpleitk** library; but all examples route me to the use of Simpleitk. I'm developing applications with OpenCV and I don't want to use simpleitk (if it is possible). What is the aim of mask?  scikit-image librery doesnt need any mask (https://scikit-image.org/docs/dev/auto_examples/features_detection/plot_glcm.html). **Can you share an

[2019-12-03 09:09] JoostJM commented on #540
SimpleITK is used, as this also contains the geometric data, such as spacing, origin and direction. Furthermore, much of the preprocessing (e.g. resampling, normalization) is also done using SimpleITK.

The mask identifies the region in the image for which the texture should be calculated. In the example you shared, you have to extract this region yourself (`patch`). Furthermore, by identifying th

[2019-12-03 09:12] JoostJM commented on #540
Inside the feature classes, the images are converted to numpy arrays prior to feature calculation. These arrays serve as input to the C-extensions that calculate the texture matrices, and it's result is used for feature calculation.

So if you want to use PyRadiomics code, you'd have to make a copy of a feature class module, and rewrite the initialization function to accept numpy input. This will

[2019-12-06 08:38] raz1 opened #541 "Installation issue"
I try to install pyradiomics on Anaconda 2019.10/Python 3.7 version using the command: conda install -c radiomics pyradiomics

I get this error:

_(base) C:\Users\Asher>conda install -c radiomics pyradiomics
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from cu

[2019-12-10 06:32] JoostJM commented on #541
First try to install it in a separate (new) environment.
This error basically tells you that there are discrepancies between installed and required version of some packages PyRadiomics depends on

[2019-12-10 06:35] JoostJM commented on #541
Alternatively, you can force updating the dependencies by specifying `--all`.

For more tips and tricks, see the conda install [documentation](https://docs.conda.io/projects/conda/en/latest/commands/install.html)

[2019-12-11 17:06] AngieDavey opened #542 "A fixed minimum value in getBinEdges to follow IBSI recommendations"
Hello,

I was wondering if it could be possible to implement an alternative option in the 'getBinEdges' function that will allow a fixed minimum value to be set (as the default calculates the minimum from segmented voxels).

This would allow for a consistent minimum value across multiple data-sets without needing to define a re-segmentation minimum that is greater than or equal to the largest mini

[2019-12-11 17:57] GitHub-username-hyphen opened #543 "[FEAT EXTRACTION] Pyradiomics vs TCIA-GBM Datasets"
Hi all,

New to programming but looking into using Pyradiomics for feature extraction. I am comparing the features generated from Pyradiomics to those released by the [TCIA for glioblastomas](https://wiki.cancerimagingarchive.net/display/DOI/Segmentation+Labels+and+Radiomic+Features+for+the+Pre-operative+Scans+of+the+TCGA-GBM+collection).

**Describe the bug**
Images/Labels were downloaded from TC

[2019-12-11 21:54] fedorov commented on #543
Radiomics features are sensitive to a number of configuration parameters, and, in general, and unfortunately, it is hard in practice to achieve consistent feature values across different implementations. You may want to contact the authors of the feature set you are using in comparison to get access to their implementation. First step would be to check if you can obtain the same feature values as

[2019-12-11 21:58] #538 closed

[2019-12-11 21:58] fedorov commented on #538
Thank you, this should be fixed now.

[2019-12-11 22:26] fedorov commented on #535
Can you please try to make your question more clear?

[2019-12-18 07:31] raz1 commented on #541
I perfromed:
conda update  --all and updated all.
later
conda install -c radiomics pyradiomics

Still problems:
(base) C:\Users\Asher>conda install -c radiomics pyradiomics
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry wit

[2019-12-18 15:38] KathrynSch opened #544 "[BUG] When resampling pixel spacing"
**Describe the bug**
Using the feature extractor on a 2D image with 2D mask raises a `ValueError` in the `resampleImage` of  `imageoperations.py`:
`could not broadcast input array from shape (3) into shape (2)`.
This error is raised when the image and mask original pixel spacing equals to the `resampledPixelSpacing` defined in the feature extractor settings.
The image and mask are of size (512, 51

[2019-12-19 13:17] TimZaragori commented on #498
Hi everyone,
I face the same problem. I wanted to use pyradiomics as it is often used in radiomics publications but wanted to have the same values as IBSI benchmark.
I try to work around resampling to make it IBSI compliant and got results which are closer to benchmark eventhough there is still some features that are not in tolerance range ([Benchmark_IBSI.xlsx](https://github.com/Radiomics/pyradi

[2019-12-24 11:46] JoostJM commented on #498
@TimZaragori,

That is correct. As I mentioned above, all technical differences between current IBSI definitions and PyRadiomics have been investigated. To deal with the differences and see if PyRadiomics could match IBSI, I created 2 functions to drop in place of resampling and discretization, matching IBSI definitions:

[code]

This code can be run, and will function as the PyRadiomics command l

[2019-12-24 11:48] JoostJM commented on #544
Thanks for catching this! Do you want to make a pull request proposing this change?

[2019-12-30 13:02] KathrynSch commented on #544
sure

[2020-01-01 07:17] janebat opened #546 "convert jpg to nrrd"
I have an image that I wish to perform on all of it GLCM and GLRLM. I can not find how to convert the the gray image to nrrd and perfom the features. Furthermore, is there a better way to load (I used a URL just for accessibility, it would be fine also to load from HDD) and convert an image to gray using pyradiomics functions?

Code:
from skimage import io
from skimage.color import rgb2gray

impor

[2020-01-04 12:31] GiulioBen opened #547 "Multithread not working propely"
Dear all, thank you for this nice tool, I'm really appreciating it.

I pose you my doubts, since I cannot find an answer elsewhere:

I'm working with a batch of about 400 image+mask combos (in a csv file) and I'm using a small computer for the computation. Since I want to scan about 50 binWidth/binCounts I'm trying to optimize the extraction in parallel.

Specifically I wrote a bash script to scan

[2020-01-04 13:28] jvanlunenburg commented on #547
Yes it's normal. This is unrelated to PyRadiomics.

[2020-01-04 14:29] GiulioBen commented on #547
Thank you for the cryptic response. Is there a way to solve it? Is there a reason?
Is it common?

[2020-01-04 14:37] jvanlunenburg commented on #547
Yes to all three of those questions. How's that for cryptic?

[2020-01-04 14:42] GiulioBen commented on #547
I'm using ubuntu 19.4. Is it related to the OS? In this case I can close the thread.
I've already checked the UEFI to look for powersaving settings to disable....

What could I do? Thank u and happy new cryptic year.

[2020-01-04 14:59] jvanlunenburg commented on #547
It's related to how CPUs and software work in general.

 100% CPU core utilisation is uncommon because processes typically need to wait for each other. If you had a single core machine it probably wouldn't reach a persistent 100%, because code needs to wait for memory access, network, etc. And in the case of your python script the cores are probably also being swapped to other processes by the ker

[2020-01-04 20:19] GiulioBen commented on #547
So you're telling me that if I start 24 different pyradiomics instances with -j 1 I'll obtain the same effect, isn't it?
I'm not so sure about that, I guess it's something related to the disk access for read/write or something else..

[2020-01-05 20:14] GiulioBen commented on #547
At the end I decided to use a manual check to launch a new pyradiomics extraction every time the CPU drops below 70%.
Now I always have a reasonable CPU usage (>50% with all the logical units, i.e. always 100% utilization)

`wait4CpuReady () {
  cpuUsed=5 #debouncer
  while  [ ${cpuUsed} -gt 0 ] || [ $(top -b -n1 | grep "Cpu(s)" | awk '{print $2 + $4}') -ge 70 ]
  do
    sleep 5
    if [ ${cpuUsed

[2020-01-05 20:14] #547 closed

[2020-01-06 14:20] TimZaragori commented on #498
@JoostJM Are you interested in implementing other features from IBSI such as Intensity Volume Histogram features and local intensity features? I worked on implementing them in python with SimpleITK/numpy

[2020-01-07 14:51] GiulioBen opened #548 "[Image Resampling] Different mask and image spacing, are both resampled?"
I have an image and a mask (NRRD) with the following spacings.

Image

Mask

The mask spacing is much finer than the image one, since it originates from an automatic segmentation. However, considering the origin and size, the mask cover the lesion (ROI)

Starting the extraction with "resampledPixelSpacing": [0.9, 0.9, 0.9] i obtain the following INFO:

`[2020-01-07 15:20:29] I: radiomics.imageoper

[2020-01-07 17:05] JoostJM commented on #548
@GiulioBen, for feature extraction to work, Image and Mask are obligated to be in the same image space. Even if you don't enable resampling, you'll still need to translate the mask to the image space.

This is due to the fact that further on in PyRadiomics, image and mask are converted to numpy arrays, which loses the geometric information (not needed anymore at that point).

So this output tells